<% content_for :title do %>
  Syftet Blog | Best IT Solution & Web Development Company Bangladesh
<% end %>
<% content_for :meta_title do %>
  Syftet Blog | Best IT Solution & Web Development Company Bangladesh
<% end %>

<!-- Parallax header-->
<%= render 'blogs/shared/header' %>

<!-- Blog post -->
<section class="bg-default section-md">
  <div class="maincontent blog-page page-post blog-page-new main_content">
    <div class="container">
      <div class="row blog-margin">
        <div class="col-md-9 blog-index" style=" padding-right: 15px !important; padding-left: 15px !important;">
          <% if @blogs.present? %>
            <% @blogs.each do |blog| %>
              <div class="blog-post-new">
                <a href="<%= blog_path(blog) %>">
                  <%= image_tag blog.banner_url, width: '324px', height: '234px', alt: "#{blog.title}", class: "image-blog-post wp-post-image"  %>
<!--                  <img width="1024" height="534" src="https://cdn.shortpixel.ai/client/q_lossless,ret_img,w_1024,h_534/https://existek.com/wp-content/uploads/2021/02/1.jpg" class="image-blog-post wp-post-image" alt="<%#= blog.title %>" sizes="(max-width: 1024px) 100vw, 1024px">-->
                </a>
                <div class="date-blog-post"><%= blog.created_at %></div>
                <a class="title-blog-post" href="<%= blog_path(blog) %>"><%= blog.title %></a>
                <div class="short-text-blog-post">
                  <p blog-margin><%= blog.sub_title %></p>
                </div>
                <div class="more">
                  <a href="<%= blog_path(blog) %>" class="learn-more">Read More</a>
                </div>
              </div>

        <% end %>
        <% end %>
        </div>
        <div class="col-md-3 block-sidebar-right">
          <div class="block-fixed mobile-block-fixed fixed-2">
            <div class="discuss-new" style="border: 1px solid rgb(255, 255, 255);">
              <div class="contact-form">
                <div role="form" class="wpcf7" id="wpcf7-f55-o1" lang="en-GB" dir="ltr">
                  <div class="screen-reader-response"></div>
                  <div id="contactform-cont-us-id">
                    <div class="title-sidebar-text">Discuss Your Project</div>
                    <div class="description-sidebar">Syftet is a professional software development service company.
                      <p>Tell us about your needs and we’ll be happy to help.</p>
                    </div>
                    <%= form_for @contact, url: start_project_path, id: 'contactid', class: "wpcf7-form", novalidate: "novalidate", remote: true do |form| %>
                        <span class="wpcf7-form-control-wrap text-sms">
                          <%= form.text_area :message, id: 'messageid', rows: '7', required: true, class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required", aria: { required: "true", invalid: "false" }, placeholder: "Describe your project *"  %>
                        </span>
                      <span class="wpcf7-form-control-wrap your-name">
                          <%= form.text_field :name, id: 'textid', required: true, size: "40", class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required", aria: { required: "true", invalid: "false" }, placeholder: "Your Name *"  %>
                        </span>
                      <span class="wpcf7-form-control-wrap your-email">
                          <%= form.email_field :email, id: 'emailid', required: true, size: "40", class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required", aria: { required: "true", invalid: "false" }, placeholder: "Your Email *"  %>
                        </span>
                      <span class="wpcf7-form-control-wrap text-phone">
                          <%= form.text_field :telephone, id: 'telephoneid', required: true, size: "40", class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required", aria: { required: "true", invalid: "false" }, placeholder: "Phone"  %>
                        </span>

                      <span class="wpcf7-form-control-wrap ">
                        <%= form.submit "Send The Message", class: "wpcf7-form-control wpcf7-submit", id: "contact-form-submit" %>
                        </span>
                      <p></p>

                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Divider-->
<div class="container">
  <div class="divider"></div>
</div>
<!-- Pagination -->
<section class="section-sm text-center">
  <div class="container">
    <!-- Classic Pagination-->
    <%= paginate @blogs %>
    <!--<nav>-->
    <!--<ul class="pagination-classic">-->
    <!--<li><a href="#">Previous Page</a></li>-->
    <!--<li class="active"><span>1</span></li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">Next Page</a></li>-->
    <!--</ul>-->
    <!--</nav>-->
  </div>
</section>
<!-- Page Footer-->
<%#= render 'shared/footer' %>

<!--<script>-->
<!--    jQuery(function($) {-->
<!--        $(window).scroll(function fix_element() {-->
<!--            $('#target').css(-->
<!--               $size = $(window).scrollTop() > 700-->
<!--                    ? { 'position': 'fixed', 'top': '10px', 'right': '15px'}-->
<!--                    : { 'position': 'relative', 'top': 'auto', 'right': '15px' }-->
<!--            );-->
<!--            return fix_element;-->
<!--        }());-->

<!--    });-->
<!--</script>-->
