<% @blogs.each do |blog| %>
  <div class="col-md-6 col-sm-6 col-xl-4x">
    <article class="post-classic post-minimal">
      <% if blog.banner.present? %>
        <div class="post-img-wrap">
          <%= link_to blog_path(blog), class: 'post-img-wrap' do %>
            <%= image_tag blog.banner_url, alt: '' %>
          <% end %>
        </div>
      <% end %>
      <!--<img src="images/blog-image-1-886x668.jpg" alt="" width="886" height="668"/>-->
      <div class="post-classic-title post-classic-title-icon linear-icon-star">
        <h6>
          <a href="<%= blog_path(blog) %>"><%= blog.title %></a>
        </h6>
      </div>
      <div class="post-meta">
        <div class="group">
          <strong class="meta-author">
            <% if  (Time.now - blog.created_at) / 1.hour < 24 %>
                <time> <%= time_ago_in_words(blog.created_at) %> ago</time>
               <% else %>
                <time><%= blog.created_at.strftime("%d  %b,  %Y") %></time>
              <% end %>
          </strong>
          <strong>by <%= blog.author.capitalize %></strong>
        </div>
      </div>
      <div class="post-classic-body">
        <p>
          <%= truncate( strip_tags( blog.content ), length: 150, omission: '  ' ) { link_to "Read More...", "#{ blog_path( blog ) }" } %>
        </p>
        <%= social_share_button_tag(blog.title, :allow_sites => %w(twitter facebook email linkedin)) %>
      </div>
    </article>
  </div>
<% end %>