<% content_for :title do %>
  <%= @portfolio.title %> | Syftet Limited
<% end %>
<% content_for :meta_title do %>
  Best Software Development Company in Bangladesh | Syftet
<% end %>

<div class="custom custom-software-dev">
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1><%= @portfolio.title %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<section class="section-md">
  <div class="container">
    <% @portfolio.portfolio_photos.each_with_index do |portfolio_photo, index| %>
      <div class="mySlides">
        <div class="numbertext"> <%= index + 1 %> /<%= @portfolio.portfolio_photos.count %>  </div>
        <%= image_tag portfolio_photo.image_url, class: "portfolio-show-main-image", alt: "#{@portfolio.title}" %>
      </div>
    <% end %>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="row">
      <% @portfolio.portfolio_photos.each_with_index do |portfolio_photo, index| %>
        <div class="column">
          <%= image_tag portfolio_photo.image_url, class: 'portfolio-show-sub-image', onclick: "currentSlide(#{index + 1})", alt: "#{@portfolio.title}"  %>
        </div>
      <% end %>

    </div>
  </div>
</section>

<section class="bg-gray-lighter">
  <div class="explore-our-exp-title-wrapper">
    <div class="container">
      <div class="portfolio-details-section">
        <h4 class="portfolio-details-title">About <%= @portfolio.title %></h4>
        <p class="portfolio-margin-left" style="text-align:
          left;margin-bottom: 20px;
          margin-top: 10px !important;
          font-size: 20px !important;
          line-height: 1.34783;
          font-weight: 400;
          letter-spacing: .01em;
          color: #333;">
          <%= @portfolio.content %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-default section-md ">
  <div class="container">
    <div class="row-block">
      <h4 style="padding-top: 0 !important;">Team Size & Project Duration</h4>
      <div class="text-header-service content-page web-page" style="padding: 10px 0 !important;">
        <p>
          <span style="font-size: 20px;">Team Size:</span><%= @portfolio.team_size %> Developers <br>
          <span>Project Duration:</span> <%= @portfolio.project_duration %></p>
      </div>
    </div>
  </div>

  <div class="container">
      <h4 class="portfolio-details-title">Technology We Use</h4>
      <div class="text-header-service content-page web-page" style="padding: 10px 0 !important;">
        <p class="portfolio-margin-left">
          <span style="font-weight: 400;">
            <span style="font-weight: 400;">
              We are very professional and develop software using all the latest tools. We believe that software can be heavily reliable , enrich functionality and come with heavy security. Our experts have years of experience in using the latest programming tools for the development of applications which come with a lot of quality features.
            </span>
          </span>
        </p>
      </div>
  </div>

  <div class="container">
    <div class="service" id="service_16">
      <div class="row">
        <% @portfolio.portfolio_technologies.each do |portfolio_technology| %>
          <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage">
                  <div>
                    <%= image_tag portfolio_technology.technology.logo_url, alt: portfolio_technology.technology.name %>
                  </div>
                </div>
              </div>
              <div class="text-center col-name">
                <h4><%= portfolio_technology.technology.name %></h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section-md bg-gray-lighter">
  <div class="desktop-soft-button " style="margin: 0px; padding: 0px">
    <a href="<%= @portfolio.url %>" target="_blank">
      <button class="full-case-study-butt">
        <div> Visit <%= @portfolio.title %></div>
      </button>
    </a></div>
</section>

<section class="section-md bg-default">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render 'homes/shared/start_project_form', contact: @contactinfo %>
      </div>
    </div>
  </div>

</section>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>
