<%= form_tag(apply_online_path, multipart: true) do %>

  <p>
    <span class="wpcf7-form-control-wrap your-name">
        <%= text_field_tag :name, '', placeholder: 'Full name', required: true %>
        </span>
  </p>
  <%= hidden_field_tag :position, :value => job.title %>

  <p>
    <span class="wpcf7-form-control-wrap your-email">
        <%= email_field_tag :email, '', placeholder: "Email", required: true %>
        </span>
  </p>

  <p>
    <span class="wpcf7-form-control-wrap your-email">
        <%= phone_field_tag :phone, '', placeholder: "Phone", required: true %>
        </span>
  </p>

  <p>
    <span class="wpcf7-form-control-wrap textarea-cv-sms">
        <%= text_area_tag :message, '', placeholder: "Type your message / Cover letter", rows:'5', required: true %>
        </span>
  </p>

  <p>
    <span class="wpcf7-form-control-wrap file-cv">
        <%= file_field_tag :cv, id: 'cv', class: "wpcf7-form-control wpcf7-file wpcf7-validates-as-required" %>
        </span>
  </p>

  <p>
    <span class="check-policy">
      <span class="wpcf7-form-control-wrap send-nda">
        <span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required send_nda" id="send_nda">
          <span class="wpcf7-list-item first last">
            <label>
              <%= check_box_tag :checked, id: 'check', class: "wpcf7-form-control wpcf7-file wpcf7-validates-as-required" %>
            </label>
          </span>
        </span>
      </span>
      <span class="check-policy-text">I understand that Syftet will store, process, and use my personal data as it is set out in EXISTEK privacy <a href="<%= privacy_and_policy_path %>">Privacy Policy</a>.</span>
    </span>
  </p>

  <p>
    <%= submit_tag 'Submit', class: 'wpcf7-form-control wpcf7-submit' %>
  </p>

<% end %>





