<section id="make-us-unique" class="section-md bg-gray-lighter text-center">
  <div class="explore-our-exp-title-wrapper">
    <div class="container">
      <div class="row explore-our-exp-title">
        <h2>What makes us unique in the field ?</h2>
        <p class="paragraph-padding font-size-p" style="text-align:
          center;margin-bottom: 50px;
          font-size: 20px;
          line-height: 1.34783;
          font-weight: 400;
          letter-spacing: .01em;
          color: #333;">
          The word “Elite” should only go with the team or the <b>software firm in Bangladesh</b> that provides top class service and develops the most efficient software with advanced features. We proudly call ourselves the ELITE of this field. The only reason why we call ourselves that is because of our uniqueness and we can develop something very very special for our customers. We are featured with some marvellous qualities as mentioned and explained below:
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-20 justify-content-md-center justify-content-lg-start">
      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon unique-logo-wrap">
                <%= image_tag 'makes-us-unique/team.png', alt: ' Team of Excellence ' %>
                <!--<span class="icon linear-icon-users"></span>-->
              </div>
            </div>
            <div class="unit-body">
              <p class="blurb__title heading-6">
                <a> A team of excellence </a>
              </p>
              <p class="blurb_body">
                We are a team of highly tech-savvy employees. All team members are highly professional and skilled. The team is always dedicated to produce the best quality software and help you get your most desired product. We inspire creativity in our working space and galvanize all staff to put their best efforts.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon unique-logo-wrap">
                <%= image_tag 'technology/reliable.png', alt: 'Reliable pic' %>
                <!--<span class="icon linear-icon-diamond2"></span>-->
              </div>
            </div>
            <div class="unit-body">
              <p class="blurb__title heading-6">
                <a> Reliability </a>
              </p>
              <p class="blurb_body">
                We greatly prioritise our client’s satisfaction and endeavor all our efforts to consistently perform better. Clients who have taken our service are well-satisfied as we are always ready to support. We believe in reliability and maintain that our client is our asset and so we serve them accordingly.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon unique-logo-wrap">
                <%= image_tag 'technology/experience.png', alt: ' ' %>
                <!--<span class="icon linear-icon-wall"></span>-->
              </div>
            </div>
            <div class="unit-body">
              <p class="blurb__title heading-6">
                <a> Years of experiences </a>
              </p>
              <p class="blurb_body">
                It has been more than 5 years since we launched our journey to assist people in the need of customised software. We have helped numerous clients throughout the years starting from just solving basic management software to sophisticated software.
              </p>
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon unique-logo-wrap">
                <%= image_tag 'technology/affordable.png', alt: 'Affordable pic' %>
                <!--<span class="icon linear-icon-diamond2"></span>-->
              </div>
            </div>
            <div class="unit-body">
              <p class="blurb__title heading-6">
                <a> Affordability </a>
              </p>
              <p class="blurb_body">
                When it comes to our charge, we think of a number of aspects, the quality of the product, sustainability and efficiency. According to the feedback of all our clients, we charge a minimum fee, but provide the best service in web development services.
                <!--                <a class="read-more">-->
<!--                  <strong>Read More...</strong>-->
<!--                </a>-->
<!--                <span class="dn">-->
<!--                    We provide comprehensive support for software requirements &-->
<!--                    validation; process & workflow; change, configuration, and release management.-->
<!--                  </span>-->
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon unique-logo-wrap">
                <%= image_tag 'makes-us-unique/quality-assurance.png', alt: 'Quality assurance ' %>
                <!--<span class="icon linear-icon-users"></span>-->
              </div>
            </div>
            <div class="unit-body">
              <p class="blurb__title heading-6">
                <a> Quality assurance </a>
              </p>
              <p class="blurb_body">
                Our team of experts take pride in their tasks and we believe in professionalism. Our team members always pay attention to detail and output as we maintain top class quality in all our services. Before being delivered to our clients, our products are assessed and graded by a special team who take our product’s efficiency.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon unique-logo-wrap">
                <%= image_tag 'makes-us-unique/customer-service.png', alt: '24/7 Support' %>
                <!--<span class="icon linear-icon-wall"></span>-->
              </div>
            </div>
            <div class="unit-body">
              <p class="blurb__title heading-6">
                <a> 24/7 supports  </a>
              </p>
              <p class="blurb_body">
                Our team is just a message away from you. You can ask your inquiry anytime and our team is ready to support you. We provide comprehensive support for software requirements & validation; process & workflow; change, configuration, and release management.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
    $(function () {
        $('.read-more').click(function () {
            var obj = $(this).parent();
            var paraOne = obj.find('.read-more').remove();
            var paraTwo = obj.find('span').removeClass('dn');
        })
    })
</script>
