<section id="best-service" class="section-md bg-default text-center">
  <div class="explore-our-services-title-wrapper">
    <div class="container">
      <div class="row explore-our-services-title">
        <h2>EXPLORE OUR SERVICES</h2>
        <p class="paragraph-padding font-size-p" style="text-align:
          center;margin-bottom: 50px;
          font-size: 20px;
          line-height: 1.34783;
          font-weight: 400;
          letter-spacing: .01em;
          color: #333;">
          SYFTET incorporates the full cycle of offshore software development services. We focus on
          providing managed dedicated teams and developing sophisticated enterprise applications.
        </p>
      </div>
    </div>
  </div>

  <div class="explore-our-services-block-wrapper">
    <div class="container">
      <div class="row explore-our-services-row">
        <div class="three-block-wrapper">
          <div class="exp-our-serv-block-wrapper">
            <a href="<%= web_development_company_path %>"></a>
            <div class="exp-our-serv-block exp-our-serv-block-bg-1">
              <a href="<%= web_development_company_path %>">
                <div class="image_block">
                  <div class="exp-our-serv-img-block">
                    <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.871px" height="55.336px" viewBox="21.26 7.767 70.871 55.336" enable-background="new 21.26 7.767 70.871 55.336" xml:space="preserve">
                      <g>
                        <path fill="#113448" d="M26.738,14.285c0.273,0,0.542-0.111,0.735-0.305c0.194-0.193,0.305-0.462,0.305-0.735
 c0-0.273-0.111-0.542-0.305-0.735c-0.193-0.194-0.46-0.305-0.735-0.305c-0.274,0-0.542,0.111-0.735,0.305
 c-0.194,0.193-0.305,0.462-0.305,0.735c0,0.273,0.111,0.542,0.305,0.735C26.196,14.174,26.465,14.285,26.738,14.285z"></path>
                        <path fill="#113448" d="M30.066,14.285c0.275,0,0.542-0.111,0.735-0.305c0.194-0.193,0.305-0.462,0.305-0.735
 c0-0.273-0.111-0.542-0.305-0.735c-0.193-0.194-0.462-0.305-0.735-0.305c-0.273,0-0.542,0.111-0.735,0.305
 c-0.194,0.193-0.305,0.462-0.305,0.735c0,0.273,0.111,0.542,0.305,0.735C29.524,14.174,29.793,14.285,30.066,14.285z"></path>
                        <path fill="#113448" d="M33.395,14.285c0.273,0,0.542-0.111,0.735-0.305c0.194-0.193,0.305-0.462,0.305-0.735
 c0-0.273-0.111-0.542-0.305-0.735c-0.193-0.194-0.462-0.305-0.735-0.305c-0.273,0-0.542,0.111-0.735,0.305
 c-0.194,0.193-0.305,0.462-0.305,0.735c0,0.273,0.111,0.542,0.305,0.735C32.853,14.174,33.122,14.285,33.395,14.285z"></path>
                        <path fill="#113448" d="M37.833,14.285h42.162c0.574,0,1.04-0.466,1.04-1.041c0-0.574-0.466-1.04-1.04-1.04H37.833
 c-0.574,0-1.04,0.466-1.04,1.04C36.793,13.819,37.259,14.285,37.833,14.285z"></path>
                        <path fill="#113448" d="M84.433,14.285h2.219c0.574,0,1.04-0.466,1.04-1.041c0-0.574-0.466-1.04-1.04-1.04h-2.219
 c-0.574,0-1.041,0.466-1.041,1.04C83.392,13.819,83.859,14.285,84.433,14.285z"></path>
                        <path fill="#113448" d="M86.652,7.767H26.738c-3.021,0-5.478,2.458-5.478,5.478v44.381c0,3.021,2.458,5.478,5.478,5.478h59.914
 c3.021,0,5.479-2.457,5.479-5.478V13.245C92.13,10.224,89.672,7.767,86.652,7.767z M26.738,9.847h59.914
 c1.873,0,3.397,1.524,3.397,3.397v3.398H23.34v-3.398C23.34,11.371,24.864,9.847,26.738,9.847z M86.652,61.023H26.738
 c-1.874,0-3.397-1.523-3.397-3.397V18.723h66.709v38.902C90.049,59.5,88.525,61.023,86.652,61.023z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="content-block"><a href="<%= web_development_company_path %>">
                <div class="exp-our-serv-block-title"> Web Development</div>
                <div class="exp-our-serv-block-text">
                  <p>
                    With a 5-year  experience in web development and accomplishing more than 150+ web applications, our team of experts provides  a high quality web development service in Bangladesh. We are highly committed to meet your criteria and deliver you a SEO friendly website based on your own requirement within the deadline set by you.
                  </p>
                </div>
              </a>
                <div class="btn-exp-our-serv-learn-more-wrapper">
                  <a href="<%= web_development_company_path %>"> </a>
                  <a href="<%= web_development_company_path %>">
                    <div class="btn-exp-our-serv-learn-more"> VIEW MORE</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="exp-our-serv-block-wrapper">
            <a href="<%= custom_software_development_company_path %>"></a>
            <div class="exp-our-serv-block exp-our-serv-block-bg-2">
              <a href="<%= custom_software_development_company_path %>">
                <div class="image_block">
                  <div class="exp-our-serv-img-block">
                    <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.872px" height="69.04px" viewBox="21.26 0.916 70.872 69.04" enable-background="new 21.26 0.916 70.872 69.04" xml:space="preserve">
                      <g>
                        <g>
                          <path fill="#113448" d="M62.742,44.501h-4.904c-0.35-1.28-0.857-2.506-1.516-3.66l3.468-3.467c0.188-0.19,0.296-0.446,0.296-0.716
 s-0.105-0.525-0.296-0.717l-4.519-4.518c-0.396-0.395-1.035-0.395-1.431,0l-3.468,3.468c-1.152-0.658-2.379-1.166-3.66-1.516
 v-4.904c0-0.559-0.453-1.012-1.011-1.012h-6.392c-0.559,0-1.011,0.453-1.011,1.012v4.904c-1.28,0.35-2.506,0.858-3.66,1.516
 l-3.468-3.468c-0.395-0.395-1.035-0.395-1.43,0l-4.519,4.518c-0.189,0.19-0.296,0.447-0.296,0.717s0.106,0.525,0.296,0.716
 l3.468,3.467c-0.658,1.154-1.166,2.38-1.516,3.66h-4.904c-0.559,0-1.011,0.453-1.011,1.013v6.391c0,0.558,0.453,1.011,1.011,1.011
 h4.904c0.35,1.28,0.857,2.507,1.516,3.659l-3.468,3.468c-0.395,0.396-0.395,1.035,0,1.431l4.519,4.52
 c0.395,0.396,1.035,0.396,1.43,0l3.468-3.469c1.153,0.658,2.379,1.166,3.659,1.517v4.903c0,0.56,0.453,1.013,1.012,1.013h6.392
 c0.558,0,1.011-0.453,1.011-1.013V64.04c1.28-0.351,2.506-0.856,3.66-1.517l3.468,3.469c0.396,0.396,1.035,0.396,1.431,0
 l4.518-4.52c0.396-0.396,0.396-1.035,0-1.431l-3.467-3.468c0.658-1.153,1.166-2.379,1.516-3.659h4.904
 c0.559,0,1.011-0.453,1.011-1.011v-6.391C63.753,44.954,63.3,44.501,62.742,44.501z M61.73,50.893L61.73,50.893h-4.686
 c-0.475,0-0.886,0.33-0.988,0.795c-0.351,1.602-0.977,3.113-1.861,4.496c-0.258,0.398-0.2,0.924,0.136,1.26l3.313,3.313
 l-3.09,3.089l-3.313-3.314c-0.336-0.336-0.861-0.393-1.262-0.137c-1.381,0.885-2.894,1.512-4.496,1.862
 c-0.463,0.103-0.795,0.513-0.795,0.988v4.685h-4.367v-4.685c0-0.476-0.331-0.888-0.795-0.988
 c-1.603-0.351-3.114-0.978-4.497-1.862c-0.4-0.256-0.925-0.199-1.261,0.137l-3.313,3.314l-3.089-3.089l3.313-3.313
 c0.336-0.336,0.393-0.86,0.136-1.26c-0.885-1.383-1.512-2.896-1.862-4.496c-0.102-0.465-0.513-0.795-0.988-0.795h-4.686v-4.369
 h4.685c0.476,0,0.887-0.33,0.988-0.795c0.35-1.603,0.977-3.115,1.862-4.496c0.256-0.399,0.2-0.924-0.136-1.26l-3.313-3.313
 l3.088-3.088l3.313,3.313c0.336,0.337,0.861,0.392,1.261,0.136c1.381-0.885,2.894-1.512,4.497-1.861
 c0.463-0.102,0.795-0.513,0.795-0.988v-4.685h4.367v4.685c0,0.475,0.332,0.887,0.795,0.988c1.604,0.35,3.115,0.977,4.496,1.861
 c0.4,0.258,0.926,0.201,1.262-0.136l3.313-3.313l3.088,3.088l-3.313,3.313c-0.336,0.336-0.393,0.859-0.137,1.26
 c0.886,1.381,1.513,2.895,1.863,4.496c0.102,0.465,0.512,0.795,0.987,0.795h4.685v4.369H61.73z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M51.648,46.816c-0.672-3.26-3.057-5.933-6.221-6.976c-0.531-0.174-1.103,0.114-1.277,0.646
 c-0.176,0.531,0.113,1.103,0.644,1.277c2.479,0.815,4.347,2.907,4.873,5.461c0.099,0.478,0.521,0.807,0.99,0.807
 c0.067,0,0.136-0.006,0.204-0.021C51.409,47.898,51.762,47.363,51.648,46.816z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M50.656,50.682c-0.523-0.197-1.106,0.067-1.303,0.592c-1.063,2.84-3.815,4.746-6.848,4.746
 c-4.031,0-7.312-3.279-7.312-7.313c0-3.37,2.283-6.288,5.55-7.098c0.542-0.133,0.873-0.682,0.738-1.225
 c-0.133-0.542-0.683-0.873-1.225-0.738c-4.173,1.031-7.087,4.758-7.087,9.061c0,5.146,4.188,9.335,9.334,9.335
 c3.871,0,7.384-2.437,8.742-6.06C51.443,51.46,51.18,50.876,50.656,50.682z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M91.119,26.455h-3.566c-0.254-0.876-0.604-1.719-1.043-2.518l2.521-2.522
 c0.189-0.189,0.297-0.447,0.297-0.715c0-0.269-0.107-0.525-0.297-0.715l-3.453-3.453c-0.395-0.395-1.035-0.395-1.43,0
 l-2.521,2.522c-0.799-0.44-1.643-0.789-2.518-1.042v-3.567c0-0.559-0.453-1.011-1.012-1.011h-4.884
 c-0.56,0-1.012,0.453-1.012,1.011v3.567c-0.877,0.253-1.72,0.602-2.519,1.042l-2.521-2.522c-0.396-0.395-1.035-0.395-1.431,0
 l-3.453,3.453c-0.189,0.19-0.297,0.447-0.297,0.715c0,0.268,0.106,0.525,0.297,0.715l2.521,2.522
 c-0.439,0.799-0.789,1.641-1.043,2.518h-3.566c-0.559,0-1.012,0.453-1.012,1.011v4.883c0,0.559,0.453,1.011,1.012,1.011h3.566
 c0.254,0.876,0.604,1.719,1.043,2.518l-2.52,2.522c-0.396,0.396-0.396,1.035,0,1.431l3.451,3.453
 c0.19,0.19,0.447,0.296,0.717,0.296c0.268,0,0.525-0.105,0.715-0.296l2.521-2.522c0.799,0.44,1.641,0.789,2.518,1.043v3.566
 c0,0.559,0.453,1.012,1.012,1.012h4.883c0.559,0,1.012-0.453,1.012-1.012v-3.566c0.877-0.254,1.72-0.602,2.519-1.043l2.521,2.522
 c0.189,0.19,0.447,0.296,0.715,0.296c0.27,0,0.525-0.105,0.716-0.296l3.452-3.453c0.396-0.396,0.396-1.035,0-1.431l-2.52-2.521
 c0.439-0.799,0.788-1.641,1.043-2.518h3.565c0.56,0,1.012-0.453,1.012-1.011v-4.883C92.13,26.908,91.678,26.455,91.119,26.455z
 M86.766,31.338c-0.476,0-0.888,0.331-0.988,0.795c-0.262,1.197-0.729,2.327-1.391,3.358c-0.257,0.399-0.199,0.925,0.137,1.261
 l2.363,2.363l-2.023,2.021L82.5,38.775c-0.336-0.336-0.859-0.394-1.26-0.137c-1.031,0.661-2.162,1.129-3.358,1.391
 c-0.464,0.103-0.796,0.514-0.796,0.988v3.342h-2.859v-3.342c0-0.476-0.332-0.887-0.795-0.988
 c-1.197-0.262-2.328-0.729-3.359-1.391c-0.399-0.257-0.924-0.199-1.26,0.137l-2.362,2.363l-2.022-2.022l2.362-2.363
 c0.336-0.336,0.394-0.86,0.138-1.261c-0.662-1.031-1.13-2.161-1.393-3.358c-0.102-0.464-0.514-0.795-0.987-0.795h-3.342v-2.861
 h3.342c0.476,0,0.886-0.331,0.987-0.795c0.263-1.197,0.729-2.327,1.393-3.358c0.256-0.4,0.198-0.925-0.138-1.261l-2.362-2.363
 l2.022-2.023l2.362,2.363c0.336,0.336,0.86,0.393,1.26,0.137c1.031-0.661,2.162-1.129,3.359-1.391
 c0.463-0.101,0.795-0.513,0.795-0.988v-3.342h2.859v3.342c0,0.475,0.332,0.886,0.796,0.988c1.196,0.262,2.327,0.73,3.358,1.391
 c0.4,0.256,0.924,0.199,1.26-0.137l2.363-2.363l2.023,2.023l-2.363,2.363c-0.336,0.336-0.394,0.861-0.137,1.261
 c0.66,1.031,1.129,2.161,1.391,3.358c0.102,0.464,0.514,0.795,0.988,0.795h3.342v2.861L86.766,31.338L86.766,31.338z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M81.95,31.268c-0.521-0.202-1.106,0.056-1.31,0.577c-0.27,0.695-0.675,1.316-1.203,1.845
 c-2.086,2.085-5.479,2.085-7.563,0c-1.011-1.01-1.567-2.354-1.567-3.782c0-1.428,0.557-2.772,1.567-3.782
 c2.085-2.085,5.479-2.085,7.563,0c0.528,0.528,0.934,1.148,1.203,1.842c0.201,0.521,0.787,0.779,1.309,0.577
 s0.779-0.788,0.576-1.309c-0.371-0.958-0.93-1.813-1.657-2.541c-2.874-2.874-7.55-2.875-10.425,0
 c-1.394,1.392-2.158,3.243-2.158,5.212c0,1.969,0.766,3.82,2.158,5.212c1.438,1.438,3.324,2.156,5.213,2.154
 c1.887,0,3.775-0.717,5.212-2.154c0.729-0.729,1.288-1.585,1.659-2.544C82.729,32.056,82.471,31.47,81.95,31.268z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M62.406,11.153h-2.643c-0.185-0.596-0.423-1.172-0.716-1.724l1.869-1.869
 c0.188-0.189,0.297-0.447,0.297-0.715c0-0.268-0.106-0.525-0.297-0.715l-2.715-2.715c-0.188-0.19-0.447-0.296-0.716-0.296
 c-0.268,0-0.524,0.106-0.715,0.296l-1.869,1.869c-0.551-0.292-1.127-0.531-1.723-0.714V1.927c0-0.559-0.453-1.011-1.012-1.011
 h-3.839c-0.56,0-1.011,0.453-1.011,1.011V4.57c-0.596,0.183-1.174,0.422-1.725,0.714l-1.869-1.869
 c-0.189-0.19-0.447-0.296-0.715-0.296s-0.525,0.106-0.715,0.296L39.58,6.13c-0.189,0.189-0.296,0.447-0.296,0.715
 c0,0.269,0.106,0.526,0.296,0.715l1.869,1.869c-0.292,0.551-0.531,1.127-0.715,1.724h-2.644c-0.56,0-1.011,0.453-1.011,1.011v3.84
 c0,0.559,0.453,1.011,1.011,1.011h2.644c0.183,0.596,0.422,1.172,0.713,1.724l-1.868,1.869c-0.188,0.19-0.296,0.447-0.296,0.715
 c0,0.268,0.107,0.525,0.296,0.715l2.715,2.715c0.188,0.189,0.447,0.296,0.715,0.296c0.269,0,0.526-0.106,0.716-0.296l1.869-1.869
 c0.551,0.292,1.127,0.531,1.723,0.714v2.643c0,0.559,0.453,1.011,1.012,1.011h3.84c0.559,0,1.012-0.453,1.012-1.011v-2.643
 c0.596-0.183,1.172-0.422,1.723-0.714l1.869,1.869c0.19,0.189,0.447,0.296,0.715,0.296c0.269,0,0.525-0.106,0.716-0.296
 l2.715-2.715c0.188-0.189,0.297-0.447,0.297-0.715c0-0.269-0.106-0.525-0.297-0.715l-1.869-1.869
 c0.293-0.551,0.531-1.127,0.716-1.724h2.643c0.559,0,1.012-0.453,1.012-1.011v-3.84C63.417,11.606,62.964,11.153,62.406,11.153z
 M61.395,14.993h-2.41c-0.477,0-0.887,0.331-0.988,0.795c-0.2,0.916-0.559,1.78-1.064,2.57c-0.256,0.4-0.199,0.924,0.137,1.261
 l1.705,1.705l-1.285,1.285l-1.704-1.706c-0.337-0.336-0.861-0.393-1.261-0.136c-0.791,0.506-1.654,0.864-2.57,1.064
 c-0.465,0.102-0.795,0.513-0.795,0.988v2.411H49.34v-2.411c0-0.475-0.331-0.886-0.795-0.988c-0.916-0.2-1.779-0.558-2.568-1.064
 c-0.4-0.256-0.926-0.199-1.262,0.136l-1.705,1.706l-1.285-1.285l1.705-1.705c0.336-0.336,0.393-0.861,0.137-1.261
 c-0.506-0.79-0.864-1.654-1.064-2.57c-0.102-0.464-0.514-0.795-0.988-0.795h-2.41v-1.817h2.41c0.475,0,0.887-0.331,0.988-0.795
 c0.201-0.916,0.559-1.78,1.064-2.57c0.256-0.4,0.199-0.925-0.137-1.261l-1.705-1.705L43.01,5.56l1.705,1.705
 c0.336,0.336,0.861,0.393,1.262,0.137c0.789-0.506,1.653-0.864,2.568-1.065c0.464-0.102,0.795-0.513,0.795-0.988V2.938h1.817V5.35
 c0,0.475,0.331,0.886,0.795,0.988c0.916,0.201,1.78,0.559,2.569,1.065c0.4,0.256,0.926,0.199,1.262-0.137l1.705-1.705l1.285,1.285
 L57.066,8.55c-0.336,0.336-0.393,0.861-0.135,1.261c0.506,0.79,0.863,1.654,1.063,2.57c0.103,0.464,0.513,0.795,0.987,0.795h2.41
 v1.817H61.395z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M50.249,9c-2.804,0-5.084,2.281-5.084,5.084s2.28,5.084,5.084,5.084s5.084-2.281,5.084-5.084
 S53.053,9,50.249,9z M50.249,17.146c-1.688,0-3.062-1.373-3.062-3.062s1.373-3.062,3.062-3.062s3.062,1.374,3.062,3.062
 S51.938,17.146,50.249,17.146z"></path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="content-block">
                <a href="<%= custom_software_development_company_path %>">
                  <div class="exp-our-serv-block-title"> Custom Software Development</div>
                  <div class="exp-our-serv-block-text">
                    <p>
                    <span style="font-weight: 400;">
                    Our experts are more than happy to develop a customised software for you. Over the years, we have helped hundreds of our clients in their specific demands. We are aware that you might need some changes of a certain product, and so a group of quality engineers are at your disposal to design and develop a software based on your needs and requirements.
                    </span>
                    </p>
                  </div>
                </a>
                <div class="btn-exp-our-serv-learn-more-wrapper">
                  <a href="<%= custom_software_development_company_path %>"> </a>
                  <a href="<%= custom_software_development_company_path %>">
                    <div class="btn-exp-our-serv-learn-more"> VIEW MORE</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="exp-our-serv-block-wrapper">
            <a href="<%= desktop_application_development_company_path %>"></a>
            <div class="exp-our-serv-block exp-our-serv-block-bg-3">
              <a href="<%= desktop_application_development_company_path %>">
                <div class="image_block">
                  <div class="exp-our-serv-img-block">
                    <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.871px" height="59.774px" viewBox="21.26 5.548 70.871 59.774" enable-background="new 21.26 5.548 70.871 59.774" xml:space="preserve">
                      <g>
                        <g>
                          <path fill="#113448" d="M87.763,5.548H25.626c-2.408,0-4.367,1.959-4.367,4.367v42.164c0,2.408,1.959,4.367,4.367,4.367h21.016
 l-0.85,6.8H42.27c-0.573,0-1.038,0.465-1.038,1.039c0,0.572,0.465,1.037,1.038,1.037h28.85c0.573,0,1.038-0.465,1.038-1.037
 c0-0.574-0.465-1.039-1.038-1.039h-3.522l-0.85-6.8h21.016c2.408,0,4.367-1.959,4.367-4.367V9.915
 C92.13,7.507,90.171,5.548,87.763,5.548z M47.885,63.246l0.85-6.8h3.821l0.375,1.499c0.433,1.73,1.981,2.939,3.765,2.939
 c1.784,0,3.332-1.209,3.765-2.939l0.375-1.499h3.821l0.85,6.8H47.885z M54.696,56.446h3.998l-0.249,0.995
 c-0.201,0.805-0.92,1.367-1.75,1.367c-0.83,0-1.549-0.563-1.75-1.367L54.696,56.446z M90.054,52.079L90.054,52.079
 c0,1.263-1.028,2.29-2.291,2.29H25.626c-1.263,0-2.291-1.027-2.291-2.29V9.915c0-1.263,1.028-2.291,2.291-2.291h62.137
 c1.263,0,2.291,1.028,2.291,2.291V52.079z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M79.996,9.986H26.736c-0.574,0-1.039,0.465-1.039,1.038v39.945c0,0.573,0.465,1.038,1.039,1.038h2.219
 c0.573,0,1.038-0.465,1.038-1.038s-0.465-1.038-1.038-1.038h-1.181V12.063h52.221c0.574,0,1.039-0.465,1.039-1.038
 S80.57,9.986,79.996,9.986z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M86.654,9.986h-2.22c-0.573,0-1.038,0.465-1.038,1.038s0.465,1.038,1.038,1.038h1.181v37.869H33.394
 c-0.573,0-1.038,0.465-1.038,1.038s0.465,1.038,1.038,1.038h53.26c0.573,0,1.037-0.465,1.037-1.038V11.024
 C87.692,10.451,87.227,9.986,86.654,9.986z"></path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="content-block">
                <a href="<%= desktop_application_development_company_path %>">
                  <div class="exp-our-serv-block-title"> Desktop Application</div>
                  <div class="exp-our-serv-block-text">
                    <p>
                      A team of highly talented engineers is always at your disposal to develop different platforms in
                      ASP.net applications from WebForms to different versions of MVC, WCF, WPF (web and mobile), EF,
                      Web API.
                    </p>
                  </div>
                </a>
                <div class="btn-exp-our-serv-learn-more-wrapper">
                  <a href="<%= desktop_application_development_company_path %>"> </a>
                  <a href="<%= desktop_application_development_company_path %>">
                    <div class="btn-exp-our-serv-learn-more"> VIEW MORE</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="three-block-wrapper">
          <div class="exp-our-serv-block-wrapper">
            <a href="#"></a>
            <div class="exp-our-serv-block exp-our-serv-block-bg-4">
              <a href="<%= ui_ux_design_path %>">
                <div class="image_block">
                  <div class="exp-our-serv-img-block">
                    <svg class="blue_image" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.871px" height="52.027px" viewBox="21.26 9.421 70.871 52.027" enable-background="new 21.26 9.421 70.871 52.027" xml:space="preserve">
                      <g>
                        <g>
                          <path fill="#113448" d="M83.787,32.841c-2.412-1.206-6.934-1.22-7.125-1.22c-0.573,0-1.038,0.465-1.038,1.038
 s0.465,1.038,1.038,1.038c1.167,0,4.555,0.18,6.195,1c0.149,0.075,0.309,0.11,0.464,0.11c0.381,0,0.747-0.21,0.93-0.574
 C84.507,33.721,84.298,33.098,83.787,32.841z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M88.962,47.622l-4.288-1.226c-0.185-0.053-0.314-0.224-0.314-0.416v-1.432
 c0.349-0.241,0.682-0.512,0.993-0.813c1.507-1.463,2.337-3.425,2.337-5.525v-1.975l0.415-0.829
 c0.455-0.91,0.695-1.929,0.695-2.946v-5.35c0-0.574-0.465-1.039-1.039-1.039h-9.989c-3.633,0-6.589,2.956-6.589,6.588v0.062
 c0,0.846,0.201,1.693,0.578,2.45l0.532,1.063v1.695c0,2.688,1.324,5.099,3.33,6.55l0.001,1.5c0,0.23,0,0.326-0.857,0.572
 l-2.092,0.598l-6.053-2.201c0.021-0.285-0.074-0.576-0.283-0.795l-1.934-2.031v-3.411c0.205-0.169,0.406-0.341,0.602-0.524
 c2.439-2.287,3.839-5.515,3.839-8.857v-2.724c0.737-1.603,1.11-3.299,1.11-5.046v-11.1c0-0.573-0.465-1.038-1.039-1.038h-15.54
 c-5.469,0-9.918,4.45-9.918,9.918v2.22c0,1.747,0.373,3.443,1.11,5.046v2.344c0,3.88,1.726,7.377,4.44,9.682v3.491l-1.934,2.031
 c-0.208,0.219-0.305,0.51-0.283,0.795l-6.387,2.322c-0.463,0.168-0.893,0.396-1.283,0.673l-1.003-0.501
 c2.985-1.301,3.931-3.128,3.977-3.219c0.146-0.293,0.146-0.637,0-0.929c-0.749-1.497-0.839-4.24-0.912-6.444
 c-0.024-0.734-0.047-1.428-0.091-2.045c-0.354-4.979-4.139-8.735-8.806-8.735c-4.666,0-8.452,3.755-8.805,8.735
 c-0.044,0.617-0.067,1.311-0.091,2.045c-0.073,2.204-0.164,4.947-0.912,6.444c-0.146,0.292-0.146,0.636,0,0.929
 c0.045,0.091,0.989,1.914,3.981,3.216l-2.786,1.394c-1.489,0.744-2.415,2.242-2.415,3.906v7.67c0,0.573,0.465,1.038,1.038,1.038
 s1.038-0.465,1.038-1.038v-7.67c0-0.873,0.485-1.658,1.267-2.05l3.469-1.734l1.207,1.147c0.844,0.801,1.926,1.202,3.009,1.202
 c1.083,0,2.166-0.401,3.009-1.202l1.207-1.147l1.131,0.565c-0.533,0.853-0.835,1.852-0.835,2.898v7.99
 c0,0.574,0.465,1.039,1.038,1.039s1.038-0.465,1.038-1.039v-7.99c0-1.425,0.9-2.709,2.239-3.197l6.734-2.448l2.803,4.206
 c0.358,0.537,0.933,0.882,1.576,0.945c0.072,0.008,0.143,0.011,0.214,0.011c0.567,0,1.11-0.224,1.517-0.63l1.71-1.71V60.41
 c0,0.574,0.464,1.039,1.038,1.039c0.573,0,1.038-0.465,1.038-1.039V49.596l1.711,1.71c0.406,0.406,0.949,0.63,1.517,0.63
 c0.071,0,0.142-0.003,0.214-0.011c0.643-0.063,1.217-0.408,1.576-0.945l2.803-4.205l6.734,2.448
 c1.34,0.487,2.239,1.772,2.239,3.196v7.99c0,0.574,0.465,1.039,1.038,1.039c0.574,0,1.038-0.465,1.038-1.039v-7.99
 c0-1.443-0.573-2.797-1.535-3.798l0.257-0.073c0.258-0.074,0.611-0.175,0.966-0.349l2.65,2.65v9.56
 c0,0.574,0.465,1.039,1.038,1.039s1.038-0.465,1.038-1.039v-9.56l2.632-2.632c0.141,0.07,0.287,0.131,0.441,0.176l4.288,1.225
 c0.979,0.279,1.663,1.186,1.663,2.203v8.588c0,0.574,0.465,1.039,1.037,1.039c0.574,0,1.039-0.465,1.039-1.039v-8.588
 C92.13,49.882,90.828,48.155,88.962,47.622z M27.92,45.789c-1.942-0.699-2.916-1.631-3.332-2.14
 c0.284-0.741,0.467-1.59,0.592-2.485c0.573,1.372,1.531,2.544,2.74,3.38V45.789z M33.867,48.597c-0.885,0.842-2.272,0.842-3.158,0
 l-0.965-0.917c0.163-0.306,0.252-0.651,0.252-1.015V45.56c0.724,0.227,1.494,0.348,2.292,0.348c0.797,0,1.566-0.122,2.292-0.348
 l0,1.105c0,0.363,0.089,0.709,0.252,1.015L33.867,48.597z M32.289,43.832c-3.1,0-5.622-2.521-5.622-5.621
 c0-0.574-0.465-1.039-1.038-1.039c-0.058,0-0.115,0.006-0.17,0.016c0.003-0.09,0.006-0.179,0.009-0.268
 c0.023-0.713,0.045-1.388,0.087-1.966c0.132-1.865,0.878-3.584,2.099-4.84c1.232-1.267,2.878-1.965,4.636-1.965
 s3.404,0.698,4.636,1.965c1.221,1.256,1.966,2.975,2.099,4.84c0.041,0.578,0.063,1.252,0.087,1.966
 c0.002,0.062,0.004,0.123,0.006,0.186c-1.129-1.741-2.874-3.023-5.127-3.747c-2.083-0.669-3.873-0.628-3.949-0.626
 c-0.272,0.008-0.53,0.122-0.719,0.317l-1.873,1.942c-0.398,0.413-0.386,1.07,0.027,1.469c0.413,0.397,1.07,0.385,1.468-0.027
 l1.559-1.616c1.342,0.065,5.661,0.568,7.34,4.266C37.418,41.808,35.076,43.832,32.289,43.832z M36.656,45.792l0-1.238
 c1.208-0.831,2.167-2.001,2.741-3.384c0.125,0.894,0.308,1.74,0.591,2.48C39.574,44.153,38.596,45.093,36.656,45.792z
 M46.646,28.95v-2.576c0-0.156-0.035-0.311-0.103-0.451c-0.668-1.383-1.007-2.851-1.007-4.363v-2.22
 c0-4.324,3.518-7.842,7.842-7.842H67.88V21.56c0,1.511-0.34,2.979-1.008,4.362c-0.067,0.141-0.103,0.295-0.103,0.452v2.956
 c0,2.812-1.13,5.419-3.183,7.343c-0.256,0.24-0.521,0.466-0.797,0.675c-0.006,0.004-0.012,0.009-0.018,0.014
 c-1.923,1.459-4.277,2.168-6.737,2.01C50.771,39.029,46.646,34.452,46.646,28.95z M52.491,49.838
 c-0.007,0.007-0.024,0.024-0.058,0.021s-0.047-0.023-0.053-0.031l-3.229-4.844l1.039-1.092l4.898,3.349L52.491,49.838z
 M56.708,45.832l-5.622-3.842v-1.938c1.455,0.786,3.083,1.278,4.816,1.391c0.273,0.018,0.545,0.026,0.817,0.026
 c1.985,0,3.896-0.475,5.611-1.375v1.896L56.708,45.832z M61.035,49.828c-0.005,0.008-0.019,0.028-0.053,0.031
 c-0.033,0.004-0.05-0.014-0.057-0.021l-2.599-2.598l4.898-3.348l1.039,1.091L61.035,49.828z M79.992,48.952l-2.355-2.356
 c0.041-0.186,0.064-0.391,0.064-0.616L77.7,45.541c0.653,0.215,1.343,0.342,2.056,0.363c0.08,0.003,0.16,0.004,0.239,0.004
 c0.788,0,1.558-0.119,2.289-0.346v0.418c0,0.207,0.026,0.41,0.075,0.605L79.992,48.952z M83.907,42.245
 c-1.101,1.067-2.554,1.632-4.089,1.585c-3.004-0.091-5.448-2.736-5.448-5.898V35.99c0-0.161-0.037-0.32-0.109-0.464l-0.642-1.282
 c-0.234-0.47-0.359-0.996-0.359-1.521V32.66c0-2.488,2.025-4.512,4.513-4.512h8.952v4.312c0,0.697-0.165,1.395-0.477,2.018
 l-0.524,1.048c-0.071,0.145-0.109,0.303-0.109,0.464v2.221C85.614,39.744,85.007,41.176,83.907,42.245z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M86.652,52.711c-0.573,0-1.038,0.465-1.038,1.038v6.66c0,0.573,0.465,1.038,1.038,1.038
 s1.038-0.465,1.038-1.038v-6.66C87.69,53.177,87.225,52.711,86.652,52.711z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M26.738,54.083c-0.573,0-1.038,0.465-1.038,1.039v5.287c0,0.573,0.465,1.038,1.038,1.038
 s1.038-0.465,1.038-1.038v-5.287C27.776,54.548,27.311,54.083,26.738,54.083z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M65.212,21.936c-3.927-3.927-12.142-3.176-15.492-2.671c-1.055,0.159-1.821,1.052-1.821,2.123v2.392
 c0,0.573,0.465,1.038,1.038,1.038s1.038-0.465,1.038-1.038v-2.392c0-0.035,0.023-0.065,0.054-0.07
 c1.338-0.202,3.993-0.513,6.745-0.33c3.237,0.216,5.582,1.028,6.969,2.416c0.406,0.405,1.063,0.405,1.469,0
 C65.617,22.999,65.617,22.341,65.212,21.936z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M44.498,54.931c-0.573,0-1.038,0.465-1.038,1.039v4.439c0,0.574,0.465,1.038,1.038,1.038
 s1.038-0.464,1.038-1.038V55.97C45.536,55.396,45.071,54.931,44.498,54.931z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="#113448" d="M68.917,54.931c-0.572,0-1.037,0.465-1.037,1.039v4.439c0,0.574,0.465,1.038,1.037,1.038
 c0.574,0,1.039-0.464,1.039-1.038V55.97C69.957,55.396,69.492,54.931,68.917,54.931z"></path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="content-block">
                <a href="<%= ui_ux_design_path %>">
                  <div class="exp-our-serv-block-title"> UX/ UI Design</div>
                  <div class="exp-our-serv-block-text">
                    <p>
                      <span style="font-weight: 400;">
                        Our creative team expertise in designing unique quality products that connect your brand and companies with your customers are looking forward to helping you. This team is specialized in design thinking, wireframing, UX interactive prototyping, final UI graphics production.
                      </span>
                    </p>
                  </div>
                </a>
                <div class="btn-exp-our-serv-learn-more-wrapper">
                  <a href="<%= ui_ux_design_path %>"> </a>
                  <a href="<%= ui_ux_design_path %>">
                    <div class="btn-exp-our-serv-learn-more"> VIEW MORE</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="exp-our-serv-block-wrapper">
            <a href="<%= mobile_app_development_company_path %>"></a>
            <div class="exp-our-serv-block exp-our-serv-block-bg-5">
              <a href="<%= mobile_app_development_company_path %>">
                <div class="image_block">
                  <div class="exp-our-serv-img-block">
                    <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="270.954px" height="512px" viewBox="120.522 0 270.954 512" enable-background="new 120.522 0 270.954 512" xml:space="preserve">
                      <g>
                        <path fill="#113448" d="M128.021,405.604c4.141,0,7.498-3.357,7.498-7.498v-274.28c0-4.142-3.357-7.499-7.498-7.499
 c-4.142,0-7.499,3.357-7.499,7.499v274.281C120.522,402.247,123.88,405.604,128.021,405.604z"></path>
                        <path fill="#113448" d="M383.978,263.499c-4.142,0-7.499,3.357-7.499,7.499v203.509c0,12.405-10.091,22.496-22.496,22.496H158.015
 c-12.404,0-22.496-10.091-22.496-22.496V428.1c0-4.141-3.357-7.498-7.498-7.498c-4.142,0-7.499,3.357-7.499,7.498v46.406
 c0,20.675,16.819,37.493,37.493,37.493h195.968c20.675,0,37.493-16.818,37.493-37.493V270.998
 C391.476,266.856,388.12,263.499,383.978,263.499z"></path>
                        <path fill="#113448" d="M353.983,0H158.015c-20.674,0-37.493,16.819-37.493,37.494v56.337c0,4.142,3.357,7.499,7.499,7.499
 c4.141,0,7.498-3.357,7.498-7.499V37.494c0-12.405,10.092-22.496,22.496-22.496h31.365c7.612,15.284,23.365,25.229,40.728,25.229
 h51.782c17.363,0,33.115-9.944,40.729-25.229h31.364c12.405,0,22.496,10.091,22.496,22.496v203.509
 c0,4.142,3.357,7.499,7.499,7.499c4.141,0,7.498-3.357,7.498-7.499V37.494C391.476,16.819,374.658,0,353.983,0z M281.89,25.228
 h-51.782c-8.861,0-17.096-3.865-22.773-10.23h97.331C298.987,21.363,290.752,25.228,281.89,25.228z"></path>
                        <path fill="#113448" d="M286.813,478.391c4.142,0,7.499-3.357,7.499-7.499s-3.357-7.499-7.499-7.499h-61.628
 c-4.142,0-7.499,3.357-7.499,7.499s3.357,7.499,7.499,7.499H286.813z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="content-block">
                <a href="<%= mobile_app_development_company_path %>">
                  <div class="exp-our-serv-block-title"> Mobile Applications Development</div>
                  <div class="exp-our-serv-block-text">
                    <p>
                      <span style="font-weight: 400;">
                        Our team of expertise in mobile apps development  has satisfied hundreds of clients with their creativity and mobile application development skills. The team is specialized in developing both android and ios applications. The team is fully dedicated to meet your requirements and you are encouraged to share anything you desire to see in your application.
                      </span>
                    </p>
                  </div>
                </a>
                <div class="btn-exp-our-serv-learn-more-wrapper">
                  <a href="<%= mobile_app_development_company_path %>"> </a>
                  <a href="<%= mobile_app_development_company_path %>">
                    <div class="btn-exp-our-serv-learn-more"> VIEW MORE</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="exp-our-serv-block-wrapper">
            <a href="<%= website_maintenance_services_company_path %>"></a>
            <div class="exp-our-serv-block exp-our-serv-block-bg-6">
              <a href="<%= website_maintenance_services_company_path %>">
                <div class="image_block">
                  <div class="exp-our-serv-img-block">
                    <svg class="blue_image" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="511px" height="511px" viewBox="0 0 511 511" enable-background="new 0 0 511 511" xml:space="preserve">
                      <g>
                        <path fill="#113448" d="M110.953,366.975H7.593c-4.191,0-7.591,3.396-7.591,7.587v103.582c0,4.191,3.399,7.591,7.591,7.591h103.36
 c4.191,0,7.591-3.399,7.591-7.591V374.562C118.544,370.371,115.148,366.975,110.953,366.975z M103.366,470.554H15.183v-88.401
 h88.183V470.554z"></path>
                        <path fill="#113448" d="M241.775,263.392H138.411c-4.191,0-7.587,3.4-7.587,7.591v115.353c0,4.191,3.396,7.591,7.587,7.591
 s7.591-3.399,7.591-7.591V278.57h88.183v191.984h-88.183v-53.86c0-4.19-3.399-7.59-7.591-7.59s-7.587,3.399-7.587,7.59v61.45
 c0,4.191,3.396,7.591,7.587,7.591h103.364c4.19,0,7.587-3.399,7.587-7.591V270.983C249.362,266.793,245.966,263.392,241.775,263.392
 z"></path>
                        <path fill="#113448" d="M372.594,159.81H269.229c-4.191,0-7.587,3.399-7.587,7.591v310.743c0,4.191,3.396,7.591,7.587,7.591h103.364
 c4.19,0,7.586-3.399,7.586-7.591V167.401C380.183,163.21,376.784,159.81,372.594,159.81z M365.003,470.554H276.82V174.988h88.183
 V470.554z"></path>
                        <path fill="#113448" d="M503.412,127.799c4.19,0,7.591-3.396,7.591-7.591v-56.39c0-4.19-3.4-7.586-7.591-7.586h-103.36
 c-4.191,0-7.591,3.396-7.591,7.586v414.326c0,4.191,3.399,7.591,7.591,7.591h103.36c4.19,0,7.591-3.399,7.591-7.591V150.566
 c0-4.19-3.4-7.586-7.591-7.586c-4.191,0-7.587,3.396-7.587,7.586v319.988h-88.188V71.409h88.188v48.799
 C495.825,124.403,499.22,127.799,503.412,127.799z"></path>
                        <path fill="#113448" d="M7.6,198.961c1.174,0,2.362-0.273,3.478-0.851L322.605,36.972l-7.696,24.188
 c-1.271,3.996,0.936,8.261,4.932,9.532c0.765,0.245,1.54,0.358,2.301,0.358c3.216,0,6.202-2.059,7.231-5.287l13.252-41.648
 c1.271-3.992-0.939-8.262-4.932-9.532L296.048,1.332c-3.992-1.271-8.265,0.936-9.536,4.932c-1.271,3.992,0.939,8.261,4.932,9.532
 l24.188,7.695L4.107,184.629c-3.724,1.926-5.182,6.503-3.255,10.227C2.201,197.464,4.852,198.961,7.6,198.961z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="content-block">
                <a href="<%= website_maintenance_services_company_path %>">
                  <div class="exp-our-serv-block-title"> MAINTENANCE</div>
                  <div class="exp-our-serv-block-text">
                    <p>
                      <span style="font-weight: 400;">
                        Software maintenance can be quite tricky sometimes, especially for those who have a little prior experience. Our expert team is 24/7 available to guide you and provide maintenance service. We are just a message away from you. Just send us a message and see your software fixed in the quickest time.
                      </span>
                    </p>
                  </div>
                </a>
                <div class="btn-exp-our-serv-learn-more-wrapper">
                  <a href="<%= website_maintenance_services_company_path %>"> </a>
                  <a href="<%= website_maintenance_services_company_path %>">
                    <div class="btn-exp-our-serv-learn-more"> VIEW MORE</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
