<section id="technology" class="section-md bg-default text-center">
  <div class="custom">
    <div class="explore-our-services-title-wrapper">
      <div class="container">
        <div class="row explore-our-services-title text-center">
          <h2>OUR CORE TECHNOLOGIES</h2>
          <p class="font-size-p" style="text-align:
            center;margin-bottom: 50px;
            font-size: 20px;
            line-height: 1.34783;
            padding-left: 10px;
            font-weight: 400;
            letter-spacing: .01em;
            color: #333;"> SYFTET provides world-class development services applying the latest web, mobile, desktop, and enterprise technologies.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <% if technologies.present? %>
      <div class="row row-20 justify-content-md-center justify-content-lg-start logo-responsive">
        <% technologies.each do |technology| %>
          <div class="col-xs-6 col-md-4 col-sm-3 lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= technology.page_url %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <%= image_tag technology.logo_url, alt: technology.name %>
                </div>
              </div>
              <div class="text-center col-name">
                <h4><%= technology.name %></h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <% else %>
        <div class="row row-20 justify-content-md-center justify-content-lg-start">

          <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= dot_net_development_path %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="533.193px" height="466.508px" viewBox="0 0 533.193 466.508" enable-background="new 0 0 533.193 466.508" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <g>
                        <path fill="#0C88C4" d="M442.386,117.101c-32.906,18.734-65.858,37.425-98.542,56.38c-22.052-35.829-72.402-67.633-131.392-49.516    c-43.797,13.451-81.925,52.689-81.382,110.309c0.269,28.727,11.598,53.26,25.493,70.598    c14.621,18.246,33.281,31.198,57.361,38.241c58.991,17.252,108.961-14.605,130.411-51.478    c33.84,19.675,66.259,36.697,100.013,54.419c-18.771,33.93-42.718,57.889-73.54,78.443c-30.253,20.172-68.022,35.411-114.23,37.26    c-49.571,1.981-89.332-10.046-122.567-28.927c-31.919-18.134-58.69-43.345-78.442-73.05c-20.35-30.6-36.073-66.663-38.241-113.252    c-2.263-48.623,9.075-89.451,27.946-123.545C62.83,91.262,87.195,65.115,117.832,44.05C148.098,23.241,186.18,7.267,232.064,4.829    c54.301-2.885,96.579,11.542,129.918,31.376C396.031,56.463,422.71,83.385,442.386,117.101z"></path>
                      </g>
                      <g>
                        <path fill="#CE2030" d="M489.218,217.361l-3.203,17.935h25.942v27.115h-30.959l-7.901,41.742h-28.61l7.794-41.742h-17.936    l-7.579,41.742h-28.504l7.687-41.742h-24.02v-27.115h29.249l3.312-17.935h-25.408v-27.756h30.638l7.687-41.529h28.61    l-7.898,41.529h17.721l7.687-41.529h28.61l-7.793,41.529h24.447v27.756H489.218z M439.684,235.296h17.613l3.31-17.935h-17.721    L439.684,235.296z"></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>C#</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= dot_net_development_path %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="679px" height="317px" viewBox="-177.472 -87 679 317" enable-background="new -177.472 -87 679 317" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <path fill="#CE2030" d="M397.266-63.105C311.185-35.378,322.024,89.266,265.96,147.002c-13.425-26.788,3.408-62.363,15.756-102.431   C299.716-13.928,318.921-70.035,397.266-63.105z"></path>
                      <path fill="#0C88C4" d="M344.742,115.484C380.721,67.424,418.061-2.029,449.79-63.102c8.746,0,17.511,0,26.259,0   C428.216,5.233,398.57,96.971,339.487,154.883c-12.206,11.957-29.604,24.176-49.9,23.637c-3.251-5.496-7.635-9.877-13.139-13.131   c65.757-62.062,46.222-209.414,154.957-228.49C403.353-2.757,374.178,56.503,344.742,115.484z"></path>
                      <path fill="#0C88C4" d="M132.014-55.224c95.409-11.375,85.79,105.051,112.925,170.708c-3.355,9.777-8.398,17.875-10.499,28.894   C190.321,87.818,202.054-24.594,132.014-55.224z"></path>
                      <path fill="#0C88C4" d="M36.892-41.838C-23.243-1.29-55.103,67.518-70.794,152.501C-38.29,84.333-17.714,4.242,47.391-31.331   c52.828,58.357,40.122,182.25,115.561,217.979C72.186,188.996,81.461,68.541,55.279-2.446   c-81.538,41.028-42.29,202.854-170.724,196.977c11.413-82.227,41.557-168.933,89.305-215.359   C-13.155-33.447,12.25-55.381,36.892-41.838z"></path>
                      <path fill="#CE2030" d="M223.926,162.756c-48.011,44.557-84.309-53.056-97.171-91.923C109.344,18.23,90.478-19.672,68.983-47.347   C187.902-91.804,172.333,110.604,223.926,162.756z"></path>
                      <path fill="#0C88C4" d="M250.186,141.745c8.536,7.45,9.866,22.737,0,28.894c-4.609-2.373-4.342-9.67-10.502-10.507   C242.137,152.947,247.739,148.934,250.186,141.745z"></path>
                      <path fill="#0C88C4" d="M237.068,178.52c-6.541,2.209-14.07,3.433-23.64,2.623C218.749,177.48,235.096,161.865,237.068,178.52z"></path>
                      <path fill="#CE2030" d="M-122.736,186.393c-10.514,0-21.013,0-31.527,0C-121.915,83.05-85.428-16.161,8.572-57.845   c8.355,2.266-16.154,12.215-21.007,15.749C-74.721,3.278-104.676,88.723-122.736,186.393z"></path>
                      <path fill="#0C88C4" d="M255.581,178.52c6.543,2.209,14.074,3.433,23.642,2.623C273.896,177.48,257.553,161.865,255.581,178.52z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>.NET</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= java_application_development_services_path %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="396.21px" height="535.9px" viewBox="71.374 2.749 396.21 535.9" enable-background="new 71.374 2.749 396.21 535.9" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <g>
                        <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M382.002,396.825    c-0.485-2.063,3.416-3.839,4.766-4.521c2.392-1.21,4.748-2.431,7.071-3.771c4.839-2.793,9.597-5.732,14.193-8.908    c9.102-6.289,17.602-13.559,24.52-22.231c6.149-7.711,11.056-16.29,11.402-26.382c0.305-8.855-2.867-17.065-9.439-23.088    c-10.956-10.04-27.541-11.695-40.872-5.73c2.369-3.878,6.651-6.146,10.832-7.562c5.093-1.724,10.555-2.435,15.912-2.619    c10.162-0.35,20.178,2.204,28.685,7.83c7.92,5.239,13.963,12.949,16.028,22.331c2.316,10.523-0.442,21.119-6.314,29.974    c-11.323,17.072-29.901,27.766-48.501,35.234C401.055,391.087,391.564,394.108,382.002,396.825    C381.813,396.02,411.231,388.521,382.002,396.825z"></path>
                        <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M208.684,297.234    c-12.023,3.28-24.137,6.391-35.781,10.882c-4.578,1.766-9.259,3.655-13.547,6.065c-2.56,1.439-7.463,4.878-4.605,8.251    c1.319,1.558,3.453,2.381,5.329,3.027c2.294,0.79,4.674,1.345,7.045,1.847c5.854,1.239,11.809,1.969,17.769,2.452    c12.896,1.045,25.877,1,38.806,0.931c25.377-0.136,50.752-1.193,76.048-3.242c23.591-1.911,47.118-4.682,70.485-8.455    c4.216-0.681,8.427-1.394,12.631-2.142c-5.271,2.662-10.687,5.038-15.871,7.875c-1.214,0.664-2.447,1.322-3.57,2.135    c-1.158,0.838-2.232,1.809-3.474,2.526c-2.278,1.314-5.174,1.526-7.693,2.124c-12.092,2.857-24.368,4.912-36.678,6.566    c-25.514,3.428-51.186,4.613-76.879,5.793c-12.852,0.59-25.667,0.472-38.518-0.128c-12.432-0.58-24.876-1.158-37.258-2.457    c-5.916-0.62-11.816-1.409-17.673-2.449c-5.922-1.052-11.936-2.188-17.661-4.055c-2.42-0.789-4.832-1.717-7.049-2.979    c-1.777-1.011-3.779-2.377-4.519-4.381c-1.299-3.521,2.482-6.502,5.031-8.151c3.164-2.048,6.661-3.484,10.106-4.975    c4.53-1.96,9.068-3.875,13.705-5.573c10.254-3.756,20.818-6.669,31.568-8.603C187.07,298.207,197.875,297.254,208.684,297.234    C193.49,301.38,178.797,297.289,208.684,297.234z"></path>
                        <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M465.859,486.72    c0.393-0.09-0.316,2.83-0.414,3.188c-0.33,1.215-0.749,2.406-1.253,3.561c-0.935,2.139-2.163,4.142-3.611,5.971    c-2.908,3.676-6.639,6.619-10.598,9.089c-9.663,6.028-20.66,9.932-31.55,13.077c-23.491,6.785-47.891,10.035-72.195,12.181    c-24.617,2.174-49.331,3.331-74.045,3.363c-24.027,0.031-48.09-0.913-71.998-3.371c-9.619-0.989-19.254-2.154-28.767-3.907    c-9.28-1.71-18.666-4.072-26.983-8.661c21.479,3.16,43.127,5.163,64.803,6.33c22.854,1.23,45.763,1.519,68.643,0.896    c22.457-0.612,44.902-2.097,67.22-4.698c20.973-2.445,41.804-5.939,62.34-10.868c11.508-2.763,22.945-5.959,33.963-10.312    c4.801-1.896,9.54-4.026,13.959-6.707C459.326,493.451,463.185,490.549,465.859,486.72    C466.043,486.678,460.13,494.92,465.859,486.72z"></path>
                        <path fill="#CE2030" stroke="#CE2030" stroke-width="3" stroke-miterlimit="10" d="M322.937,4.274    c0.971-0.414,2.858,3.219,3.31,3.86c1.237,1.757,2.38,3.582,3.416,5.465c2.254,4.093,3.994,8.459,5.196,12.974    c2.921,10.968,2.867,22.781,0.101,33.769c-2.691,10.684-7.669,20.682-13.455,30.006c-6.2,9.992-13.729,19.071-21.889,27.517    c-8.651,8.955-18.133,16.976-27.71,24.913c-9.106,7.546-18.154,15.156-25.903,24.136c-7.066,8.188-13.136,17.354-16.352,27.76    c-1.646,5.325-2.528,10.887-2.474,16.464c0.056,5.812,1.225,11.489,2.975,17.014c3.019,9.536,7.868,18.299,13.455,26.553    c5.403,7.983,11.4,15.548,16.724,23.587c1.845,2.786,3.608,5.627,5.241,8.542c0.833,1.486,1.631,2.992,2.39,4.518    c0.362,0.728,0.715,1.46,1.058,2.196c0.18,0.386,0.725,2.144,1.103,2.177c-9.229-7.435-17.629-15.869-25.99-24.248    c-8.427-8.446-16.844-16.882-24.189-26.311c-7.256-9.315-13.913-19.646-17.663-30.915c-3.674-11.039-3.4-23.132,1.303-33.816    c4.442-10.093,11.798-18.51,19.641-26.116c8.261-8.011,17.096-15.378,26.105-22.527c18.288-14.512,37.648-28.342,53.091-46.019    c7.336-8.397,13.538-17.787,17.755-28.137c3.974-9.754,5.762-20.442,5.847-30.947C326.082,19.135,325.218,11.495,322.937,4.274    C323.662,3.965,328.317,21.307,322.937,4.274z"></path>
                        <path fill="#CE2030" stroke="#CE2030" stroke-width="3" stroke-miterlimit="10" d="M389.117,112.705    c-18.917,12.148-38.803,22.917-56.46,36.932c-8.351,6.628-16.334,14.006-22.896,22.442c-3.148,4.047-5.872,8.485-7.49,13.374    c-1.72,5.191-2.051,10.734-1.046,16.104c1.811,9.667,7.523,17.745,13.029,25.648c5.365,7.704,11.97,14.782,14.876,23.9    c3.221,10.104,1.481,20.973-3.829,30.028c-5.024,8.567-12.479,15.938-20.188,22.095c-2.628,2.098-5.354,4.071-8.147,5.941    c-1.425,0.953-2.866,1.88-4.322,2.783c-0.789,0.49-1.583,0.974-2.38,1.451c-0.463,0.276-1.628,1.281-2.167,1.23    c0.023,0.003,1.298-1.612,1.451-1.777c0.7-0.752,1.4-1.504,2.093-2.263c1.378-1.508,2.728-3.042,3.999-4.641    c2.689-3.382,5.011-7.073,6.528-11.134c1.78-4.764,2.386-9.895,1.989-14.955c-0.406-5.179-2.291-10.029-5.05-14.396    c-2.606-4.126-5.849-7.789-8.906-11.577c-3.166-3.921-6.157-7.992-8.792-12.291c-5.788-9.444-9.655-19.996-10.492-31.088    c-0.764-10.121,1.303-20.107,6.127-29.04c4.486-8.308,10.803-15.724,17.669-22.154c16.147-15.121,36.35-25.318,56.642-33.668    C363.69,120.573,376.307,116.41,389.117,112.705C364.088,128.779,378.39,115.807,389.117,112.705z"></path>
                        <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M362.818,384.97    c-21.142,6.025-42.768,10.287-64.601,12.837c-24.48,2.858-49.362,3.904-73.976,2.399c-11.599-0.709-23.209-2.036-34.553-4.605    c-5.102-1.156-10.153-2.572-15.065-4.377c-3.869-1.422-7.779-2.994-11.164-5.387c-2.541-1.797-4.975-4.277-5.377-7.506    c-0.466-3.738,2.015-6.893,4.711-9.164c3.035-2.557,6.642-4.49,10.227-6.15c2.292-1.062,4.642-1.988,7.013-2.854    c1.105-0.404,2.215-0.796,3.326-1.188c0.559-0.196,1.118-0.394,1.677-0.591c0.196-0.069,1.346-0.395,1.369-0.433    c-0.401,0.663-1.305,1.347-1.882,1.891c-0.757,0.714-1.534,1.407-2.258,2.155c-1.435,1.484-2.605,3.223-2.867,5.314    c-0.568,4.548,3.222,7.029,7.004,8.436c5.024,1.866,10.527,2.485,15.823,3.034c6.043,0.625,12.122,1.048,18.184,1.448    c25.411,1.681,50.963,0.967,76.271-1.807c6.048-0.663,12.084-1.443,18.102-2.338c5.76-0.856,11.595-1.655,17.285-2.901    c2.273-0.498,4.493-1.243,6.786-1.652c0.705-0.126,1.576-0.313,2.275-0.065c0.957,0.341,1.785,1.131,2.537,1.784    c4.113,3.571,8.646,6.484,13.473,9.008C358.999,383.23,360.892,384.141,362.818,384.97    C331.878,393.789,357.385,382.632,362.818,384.97z"></path>
                        <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M198.768,416.228    c0.072,0.004,0.144,0.004,0.216,0c-0.848,1.361-2.506,2.156-3.628,3.27c-1.33,1.32-2.177,3.188-1.563,5.062    c1.221,3.724,6.742,4.806,10.022,5.573c5.865,1.373,11.821,2.069,17.803,2.695c6.528,0.681,13.067,1.271,19.62,1.66    c12.804,0.761,25.625,0.602,38.403-0.519c11.388-0.999,22.694-2.72,33.939-4.755c3.142-0.568,6.28-1.159,9.416-1.759    c0.309-0.059,0.617-0.117,0.926-0.177c0.48-0.092,0.824,0.241,1.237,0.479c0.829,0.478,1.66,0.951,2.494,1.421    c1.676,0.942,3.362,1.867,5.06,2.769c6.745,3.584,13.683,6.813,20.834,9.501c-17.384,8.178-36.469,12.822-55.399,15.665    c-21.577,3.24-43.667,4.021-65.375,1.654c-10.985-1.198-21.936-3.229-32.521-6.425c-5.074-1.533-10.075-3.411-14.78-5.866    c-3.559-1.857-7.214-4.153-9.582-7.473c-1.473-2.064-2.299-4.595-1.834-7.135c0.529-2.888,2.674-5.187,4.913-6.931    C184.778,420.414,191.97,418.677,198.768,416.228C198.798,416.203,193.762,418.032,198.768,416.228z"></path>
                        <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M432.877,459.774    c3.471,1.616,7.717,3.361,9.214,7.21c1.976,5.078-2.503,9.732-6.213,12.566c-8.59,6.562-19.54,9.823-29.761,12.85    c-21.078,6.24-42.6,10.473-64.402,13.208c-23.832,2.99-47.836,4.419-71.822,5.447c-26.022,1.115-52.002,0.577-77.988-1.126    c-25.301-1.659-50.618-3.883-75.709-7.583c-6.21-0.916-12.407-1.929-18.581-3.066c-5.62-1.036-11.401-2.102-16.646-4.457    c-4.033-1.812-8.842-5.132-7.986-10.193c0.733-4.337,4.625-7.609,8.01-10.019c8.365-5.953,18.181-10.167,27.907-13.312    c10.028-3.241,20.625-5.656,31.162-6.392c5.685-0.396,12.908-0.643,17.747,2.927c-11.381,0.376-22.72,2.41-33.384,6.451    c-4.32,1.637-8.684,3.516-12.632,5.937c-2.652,1.627-7.078,5.021-4.528,8.504c2.181,2.98,6.638,4.283,9.978,5.369    c4.569,1.485,9.21,2.778,13.884,3.889c11.89,2.825,24.028,4.553,36.177,5.799c24.656,2.528,49.541,3.382,74.315,3.59    c24.791,0.208,49.595-0.464,74.335-2.076c24.171-1.575,48.444-3.836,72.349-7.817c6.082-1.013,12.112-2.244,18.111-3.666    c5.628-1.335,11.297-2.669,16.642-4.927c4-1.689,8.306-3.904,11.039-7.387c1.346-1.714,2.065-3.734,1.823-5.929    C435.667,463.306,434.386,461.409,432.877,459.774C436.646,461.529,434.596,461.636,432.877,459.774z"></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name"><h4>Java</h4><div class="text-service"></div></div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= ruby_on_rails_development_company_path %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M349.543,110.025c35.68-1.063,77.692,0.721,116.563,0   c-20.504,12.698-43.021,23.385-63.58,36.028C383.928,134.981,367.725,121.513,349.543,110.025z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M563.596,169.365c-48.679-2.893-98.861-13.463-148.354-19.074   c23.185-13.197,49.54-28.875,72.057-39.208C526.237,117.006,550.899,137.203,563.596,169.365z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M319.872,126.978c24.86-1.351,45.509,7.035,54.045,27.551   c14.089,33.873-4.248,76.712-16.956,100.669c-15.583,29.378-33.935,54.021-51.923,74.177   c-42.534,47.657-87.233,87.891-139.876,111.263c-25.808,11.46-79.591,22.354-102.787,2.121   c-11.617-10.134-17.719-28.854-14.835-55.103c3.797-34.569,21.324-67.231,39.207-94.311   c35.294-53.445,79.209-96.689,134.578-130.338C247.391,147.165,281.591,129.059,319.872,126.978z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M403.586,160.888c47.343,36.722,96.938,76.846,139.875,114.443   c-59.992,3.234-118.573,7.881-178.023,11.657C377.155,243.956,391.332,203.383,403.586,160.888z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M555.118,285.929c-11.112,36.571-27.928,67.44-46.625,96.429   c-45.666-27.804-91.137-55.803-136.696-83.714C431.707,293.21,493.883,290.04,555.118,285.929z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M561.477,302.883c-3.328,89.57-13.745,181.234-19.074,272.334   c-8.103-44.261-14.209-90.502-21.194-136.697c-2.145-14.187-7.881-32.906-6.357-45.566c1.348-11.194,19.796-32.96,25.432-43.446   C549.03,333.238,554.851,318.826,561.477,302.883z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M402.527,501.041c-64.168-19.544-126.251-41.176-190.74-60.402   c8.539-12.596,21.318-22.249,32.849-32.849c35.4-32.539,72.643-67.285,108.087-100.668   C371.491,369.594,386.522,435.804,402.527,501.041z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M369.677,311.361c44.007,25.93,86.859,53.016,130.338,79.474   c-24.744,38.13-53.195,78.201-83.713,107.026C400.75,435.706,384.471,374.274,369.677,311.361z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M505.314,404.611c12.728,66.394,20.149,138.095,31.79,205.577   c-0.695,5.028-3.908-3.173-6.358-3.18c-36.077-31.742-71.358-64.28-108.085-95.37C450.933,476.683,480.956,443.477,505.314,404.611   z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M32.704,409.909c9.245,19.014,15.422,41.094,24.372,60.401   c-8.825,17.315-18.617,33.66-27.552,50.863C28.927,486.666,31.286,445.934,32.704,409.909z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M208.608,448.056c64.953,20.881,129.364,42.303,194.978,62.521   c-32.43,36.095-72.514,64.539-115.504,90.071C260.537,550.841,234.698,499.322,208.608,448.056z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M136.551,637.737c-23.26-53.742-47.208-106.797-68.879-162.129   c41.967-8.19,83.156-17.158,123.981-26.492C176.968,511.435,154.155,574.806,136.551,637.737z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M202.25,453.356c25.947,49.995,52.742,99.142,77.356,150.472   c-40.005,19.337-81.19,37.493-135.637,42.387C163.661,582.194,182.993,517.812,202.25,453.356z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M63.434,490.444c23.555,48.856,42.329,102.493,64.64,152.591   c-35.132,5.107-61.085-8.145-75.236-27.551C56.865,574.3,60.291,532.514,63.434,490.444z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M51.777,498.92c0.453,34.363-5.876,71.127-7.417,107.028   c-7.797-17.472-20.032-38.467-15.895-62.52C31.296,526.966,48.849,513.405,51.777,498.92z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M527.567,618.663c-75.063-5.117-148.232-12.13-223.59-16.953   c38.798-25.491,74.383-54.19,108.087-84.774C452.241,548.463,492.478,585.581,527.567,618.663z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M473.525,623.961c-84.409,7.784-172.008,12.374-258.559,18.016   c25.911-9.058,50.259-19.679,73.116-31.789C350.568,614.107,410.614,620.466,473.525,623.961z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M418.421,158.768c46.464,5.108,98.845,13.478,147.294,20.134   c7.591,30.329,1.382,69.278-6.358,94.31C511.379,236.063,465.515,196.802,418.421,158.768z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>Ruby</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="#">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="408px" height="408px" viewBox="0 0 408 408" enable-background="new 0 0 408 408" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <path fill="#0C88C4" d="M202,9C93.199,9,5,97.2,5,206s88.2,197,197,197s196.999-88.2,196.999-197S310.8,9,202,9z M165.276,266.103   c-11.702,19.228-38.938,23.544-68.554,17.379c-0.897-7.468,2.817-18.325,2.896-28.001c10.466,4.484,25.262,3.785,31.864-0.966   c18.917-13.61,2.912-91.464,9.656-119.73c10.622,0,21.242,0,31.865,0C167.427,178.729,183.646,235.919,165.276,266.103z    M197.14,277.689c0.655-10.611,4.824-17.707,5.794-28.002c14.305,8.75,62.127,18.193,61.797-7.725   c-0.165-12.784-16.559-17.673-28.004-22.207c-14.678-5.817-29.817-13.841-35.725-27.036   c-21.548-48.144,48.283-75.895,91.729-53.107c-3.016,8.25-5.072,17.458-7.725,26.07c-11.814-5.826-52.409-12.978-53.105,7.726   c-0.401,11.885,15.724,17.129,26.069,21.241c19.155,7.614,37.781,16.894,40.554,38.624   C305.02,284.166,240.071,296.94,197.14,277.689z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name"><h4>JavaScript</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="#">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="533.193px" height="466.508px" viewBox="0 0 533.193 466.508" enable-background="new 0 0 533.193 466.508" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <path fill="#0C88C4" d="M434.712,114.854c-33.555,19.103-67.154,38.161-100.48,57.489c-22.486-36.533-73.827-68.963-133.977-50.49   c-44.659,13.716-83.537,53.727-82.984,112.479c0.275,29.292,11.826,54.308,25.995,71.986c14.909,18.605,33.936,31.813,58.49,38.993   c60.151,17.592,111.105-14.892,132.976-52.489c34.506,20.062,67.563,37.419,101.98,55.489   c-19.139,34.597-43.559,59.027-74.986,79.986c-30.848,20.569-69.361,36.108-116.478,37.993   c-50.546,2.02-91.089-10.243-124.978-29.496c-32.547-18.491-59.844-44.197-79.985-74.486   c-20.75-31.202-36.782-67.976-38.993-115.479c-2.307-49.58,9.253-91.211,28.495-125.977c17.902-32.345,42.747-59.007,73.987-80.486   C134.634,19.147,173.465,2.86,220.252,0.374c55.37-2.942,98.479,11.77,132.475,31.993   C387.444,53.023,414.647,80.475,434.712,114.854z"></path>
                      <path fill="#CE2030" d="M384.72,183.467c0,11,0,21.997,0,32.994c10.934,0.464,22.162,0.167,32.994,0.5c0,10.997,0,21.996,0,32.994   c-10.83,0-21.662,0-32.494,0c-0.441,10.845-0.166,22.495-0.5,33.493c-10.996,0-21.996,0-32.992,0c0-11.164,0-22.328,0-33.493   c-11.166,0-22.33,0-33.494,0c0-10.999,0-21.997,0-32.994c10.998,0,21.994,0,32.994,0c0.301-13.411,0.426-13.536,0.551-33.536   C362.608,183.424,373.89,183.467,384.72,183.467z"></path>
                      <path fill="#CE2030" d="M500.7,183.342c0,11,0,21.997,0,32.994c10.326,0.464,22.494,0.167,33.492,0.5c0,10.997,0,21.996,0,32.994   c-11.164,0-22.328,0-33.492,0c0,11.165,0,22.329,0,33.493c-10.998,0-21.996,0-32.994,0c0-11.164,0-22.328,0-33.493   c-11.166,0-22.33,0-33.494,0c0-10.999,0-21.997,0-32.994c10.998,0,21.994,0,32.994,0c0.32-15.786,0.195-20.161,0.32-33.411   C478.358,183.424,489.868,183.342,500.7,183.342z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name"><h4>C++</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= dot_net_development_path %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="679px" height="317px" viewBox="-177.472 -87 679 317" enable-background="new -177.472 -87 679 317" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <path fill="#CE2030" d="M397.266-63.105C311.185-35.378,322.024,89.266,265.96,147.002c-13.425-26.788,3.408-62.363,15.756-102.431   C299.716-13.928,318.921-70.035,397.266-63.105z"></path>
                      <path fill="#0C88C4" d="M344.742,115.484C380.721,67.424,418.061-2.029,449.79-63.102c8.746,0,17.511,0,26.259,0   C428.216,5.233,398.57,96.971,339.487,154.883c-12.206,11.957-29.604,24.176-49.9,23.637c-3.251-5.496-7.635-9.877-13.139-13.131   c65.757-62.062,46.222-209.414,154.957-228.49C403.353-2.757,374.178,56.503,344.742,115.484z"></path>
                      <path fill="#0C88C4" d="M132.014-55.224c95.409-11.375,85.79,105.051,112.925,170.708c-3.355,9.777-8.398,17.875-10.499,28.894   C190.321,87.818,202.054-24.594,132.014-55.224z"></path>
                      <path fill="#0C88C4" d="M36.892-41.838C-23.243-1.29-55.103,67.518-70.794,152.501C-38.29,84.333-17.714,4.242,47.391-31.331   c52.828,58.357,40.122,182.25,115.561,217.979C72.186,188.996,81.461,68.541,55.279-2.446   c-81.538,41.028-42.29,202.854-170.724,196.977c11.413-82.227,41.557-168.933,89.305-215.359   C-13.155-33.447,12.25-55.381,36.892-41.838z"></path>
                      <path fill="#CE2030" d="M223.926,162.756c-48.011,44.557-84.309-53.056-97.171-91.923C109.344,18.23,90.478-19.672,68.983-47.347   C187.902-91.804,172.333,110.604,223.926,162.756z"></path>
                      <path fill="#0C88C4" d="M250.186,141.745c8.536,7.45,9.866,22.737,0,28.894c-4.609-2.373-4.342-9.67-10.502-10.507   C242.137,152.947,247.739,148.934,250.186,141.745z"></path>
                      <path fill="#0C88C4" d="M237.068,178.52c-6.541,2.209-14.07,3.433-23.64,2.623C218.749,177.48,235.096,161.865,237.068,178.52z"></path>
                      <path fill="#CE2030" d="M-122.736,186.393c-10.514,0-21.013,0-31.527,0C-121.915,83.05-85.428-16.161,8.572-57.845   c8.355,2.266-16.154,12.215-21.007,15.749C-74.721,3.278-104.676,88.723-122.736,186.393z"></path>
                      <path fill="#0C88C4" d="M255.581,178.52c6.543,2.209,14.074,3.433,23.642,2.623C273.896,177.48,257.553,161.865,255.581,178.52z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>ASP.NET</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="#">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="547.5px" height="286.078px" viewBox="0 0 547.5 286.078" enable-background="new 0 0 547.5 286.078" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <path fill="#CE2030" d="M24.72,177.919c-6.923-10.691-20.478-24.648-20.717-37.832c-0.212-11.677,10.358-22.913,18.917-36.932   c17.334-28.395,27.325-42.997,42.335-68.458C74.504,19.01,82.139,2.447,89.576,0.469c8.637-2.297,12.05,4.22,16.178,11.208   c4.097,6.936,7.299,12.141,7.241,20.319c-0.063,8.859-9.756,18.87-15.313,27.923C86.904,77.479,77.026,93.28,65.255,112.162   c-3.591,5.759-15.035,20.799-15.313,27.022c-0.41,9.152,10.239,21.674,15.145,29.826c12.098,20.1,20.918,34.156,35.297,56.646   c15.037,23.52,23.174,25.943,9.561,44.941c-4.273,5.965-7.698,11.633-14.064,11.807c-8.845,0.24-22.71-26.895-26.122-32.428"></path>
                      <path fill="#CE2030" d="M451.115,60.92c-4.299-6.861-12.859-18.742-15.314-27.022c-2.621-8.843,11.494-26.314,17.115-31.526   c0.691-0.643,0.662-0.565,1.801-0.901c8.939-2.647,20.592,21.24,27.021,31.527c15.164,24.251,29.848,47.207,44.139,70.258   c6.75,10.89,19.109,25.716,18.916,37.832c-0.199,12.401-14.455,27.724-20.719,37.832c-25.15,40.593-24.984,39.927-45.037,72.062   c-4.025,6.453-17.1,32.101-25.221,32.428c-6.781,0.271-21.215-18.749-21.619-26.125c-0.49-8.926,12.176-25.371,17.227-33.271   c12.998-20.332,17.832-27.166,31.666-49c3.818-6.027,17.998-25,17.764-33.021"></path>
                      <path fill="#0C88C4" d="M201.666,4.375c35.096,0,70.815,0.003,108.09,0c12.6-0.001,24.193,0,35.58,0   c1.271,0,16.621,24.827,22.969,34.228c23.564,34.89,44.451,71.548,65.756,106.289c-27.248,43.012-59.535,88.023-87.211,130.611   c-47.738,0-97.973,0-144.905,0c-33.389-50.605-53.287-84.88-83.655-130.775C144.911,100.787,173.718,51.103,201.666,4.375z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>WPF</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="<%= ruby_on_rails_development_company_path %>">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M367.826,53.237c12.229-4.558,31-0.46,44.084,0   c0.754,8.651,2.357,16.45,3.525,24.688c-10.613,3.493-27.18,1.033-40.557,1.764C371.25,72.148,372.379,59.851,367.826,53.237z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M306.105,95.558c-13.045,4-20.458,13.634-33.504,17.635   c-7.147-9.899-15.219-18.875-22.924-28.215c8.432-7.439,22.514-9.228,29.978-17.634C291.302,73.92,298.506,84.936,306.105,95.558z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M350.191,598.129c-89.935,0-179.868,0-269.802,0   c-0.06-140.42,34.062-236.488,82.88-329.756c48.181-92.051,120.852-195.324,262.748-185.158   c48.566,3.479,93.756,27.465,128.729,54.666c11.303,8.791,28.488,22.384,10.58,31.741c-6.744,3.524-21.428-12.33-35.268-17.634   c-15.936-6.108-28.033-8.702-49.375-7.054c-74.604,5.761-133.639,65.822-158.707,126.966   C280.993,371.862,316.605,506.487,350.191,598.129z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M510.662,83.215c9.799,9.597,24.619,14.172,31.74,26.451   c-2.17,0.77-3.623,2.256-3.527,5.29c-12.736-1.958-18.955-10.433-29.979-14.106C508.553,94.036,508.834,87.854,510.662,83.215z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M168.56,155.514c11.628,7.77,23.167,15.628,35.268,22.924   c-8.775,10.622-17.675,21.12-26.451,31.741c-13.89-6.095-23.735-16.235-37.031-22.924   C149.435,176.36,159.212,166.152,168.56,155.514z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M503.607,160.804c8.064,3.103,17.779,4.557,26.451,7.054   c0,3.527,0,7.054,0,10.58c-10.736,1.331-15.992-2.818-26.451-1.763C503.607,171.385,503.607,166.094,503.607,160.804z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M447.18,185.492c-7.975,2.608-10.521,10.64-19.398,12.344   c-1.922-9.247-7.848-14.49-10.582-22.924C430.283,170.913,451.037,160.545,447.18,185.492z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M373.113,206.653c8.301,9.335,14.447,20.823,21.162,31.742   c-4.018,5.975-8.715,11.269-10.58,19.397c-11.352-9.809-21.561-20.76-29.977-33.504   C360.773,218.998,368.246,214.127,373.113,206.653z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M76.863,291.297c17.149,4.6,31.53,11.969,47.612,17.634   c-4.988,12.646-8.585,26.684-14.107,38.794c-16.553-3.432-30.089-9.881-45.849-14.107   C66.666,317.543,74.588,307.244,76.863,291.297z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M332.557,293.06c11.891,5.156,20.168,13.924,29.979,21.16   c-2.002,10.929-5.242,20.624-7.055,31.742c-12.957-7.615-23.699-17.445-33.504-28.215   C324.863,308.877,329.182,301.442,332.557,293.06z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M320.213,386.521c14.107,4.114,22.643,13.801,37.031,17.634   c1.113,10.641,2.502,21.011,1.764,33.505c-14.131-4.68-25.9-11.721-40.559-15.871C319.063,410.059,316.887,395.538,320.213,386.521   z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M27.487,462.346c18.901-0.09,34.002,3.619,52.903,3.527   c-4.762,16.4-5.649,36.674-10.581,52.902c-16.153-1.479-30.457-4.811-47.612-5.289C22.513,494.992,25.78,479.449,27.487,462.346z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M332.557,511.723c14.695,0,29.391,0,44.086,0   c4.316,15.078,14.289,24.504,17.633,40.559c-16.16-2.648-34.787-2.834-52.9-3.529C339.904,534.94,333.68,525.883,332.557,511.723z"></path>
                  </g>
                </svg>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>RoR</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="#">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="406.366px" height="457.843px" viewBox="57.053 6.751 406.366 457.843" enable-background="new 57.053 6.751 406.366 457.843" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M184.693,419.901c17.684-7.493,14.402-7.21,29.219-14.045   c5.447-2.514,18.396,11.887,46.937,28.979c59.107-32.52,117.725-65.529,174.28-100.602c0.863-54.872,2.685-96.752,2.685-147.319   c0-14.922,1.053-37.553-4.961-47.827c-7.235-12.366-30.803-21.907-40.231-27.31c-33.661-19.291-53.186-31.513-86.433-51.009   c-11.11-6.516-33.853-23.922-43.923-24.088c-9.296-0.153-34.93,17.982-45.341,24.088c-43.552,25.541-88.25,50.264-128.939,76.513   c0,65.178,0,130.357,0,195.535c10.623,8.47,20.11,13.702,32.589,21.254c13.575,8.215,42.866,26.961,52.426,7.084   c8.319-17.298,4.25-80.204,4.25-103.434c0-39.236-1.123-77.429,1.417-106.271c6.887-1.942,21.557-2.552,28.338,0   c2.622,44.002,1.417,85.241,1.417,127.524c0,64.078,10.45,131.84-65.178,119.021c-14.778-2.506-28.703-10.706-45.888-20.482   c-12.62-7.182-32.801-17.312-36.293-30.527c-4.011-15.18-3.032-78.59-3.386-112.953c-0.361-35.025-3.006-96.717,6.219-115.171   c6.66-13.323,27.884-19.502,45.341-29.755c18.255-10.72,32.193-18.405,46.759-26.921c37.006-21.639,67.479-44.689,94.933-53.843   c24.017-8.007,52.226,16.313,68.013,25.505c33.167,19.311,61.329,34.541,99.184,56.676c13.763,8.047,43.454,19.624,43.925,32.589   c1.894,52.134,1.271,79.288,1.271,110.211c0,31.332,0.254,58.46-1.271,110.828c-0.454,15.601-23.74,22.828-45.342,35.423   c-27.154,15.832-42.781,25.224-100.602,59.51c-14.977,8.881-37.604,25.312-53.842,25.506   c-16.826,0.199-29.365-12.229-42.507-19.837C206.282,436.953,201.867,431.718,184.693,419.901z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M389.788,206.713c-7.31,3.081-20.146,0.637-29.756,1.416   c-2.533-10.667-6.321-21.769-14.168-26.921c-20.237-13.289-88.384-12.31-82.182,19.837c3.078,15.958,44,18.213,63.76,21.254   c24.503,3.77,52.568,9.061,62.346,22.671c8.835,12.296,10.219,39.563,1.418,55.26c-26.81,47.806-177.677,45.05-165.781-34.007   c6.857-3.061,19.186-0.651,28.338-1.416c4.752,10.307,5.028,22.82,15.585,29.754c21.33,14.008,78.167,9.273,89.268-2.833   c3.747-4.089,6.281-13.102,5.667-18.421c-2.269-19.684-37.463-20.143-60.928-22.67c-19.915-2.146-51.567-8.529-62.344-19.837   c-15.396-16.155-12.975-49.583,1.417-65.177c25.052-27.145,108.318-28.476,134.607,1.417   C385.829,177.037,388.183,184.871,389.788,206.713z"></path>
                  </g>
                </svg></div>
              </div>
              <div class="text-center col-name"><h4>NodeJS</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="#">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="422.241px" height="447.812px" viewBox="1.592 -1 422.241 447.812" enable-background="new 1.592 -1 422.241 447.812" xml:space="preserve" class="svg replaced-svg">
                    <g>
                      <g>
                        <path fill="#0087C4" d="M422.424,72.069c-11.041,92.144-13.727,183.417-25.039,275.283    c-59.402,32.359-127.689,65.063-186.445,98.064c-59.769-31.992-109.228-65.072-167.997-98.063C33.7,255.385,12.747,165.9,3,74.433    C70.996,48.698,141.392,25.366,209.756,0C280.866,23.804,351.032,48.55,422.424,72.069z M70.644,346.318    c19.604,0.699,29.524,0.508,54.168,1.107c9.483-24.387,17.876-49.861,29.537-72.068c43.642,0.715,84.942-0.91,127.597-1.184    c16.881,37.676,16.881,37.676,34.266,73.254c24.209-0.41,24.209-0.41,49.623,0C292.573,197.587,243.307,93.678,211.813,31.27    C162.686,141.778,116.656,240.26,70.644,346.318z"></path>
                        <path fill="#CE152F" d="M213.858,124.765c19.152,39.469,30.119,64.647,47.258,98.124c-30.795,0.863-57.932,0.375-88.607,1.123    C185.819,190.457,200.279,158.052,213.858,124.765z"></path>
                      </g>
                      <g>
                        <g>
                          <path fill="#CE152F" d="M211.008,446.811l-2.9-1.553c-32.883-17.602-63.131-35.871-92.383-53.539     c-22.9-13.832-46.58-28.135-71.641-42.203l-2.721-1.527l-0.312-3.105c-4.602-45.781-12.329-91.758-19.802-136.223     c-7.134-42.447-14.511-86.34-19.167-130.037l-0.491-4.607l4.333-1.64C41.927,58.75,79.198,45.608,115.242,32.9     c30.447-10.736,61.932-21.837,92.458-33.164L209.686-1l2.007,0.672c30.138,10.089,60.595,20.52,90.048,30.608     c38.367,13.14,78.041,26.728,117.428,39.703l4.664,1.537l-0.584,4.875c-5.275,44.033-8.65,88.645-11.912,131.787     c-3.387,44.781-6.889,91.09-12.523,136.836l-0.377,3.061l-2.707,1.475c-26.045,14.188-54.324,28.693-81.674,42.723     c-33.746,17.311-68.641,35.211-100.178,52.924L211.008,446.811z M52.674,340.581c24.22,13.666,47.101,27.486,69.255,40.867     c28.259,17.068,57.449,34.699,88.95,51.678c30.965-17.295,64.873-34.689,97.699-51.525c26.334-13.51,53.537-27.463,78.699-41.111     c5.381-44.475,8.791-89.57,12.092-133.213c3.154-41.684,6.41-84.732,11.387-127.432c-37.92-12.531-76.014-25.577-112.904-38.212     c-28.779-9.857-58.52-20.042-87.963-29.91c-29.995,11.104-60.823,21.974-90.657,32.494C84.702,56.392,49.044,68.965,14.516,81.96     c4.637,41.824,11.715,83.939,18.567,124.713C40.421,250.329,48.002,295.438,52.674,340.581z"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="text-center col-name"><h4>Angular</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="#">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="497.726px" height="443.49px" viewBox="48.78 20.545 497.726 443.49" enable-background="new 48.78 20.545 497.726 443.49" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill="#0087C4" d="M441.954,158.251c19.851,7.148,40.635,14.775,58.977,25.642c17.43,10.323,34.808,23.554,42.311,42.311   c13.546,33.854-18.213,59.652-37.607,71.797c-20.008,12.524-40.832,20.877-63.25,27.777   c11.465,46.324,14.901,118.925-25.642,134.619c-24.421,9.454-51.59-3.737-68.378-13.248   c-19.316-10.941-35.266-23.314-50.002-37.606c-15.482,13.818-31.015,26.448-50.429,37.606   c-16.787,9.648-43.809,23.124-68.378,13.676c-40.775-15.681-37.547-87.369-26.497-134.618   c-34.405-12.117-68.067-24.964-90.174-50.856c-7.255-8.497-13.992-18.729-14.103-32.479c-0.212-26.389,21.671-43.995,38.89-55.131   c19.616-12.686,41.3-21.254,64.959-28.634c-10.844-46.962-14.621-119.426,26.069-135.047c24.066-9.239,51.727,3.609,68.378,13.249   c19.151,11.086,35.045,23.551,50.001,37.608c27.048-21.884,54.077-48.943,96.584-53.85c0.65-0.073,0.759-0.397,1.282-0.428   C458.088,17.246,454.17,105.641,441.954,158.251z M426.997,97.137c-0.598-26.925-4.901-56.767-32.907-53.42   c-34.491,4.122-59.292,29.595-80.344,47.438c11.398,11.864,21.725,24.095,32.052,37.608c2.938,3.841,7.378,11.376,10.687,12.821   c3.947,1.727,11.527,1.468,16.237,2.137c16.896,2.398,32.365,5.186,47.438,8.975C422.891,138.031,427.446,117.404,426.997,97.137z    M243.23,61.666c-12.66-7.982-30.146-19.557-49.574-17.949c-21.802,1.802-25.642,29.48-25.642,52.993   c0,20.859,3.011,40.683,6.838,55.983c20.15-4.922,41.591-8.553,64.104-11.11c13.459-17.598,27.27-34.84,42.309-50.856   C269.395,80.194,257.772,70.835,243.23,61.666z M297.078,106.967c-9.455,10.489-19.247,20.64-27.351,32.479   c17.719-1.159,37.385-1.083,55.13,0C317.515,128.411,306.874,116.972,297.078,106.967z M355.626,181.756   c-2.51-3.914-9.256-16.761-13.248-18.377c-2.481-1.005-7.617-0.542-12.394-0.854c-26.521-1.736-53.228-1.398-77.78,0.854   c-14.484,20.417-29.4,44.291-41.027,68.378c-1.816,3.763-4.75,8.802-4.701,11.111c0.048,2.265,3.481,6.979,5.128,10.257   c9.695,19.285,17.259,32.712,28.206,50.001c2.187,3.453,8.923,16.799,12.821,18.376c5.396,2.184,15.32,0.954,22.223,1.282   c23.564,1.12,47.026,0.729,68.378-1.282c17.271-24.467,32.363-51.114,45.729-79.489   C378.681,221.205,368.113,201.226,355.626,181.756z M180.408,174.49c4.149,13.943,8.436,27.748,14.103,40.174   c7.447-14.115,15.818-29.33,23.932-42.311c1.043-1.668,3.369-3.398,2.564-5.556C207.046,168.934,193.793,171.779,180.408,174.49z    M400.927,214.662c4.416-13.393,9.811-25.807,13.248-40.174c-13.448-2.792-26.669-5.811-41.024-7.691   C382.755,182.405,392.037,198.339,400.927,214.662z M80.405,222.781c-4.956,5.554-10.504,13.869-8.975,23.078   c2.706,16.293,22.689,28.488,36.326,36.326c16.688,9.591,32.858,16.391,51.284,21.795c5.805-21.974,13.679-41.878,22.223-61.111   c-8.879-19.612-15.829-41.153-23.505-61.97C129.508,190.852,98.446,202.568,80.405,222.781z M413.749,242.441   c8.967,19.239,16.221,40.19,23.077,61.54c16.374-5.538,33.05-11.636,48.72-20.513c14.089-7.981,30.695-18.395,36.753-32.907   c5.615-13.456-4.132-24.188-11.966-31.625c-19.351-18.367-47.466-29.813-73.935-38.036   C429.818,202.385,422.167,222.797,413.749,242.441z M373.576,318.084c13.872-2.512,27.854-4.911,41.025-8.12   c-4.109-13.98-8.542-27.644-14.104-40.172C392.502,286.582,381.615,302.76,373.576,318.084z M180.835,309.965   c12.996,3.102,28.016,6.458,41.455,7.69c-10.42-14.794-18.948-31.479-28.206-47.438   C189.567,283.368,184.39,295.855,180.835,309.965z M356.054,342.871c-13.058,17.854-27.253,34.57-41.882,50.854   c10.42,9.611,22.104,19.44,35.472,28.206c12.614,8.271,28.041,17.495,45.302,18.805c27.563,2.091,31.817-25.158,32.053-50.854   c0.194-21.388-2.616-42.818-6.838-57.694C400.925,336.174,378.687,340.86,356.054,342.871z M174.852,333.469   c-4.181,16.949-6.751,36.229-6.411,58.549c0.385,25.211,5.616,51.249,32.907,49.146c17.037-1.313,31.704-10.696,44.446-19.229   c13.506-9.044,26.457-18.287,35.471-28.633c-11.553-11.692-21.691-24.123-32.052-37.608c-2.792-3.633-7.569-11.615-10.684-12.819   c-3.96-1.53-11.258-1.477-16.24-2.139c-16.399-2.18-33.739-5.279-47.01-8.547C174.781,332.259,174.815,332.863,174.852,333.469z    M297.933,377.488c7.234-7.066,14.567-16.074,20.94-23.933c2.271-2.801,5.901-5.5,5.556-8.12   c-17.516,1.037-37.852-0.055-54.703,0.427C279.002,356.531,287.529,367.948,297.933,377.488z"></path>
                    <path fill="#CE152F" d="M294.514,196.286c25.669-1.842,46.831,16.873,49.146,40.6c2.81,28.792-17.396,49.594-41.454,51.711   c-16.122,1.418-29.428-5.068-37.608-13.249c-7.489-7.49-13.535-18.215-13.675-32.479c-0.13-13.186,5.787-24.644,12.821-32.054   C270.917,203.259,280.365,197.3,294.514,196.286z"></path>
                  </g>
                </svg>
                </div>
              </div>
              <div class="text-center col-name"><h4>React</h4>
                <div class="text-service"></div>
              </div>
            </a>
          </div>

        </div>
    <% end %>
    </div>
  </div>

</section>
