<% content_for :title do %>
  Desktop Application Development Company in Dhaka|Syftet Limited
<% end %>
<% content_for :meta_title do %>
  Desktop Application Development Services in Bangladesh | Syftet
<% end %>
<% content_for :lets_work_text do %>
  Our customer service team is available 24/7 for your service. We are just one click away from you. Let us know your idea and what you want us to develop. We will be very glad to support you. We take every project sincerely . You will never find us late in replying to your inquiry or never wait days for emails. We prioritise instant communication. We can’t wait to work with
<% end %>

<div class="custom-software-dev">
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container" id="custom-text-with-padding">
              <h1>Desktop Application Development Services in Bangladesh </h1>
              <p class="p-heading p-large">
                Syftet offers desktop application solutions to ISVs and enterprises. The team of experts in developing desktop apps is highly skilled and committed to rendering the best possible desktop application for you. Our apps will make your business process much more smoother and bring more success.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row"><h2 class="text-center line">WHAT WE DO</h2>
      <div class="text-header-service content-page over-blue-block">
        <p>
          <span style="font-weight: 400;">
            We are a well-known software development company in Bangladesh. Our professional team builds desktop applications from scratch that can play a ground-breaking role at your company. The applications we build have rich functionality and user-friendly interface.Our team is devoted to upgrade your legacy solutions, develop custom middleware for the connectivity of your enterprise applications which will increase the functionality of your business process.
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row blockchain-purple-container purple-container">
      <div class="desktop-soft-col-md-6 min-980-padding-20">
        <div class="blockchain-border">
          <div class="desktop-soft-my-head-purple-block blockchain-my-head-purple-block" id="custom-text">
            DESKTOP APPLICATION <br/> DEVELOPMENT
          </div>
          <div class="desktop-soft-my-text-purple-block blockchain-my-text-purple-block ">
            <p>
              <span style="font-weight: 400;">
                We have a team of experts who are highly experienced in building up desktop applications for various platforms. With us, you are safe as we have highly professional developers, architects, UX/UI specialists, engineers and Quality analysts to make your project real. Feel free to contact us and see your inquiry answered in 24 hours.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="desktop-soft-col-md-6 min-980-padding-20">
        <div class="blockchain-border">
          <div class="desktop-soft-my-head-purple-block blockchain-my-head-purple-block" id="custom-text">
            RESEARCH & <br/> DEVELOPMENT
          </div>
          <div class="desktop-soft-my-text-purple-block blockchain-my-text-purple-block ">
            <p>
              <span style="font-weight: 400;">
                Our team of research and development can build a project from scratch with their innovative ideas and knowledge of modern technological solutions. We always research and develop new products for our clients. If you think you have an idea which needs further research and development, you are highly encouraged to contact us because we have great achievements in sophisticated desktop solutions.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="desktop-soft-col-md-6 min-980-padding-20">
        <div class="blockchain-border">
          <div class="desktop-soft-my-head-purple-block blockchain-my-head-purple-block" id="custom-text">
            DESKTOP SOFTWARE <br/> MODERNIZATION
          </div>
          <div class="desktop-soft-my-text-purple-block blockchain-my-text-purple-block ">
            <p>
              <span style="font-weight: 400;">
                An old and outdated desktop software can restrict productivity and reduce the customer’s retention rate due to  poor performance,  difficulty and security issues. We are specialized in developing a new modern and efficient tool from scratch and our team can modernize your existing tool. If you are thinking of keeping your favourite software, but want to improve its performance, you are highly recommended to contact us.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="desktop-soft-col-md-6 min-980-padding-20">
        <div class="blockchain-border">
          <div class="desktop-soft-my-head-purple-block blockchain-my-head-purple-block" id="custom-text">
            UWP APPLICATIONS <br/> DEVELOPMENT
          </div>
          <div class="desktop-soft-my-text-purple-block blockchain-my-text-purple-block ">
            <p>
              <span style="font-weight: 400;">
                If you are thinking of making your application available to Windows users, Microsoft Store is the perfect choice. Syftet has years of experience in developing UWP applications from scratch. We also can convert your existing software solution into UWP format to make it work in all windows compatible devices.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="desktop-soft-col-md-6 min-980-padding-20">
        <div class="blockchain-border">
          <div class="desktop-soft-my-head-purple-block blockchain-my-head-purple-block" id="custom-text">
            DESKTOP SOFTWARE <br/> INTEGRATION
          </div>
          <div class="desktop-soft-my-text-purple-block blockchain-my-text-purple-block ">
            <p>
              <span style="font-weight: 400;">
                It is of importance to transfer data properly and keep the workflow in IT enterprises. Syftet has expertise in distributing data properly and in performing complex integration. We are aware of the fact that distribution and integration will make your business process much more smoother and effective as a single system.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="desktop-soft-col-md-6 min-980-padding-20">
        <div class="blockchain-border">
          <div class="desktop-soft-my-head-purple-block blockchain-my-head-purple-block" id="custom-text">
            API<br/> DEVELOPMENT
          </div>
          <div class="desktop-soft-my-text-purple-block blockchain-my-text-purple-block ">
            <p>
              <span style="font-weight: 400;">
                In order to ensure better connectivity and functionality among different platforms, we offer API development service for the existing software solutions. Our expertise in API development will improve the functionality of your business tool. Feel free to contact us to learn more about our API Development and we will be happy to assist you.
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="desktop-soft-monitor-block">
    <div class="container">
      <div class="row">
        <h2 class="desktop-soft-monitor-title text-center" style="border-bottom: none !important;;">RELATED PROJECT</h2>
      </div>
    </div>
    <div class="container">
      <div class="blockchain-row row">
        <div class="col-sm-6 min-980-padding-20">
          <h3 class="title-desktop-soft text_criptucyrrent ">
            <%= @portfolio.title %>
          </h3>
          <p class="text_criptucyrrent">
            <%= truncate(@portfolio.content, :length => 500) %>
          </p>

          <div class="desktop-soft-monitor cryptocurrency-block">
            <ul>
              <li>
                  <div>Team Size: <%= @portfolio.team_size %> Developers</div>
              </li>
              <li>
                 <div>Technologies:
                   <%= @portfolio.portfolio_technologies.collect{|e| e.technology.name }.join(", ") %>
                 </div>
              </li>
              <li>
                <div>Project Duration: <%= @portfolio.project_duration %></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="blockchain-my-monitor-block col-sm-6" style="float: initial;">
          <noscript>
            <%= image_tag @portfolio.portfolio_photos.first.image_url, alt: "#{@portfolio.title}"%>
          </noscript>
          <%= image_tag @portfolio.portfolio_photos.first.image_url, alt: "#{@portfolio.title}", class: 'lazyloaded'%>
        </div>

        <div class="desktop-soft-button ">
          <a href="<%= portfolio_path(@portfolio) %>">
            <button class="btn blue-primary-btn btn-get-started blue-primary-btn-custom">
              <div>Full Case Study</div>
            </button>
          </a>
        </div>

      </div>
    </div>
  </div>

  <section class="bg-default ">
    <div class="container">
      <div class="row"><h2 class="text-center line">TECHNOLOGIES WE USE</h2>
        <div class="text-header-service content-page web-page">
          <p>
          <span style="font-weight: 400;">
            <span style="font-weight: 400;">
              We are very professional and develop desktop software using all the latest tools. We believe that desktop software can be heavily reliable , enrich functionality and come with heavy security and therefore, many clients prefer to use desktop applications. Our experts have years of experience in using the latest programming tools for the development of desktop applications which come with a lot of quality features.
            </span>
          </span>
          </p>
        </div>
      </div>
    </div>
    <div class="container custom-software-content">
      <div class="service" id="service_16">
        <div class="row">
          <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="https://Syftet.com/net-development-company/">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="533.193px" height="466.508px" viewBox="0 0 533.193 466.508" enable-background="new 0 0 533.193 466.508" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <g>
                          <path fill="#0C88C4" d="M442.386,117.101c-32.906,18.734-65.858,37.425-98.542,56.38c-22.052-35.829-72.402-67.633-131.392-49.516    c-43.797,13.451-81.925,52.689-81.382,110.309c0.269,28.727,11.598,53.26,25.493,70.598    c14.621,18.246,33.281,31.198,57.361,38.241c58.991,17.252,108.961-14.605,130.411-51.478    c33.84,19.675,66.259,36.697,100.013,54.419c-18.771,33.93-42.718,57.889-73.54,78.443c-30.253,20.172-68.022,35.411-114.23,37.26    c-49.571,1.981-89.332-10.046-122.567-28.927c-31.919-18.134-58.69-43.345-78.442-73.05c-20.35-30.6-36.073-66.663-38.241-113.252    c-2.263-48.623,9.075-89.451,27.946-123.545C62.83,91.262,87.195,65.115,117.832,44.05C148.098,23.241,186.18,7.267,232.064,4.829    c54.301-2.885,96.579,11.542,129.918,31.376C396.031,56.463,422.71,83.385,442.386,117.101z"></path>
                        </g>
                        <g>
                          <path fill="#CE2030" d="M489.218,217.361l-3.203,17.935h25.942v27.115h-30.959l-7.901,41.742h-28.61l7.794-41.742h-17.936    l-7.579,41.742h-28.504l7.687-41.742h-24.02v-27.115h29.249l3.312-17.935h-25.408v-27.756h30.638l7.687-41.529h28.61    l-7.898,41.529h17.721l7.687-41.529h28.61l-7.793,41.529h24.447v27.756H489.218z M439.684,235.296h17.613l3.31-17.935h-17.721    L439.684,235.296z"></path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name">
                <h4>C#</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="https://Syftet.com/net-development-company/">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="547.5px" height="286.078px" viewBox="0 0 547.5 286.078" enable-background="new 0 0 547.5 286.078" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill="#CE2030" d="M24.72,177.919c-6.923-10.691-20.478-24.648-20.717-37.832c-0.212-11.677,10.358-22.913,18.917-36.932   c17.334-28.395,27.325-42.997,42.335-68.458C74.504,19.01,82.139,2.447,89.576,0.469c8.637-2.297,12.05,4.22,16.178,11.208   c4.097,6.936,7.299,12.141,7.241,20.319c-0.063,8.859-9.756,18.87-15.313,27.923C86.904,77.479,77.026,93.28,65.255,112.162   c-3.591,5.759-15.035,20.799-15.313,27.022c-0.41,9.152,10.239,21.674,15.145,29.826c12.098,20.1,20.918,34.156,35.297,56.646   c15.037,23.52,23.174,25.943,9.561,44.941c-4.273,5.965-7.698,11.633-14.064,11.807c-8.845,0.24-22.71-26.895-26.122-32.428"></path>
                        <path fill="#CE2030" d="M451.115,60.92c-4.299-6.861-12.859-18.742-15.314-27.022c-2.621-8.843,11.494-26.314,17.115-31.526   c0.691-0.643,0.662-0.565,1.801-0.901c8.939-2.647,20.592,21.24,27.021,31.527c15.164,24.251,29.848,47.207,44.139,70.258   c6.75,10.89,19.109,25.716,18.916,37.832c-0.199,12.401-14.455,27.724-20.719,37.832c-25.15,40.593-24.984,39.927-45.037,72.062   c-4.025,6.453-17.1,32.101-25.221,32.428c-6.781,0.271-21.215-18.749-21.619-26.125c-0.49-8.926,12.176-25.371,17.227-33.271   c12.998-20.332,17.832-27.166,31.666-49c3.818-6.027,17.998-25,17.764-33.021"></path>
                        <path fill="#0C88C4" d="M201.666,4.375c35.096,0,70.815,0.003,108.09,0c12.6-0.001,24.193,0,35.58,0   c1.271,0,16.621,24.827,22.969,34.228c23.564,34.89,44.451,71.548,65.756,106.289c-27.248,43.012-59.535,88.023-87.211,130.611   c-47.738,0-97.973,0-144.905,0c-33.389-50.605-53.287-84.88-83.655-130.775C144.911,100.787,173.718,51.103,201.666,4.375z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>WPF</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="https://Syftet.com/net-development-company/">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="525px" height="518.449px" viewBox="0 0 525 518.449" enable-background="new 0 0 525 518.449" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill="#0C88C4" d="M206.785,348.052c1.213,0,2.426,0,3.641,0c5.232,0,10.466,0,15.699,0c8.346,0,16.691,0,25.037,0   c10.704,0,21.407,0,32.11,0c12.307,0,24.612,0,36.918,0c13.153,0,26.307,0,39.461,0c13.246,0,26.491,0,39.737,0   c12.584,0,25.167,0,37.751,0c11.165,0,22.331,0,33.497,0c8.993,0,17.986,0,26.98,0c6.065,0,12.131,0,18.196,0   c2.383,0,4.767,0,7.149,0c0.061,0,0.028-4.817,0.028-5.104c0-5.193,0-10.387,0-15.58c0-8.068,0-16.137,0-24.205   c0-10.317,0-20.634,0-30.951c0-11.938,0-23.878,0-35.816c0-12.936,0-25.87,0-38.805c0-13.304,0-26.609,0-39.913   c0-13.048,0-26.095,0-39.143c0-12.165,0-24.329,0-36.494c0-10.655,0-21.31,0-31.965c0-8.519,0-17.039,0-25.558   c0-5.757,0-11.515,0-17.272c0-2.369,0-4.738,0-7.106c0-0.177-4.662-0.081-5.01-0.081c-5.458,0-10.917,0-16.375,0   c-8.522,0-17.044,0-25.566,0c-10.83,0-21.661,0-32.491,0c-12.385,0-24.769,0-37.152,0c-13.183,0-26.365,0-39.548,0   c-13.226,0-26.451,0-39.677,0c-12.515,0-25.028,0-37.543,0c-11.048,0-22.096,0-33.143,0c-8.826,0-17.652,0-26.479,0   c-5.849,0-11.698,0-17.547,0c-2.118,0-4.235,0-6.354,0c0,1.478,0,2.956,0,4.434c0,4.985,0,9.97,0,14.955c0,7.9,0,15.801,0,23.702   c0,10.19,0,20.379,0,30.569c0,11.853,0,23.705,0,35.558c0,12.889,0,25.779,0,38.668c0,13.299,0,26.599,0,39.898   c0,13.083,0,26.167,0,39.25c0,12.241,0,24.482,0,36.724c0,10.771,0,21.544,0,32.316c0,8.677,0,17.354,0,26.031   c0,5.956,0,11.912,0,17.867c0,2.608,0,5.217,0,7.824C206.107,348.21,206.471,348.052,206.785,348.052z"></path>
                        <path fill="#CE2030" d="M522.016,362.753c-1.345,0-2.689,0-4.034,0c-5.458,0-10.917,0-16.375,0c-8.522,0-17.044,0-25.566,0   c-10.83,0-21.661,0-32.491,0c-12.385,0-24.769,0-37.152,0c-13.183,0-26.365,0-39.548,0c-13.226,0-26.451,0-39.677,0   c-12.515,0-25.028,0-37.543,0c-11.048,0-22.096,0-33.143,0c-8.826,0-17.652,0-26.479,0c-5.849,0-11.698,0-17.547,0   c-2.118,0-4.235,0-6.354,0c0,0.455,0,0.91,0,1.365c0,6.361,0,12.723,0,19.083c0,11.372,0,22.744,0,34.116   c0,13.187,0,26.372,0,39.559c0,11.804,0,23.606,0,35.41c0,7.225,0,14.448,0,21.673c0,0.15-0.016,2.716,0.014,2.716   c0.642,0,1.283,0,1.925,0c4.245,0,8.489,0,12.735,0c7.564,0,15.13,0,22.695,0c10.13,0,20.26,0,30.391,0c11.94,0,23.881,0,35.821,0   c12.996,0,25.991,0,38.987,0c13.296,0,26.592,0,39.888,0c12.841,0,25.682,0,38.522,0c11.631,0,23.262,0,34.893,0   c9.666,0,19.332,0,28.998,0c6.946,0,13.893,0,20.839,0c3.471,0,6.941,0,10.412,0c0.511,0,0.764,0.184,0.764-0.348   c0-1.741,0-3.482,0-5.224c0-8.424,0-16.848,0-25.271c0-12.348,0-24.695,0-37.043c0-13.074,0-26.149,0-39.224   c0-10.605,0-21.211,0-31.815c0-4.939,0-9.878,0-14.817C522.991,362.571,522.31,362.753,522.016,362.753z"></path>
                        <path fill="#CE2030" d="M193.467,0.059c-5.271,0-10.541,0-15.813,0c-9.904,0-19.809,0-29.713,0c-12.554,0-25.108,0-37.663,0   c-13.219,0-26.438,0-39.657,0c-11.899,0-23.798,0-35.698,0c-8.595,0-17.19,0-25.785,0c-3.306,0-6.612,0-9.918,0   c0,0.028,0,0.056,0,0.083c0,3.691,0,7.383,0,11.075c0,8.651,0,17.302,0,25.953c0,11.818,0,23.636,0,35.454   c0,13.193,0,26.387,0,39.581c0,12.777,0,25.553,0,38.33c0,10.568,0,21.137,0,31.705c0,6.568,0,13.135,0,19.703   c0,1.224,0,2.448,0,3.671c0,0.359,1.198,0.16,1.482,0.16c5.522,0,11.044,0,16.566,0c10.066,0,20.133,0,30.2,0   c12.626,0,25.253,0,37.88,0c13.202,0,26.404,0,39.606,0c11.793,0,23.586,0,35.38,0c8.399,0,16.799,0,25.198,0   c0.483,0,9.086,0.023,9.086-0.021c0-3.427,0-6.854,0-10.28c0-8.466,0-16.933,0-25.398c0-11.714,0-23.428,0-35.143   c0-13.17,0-26.34,0-39.51c0-12.834,0-25.668,0-38.502c0-10.706,0-21.412,0-32.118c0-6.787,0-13.573,0-20.359   c0-1.363,0-2.726,0-4.089C194.619-0.197,193.941,0.059,193.467,0.059z"></path>
                        <path fill="#0C88C4" d="M193.467,221.176c-5.271,0-10.541,0-15.813,0c-9.904,0-19.809,0-29.713,0c-12.554,0-25.108,0-37.663,0   c-13.219,0-26.438,0-39.657,0c-11.899,0-23.798,0-35.698,0c-8.595,0-17.19,0-25.785,0c-3.306,0-6.612,0-9.918,0   c0,0.082,0,0.163,0,0.245c0,4.269,0,8.538,0,12.808c0,9.292,0,18.583,0,27.875c0,12.283,0,24.565,0,36.849   c0,13.242,0,26.485,0,39.728c0,12.171,0,24.343,0,36.514c0,9.068,0,18.137,0,27.204c0,3.935,0,7.868,0,11.803   c0,0.214,7.666,0.099,8.2,0.099c8.178,0,16.355,0,24.533,0c11.671,0,23.341,0,35.012,0c13.179,0,26.358,0,39.537,0   c12.703,0,25.405,0,38.108,0c10.242,0,20.484,0,30.725,0c5.797,0,11.593,0,17.389,0c0.171,0,1.895,0.077,1.895-0.062   c0-1.132,0-2.264,0-3.395c0-6.652,0-13.304,0-19.956c0-10.812,0-21.622,0-32.434c0-12.938,0-25.878,0-38.816   c0-13.036,0-26.071,0-39.106c0-11.101,0-22.201,0-33.302c0-7.135,0-14.269,0-21.403c0-1.445,0-2.891,0-4.335   C194.619,220.915,193.969,221.176,193.467,221.176z"></path>
                        <path fill="#CE2030" d="M85.884,427.975c-10.391,0-20.782,0-31.173,0c-12.708,0-25.417,0-38.126,0c-6.198,0-12.396,0-18.594,0   c0,3.676,0,7.353,0,11.028c0,11.979,0,23.958,0,35.938c0,11.586,0,23.172,0,34.757c0,2.754,0,5.507,0,8.261   c0,0.316-0.132,0.549,0.204,0.549c0.784,0,1.569,0,2.353,0c9.442,0,18.883,0,28.325,0c12.907,0,25.813,0,38.72,0   c7.543,0,15.087,0,22.631,0c0.393,0,0.379,0.06,0.379-0.331c0-0.887,0-1.773,0-2.66c0-3.933,0-7.865,0-11.797   c0-12.451,0-24.903,0-37.354c0-10.854,0-21.71,0-32.564c0-1.937,0-3.874,0-5.811C90.602,427.959,86.14,427.975,85.884,427.975z"></path>
                        <path fill="#0C88C4" d="M190.248,427.975c-10.293,0-20.585,0-30.877,0c-12.727,0-25.454,0-38.18,0c-6.228,0-12.455,0-18.683,0   c0,3.319,0,6.64,0,9.959c0,11.803,0,23.604,0,35.407c0,11.779,0,23.559,0,35.338c0,2.988,0,5.978,0,8.967   c0,0.132-0.089,0.861,0.069,0.861c0.652,0,1.305,0,1.958,0c9.157,0,18.313,0,27.47,0c12.931,0,25.862,0,38.793,0   c7.772,0,15.544,0,23.315,0c0.346,0,0.506,0.122,0.506-0.231c0-0.818,0-1.638,0-2.457c0-3.831,0-7.663,0-11.495   c0-12.389,0-24.777,0-37.166c0-10.978,0-21.955,0-32.933c0-2.067,0-4.135,0-6.203C194.619,427.921,190.527,427.975,190.248,427.975   z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>WinForms</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="https://Syftet.com/net-development-company/">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="533.193px" height="466.508px" viewBox="0 0 533.193 466.508" enable-background="new 0 0 533.193 466.508" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill="#0C88C4" d="M434.712,114.854c-33.555,19.103-67.154,38.161-100.48,57.489c-22.486-36.533-73.827-68.963-133.977-50.49   c-44.659,13.716-83.537,53.727-82.984,112.479c0.275,29.292,11.826,54.308,25.995,71.986c14.909,18.605,33.936,31.813,58.49,38.993   c60.151,17.592,111.105-14.892,132.976-52.489c34.506,20.062,67.563,37.419,101.98,55.489   c-19.139,34.597-43.559,59.027-74.986,79.986c-30.848,20.569-69.361,36.108-116.478,37.993   c-50.546,2.02-91.089-10.243-124.978-29.496c-32.547-18.491-59.844-44.197-79.985-74.486   c-20.75-31.202-36.782-67.976-38.993-115.479c-2.307-49.58,9.253-91.211,28.495-125.977c17.902-32.345,42.747-59.007,73.987-80.486   C134.634,19.147,173.465,2.86,220.252,0.374c55.37-2.942,98.479,11.77,132.475,31.993   C387.444,53.023,414.647,80.475,434.712,114.854z"></path>
                        <path fill="#CE2030" d="M384.72,183.467c0,11,0,21.997,0,32.994c10.934,0.464,22.162,0.167,32.994,0.5c0,10.997,0,21.996,0,32.994   c-10.83,0-21.662,0-32.494,0c-0.441,10.845-0.166,22.495-0.5,33.493c-10.996,0-21.996,0-32.992,0c0-11.164,0-22.328,0-33.493   c-11.166,0-22.33,0-33.494,0c0-10.999,0-21.997,0-32.994c10.998,0,21.994,0,32.994,0c0.301-13.411,0.426-13.536,0.551-33.536   C362.608,183.424,373.89,183.467,384.72,183.467z"></path>
                        <path fill="#CE2030" d="M500.7,183.342c0,11,0,21.997,0,32.994c10.326,0.464,22.494,0.167,33.492,0.5c0,10.997,0,21.996,0,32.994   c-11.164,0-22.328,0-33.492,0c0,11.165,0,22.329,0,33.493c-10.998,0-21.996,0-32.994,0c0-11.164,0-22.328,0-33.493   c-11.166,0-22.33,0-33.494,0c0-10.999,0-21.997,0-32.994c10.998,0,21.994,0,32.994,0c0.32-15.786,0.195-20.161,0.32-33.411   C478.358,183.424,489.868,183.342,500.7,183.342z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>C++</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
          <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size">
            <a href="https://Syftet.com/java-application-development-services/">
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="396.21px" height="535.9px" viewBox="71.374 2.749 396.21 535.9" enable-background="new 71.374 2.749 396.21 535.9" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <g>
                          <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M382.002,396.825    c-0.485-2.063,3.416-3.839,4.766-4.521c2.392-1.21,4.748-2.431,7.071-3.771c4.839-2.793,9.597-5.732,14.193-8.908    c9.102-6.289,17.602-13.559,24.52-22.231c6.149-7.711,11.056-16.29,11.402-26.382c0.305-8.855-2.867-17.065-9.439-23.088    c-10.956-10.04-27.541-11.695-40.872-5.73c2.369-3.878,6.651-6.146,10.832-7.562c5.093-1.724,10.555-2.435,15.912-2.619    c10.162-0.35,20.178,2.204,28.685,7.83c7.92,5.239,13.963,12.949,16.028,22.331c2.316,10.523-0.442,21.119-6.314,29.974    c-11.323,17.072-29.901,27.766-48.501,35.234C401.055,391.087,391.564,394.108,382.002,396.825    C381.813,396.02,411.231,388.521,382.002,396.825z"></path>
                          <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M208.684,297.234    c-12.023,3.28-24.137,6.391-35.781,10.882c-4.578,1.766-9.259,3.655-13.547,6.065c-2.56,1.439-7.463,4.878-4.605,8.251    c1.319,1.558,3.453,2.381,5.329,3.027c2.294,0.79,4.674,1.345,7.045,1.847c5.854,1.239,11.809,1.969,17.769,2.452    c12.896,1.045,25.877,1,38.806,0.931c25.377-0.136,50.752-1.193,76.048-3.242c23.591-1.911,47.118-4.682,70.485-8.455    c4.216-0.681,8.427-1.394,12.631-2.142c-5.271,2.662-10.687,5.038-15.871,7.875c-1.214,0.664-2.447,1.322-3.57,2.135    c-1.158,0.838-2.232,1.809-3.474,2.526c-2.278,1.314-5.174,1.526-7.693,2.124c-12.092,2.857-24.368,4.912-36.678,6.566    c-25.514,3.428-51.186,4.613-76.879,5.793c-12.852,0.59-25.667,0.472-38.518-0.128c-12.432-0.58-24.876-1.158-37.258-2.457    c-5.916-0.62-11.816-1.409-17.673-2.449c-5.922-1.052-11.936-2.188-17.661-4.055c-2.42-0.789-4.832-1.717-7.049-2.979    c-1.777-1.011-3.779-2.377-4.519-4.381c-1.299-3.521,2.482-6.502,5.031-8.151c3.164-2.048,6.661-3.484,10.106-4.975    c4.53-1.96,9.068-3.875,13.705-5.573c10.254-3.756,20.818-6.669,31.568-8.603C187.07,298.207,197.875,297.254,208.684,297.234    C193.49,301.38,178.797,297.289,208.684,297.234z"></path>
                          <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M465.859,486.72    c0.393-0.09-0.316,2.83-0.414,3.188c-0.33,1.215-0.749,2.406-1.253,3.561c-0.935,2.139-2.163,4.142-3.611,5.971    c-2.908,3.676-6.639,6.619-10.598,9.089c-9.663,6.028-20.66,9.932-31.55,13.077c-23.491,6.785-47.891,10.035-72.195,12.181    c-24.617,2.174-49.331,3.331-74.045,3.363c-24.027,0.031-48.09-0.913-71.998-3.371c-9.619-0.989-19.254-2.154-28.767-3.907    c-9.28-1.71-18.666-4.072-26.983-8.661c21.479,3.16,43.127,5.163,64.803,6.33c22.854,1.23,45.763,1.519,68.643,0.896    c22.457-0.612,44.902-2.097,67.22-4.698c20.973-2.445,41.804-5.939,62.34-10.868c11.508-2.763,22.945-5.959,33.963-10.312    c4.801-1.896,9.54-4.026,13.959-6.707C459.326,493.451,463.185,490.549,465.859,486.72    C466.043,486.678,460.13,494.92,465.859,486.72z"></path>
                          <path fill="#CE2030" stroke="#CE2030" stroke-width="3" stroke-miterlimit="10" d="M322.937,4.274    c0.971-0.414,2.858,3.219,3.31,3.86c1.237,1.757,2.38,3.582,3.416,5.465c2.254,4.093,3.994,8.459,5.196,12.974    c2.921,10.968,2.867,22.781,0.101,33.769c-2.691,10.684-7.669,20.682-13.455,30.006c-6.2,9.992-13.729,19.071-21.889,27.517    c-8.651,8.955-18.133,16.976-27.71,24.913c-9.106,7.546-18.154,15.156-25.903,24.136c-7.066,8.188-13.136,17.354-16.352,27.76    c-1.646,5.325-2.528,10.887-2.474,16.464c0.056,5.812,1.225,11.489,2.975,17.014c3.019,9.536,7.868,18.299,13.455,26.553    c5.403,7.983,11.4,15.548,16.724,23.587c1.845,2.786,3.608,5.627,5.241,8.542c0.833,1.486,1.631,2.992,2.39,4.518    c0.362,0.728,0.715,1.46,1.058,2.196c0.18,0.386,0.725,2.144,1.103,2.177c-9.229-7.435-17.629-15.869-25.99-24.248    c-8.427-8.446-16.844-16.882-24.189-26.311c-7.256-9.315-13.913-19.646-17.663-30.915c-3.674-11.039-3.4-23.132,1.303-33.816    c4.442-10.093,11.798-18.51,19.641-26.116c8.261-8.011,17.096-15.378,26.105-22.527c18.288-14.512,37.648-28.342,53.091-46.019    c7.336-8.397,13.538-17.787,17.755-28.137c3.974-9.754,5.762-20.442,5.847-30.947C326.082,19.135,325.218,11.495,322.937,4.274    C323.662,3.965,328.317,21.307,322.937,4.274z"></path>
                          <path fill="#CE2030" stroke="#CE2030" stroke-width="3" stroke-miterlimit="10" d="M389.117,112.705    c-18.917,12.148-38.803,22.917-56.46,36.932c-8.351,6.628-16.334,14.006-22.896,22.442c-3.148,4.047-5.872,8.485-7.49,13.374    c-1.72,5.191-2.051,10.734-1.046,16.104c1.811,9.667,7.523,17.745,13.029,25.648c5.365,7.704,11.97,14.782,14.876,23.9    c3.221,10.104,1.481,20.973-3.829,30.028c-5.024,8.567-12.479,15.938-20.188,22.095c-2.628,2.098-5.354,4.071-8.147,5.941    c-1.425,0.953-2.866,1.88-4.322,2.783c-0.789,0.49-1.583,0.974-2.38,1.451c-0.463,0.276-1.628,1.281-2.167,1.23    c0.023,0.003,1.298-1.612,1.451-1.777c0.7-0.752,1.4-1.504,2.093-2.263c1.378-1.508,2.728-3.042,3.999-4.641    c2.689-3.382,5.011-7.073,6.528-11.134c1.78-4.764,2.386-9.895,1.989-14.955c-0.406-5.179-2.291-10.029-5.05-14.396    c-2.606-4.126-5.849-7.789-8.906-11.577c-3.166-3.921-6.157-7.992-8.792-12.291c-5.788-9.444-9.655-19.996-10.492-31.088    c-0.764-10.121,1.303-20.107,6.127-29.04c4.486-8.308,10.803-15.724,17.669-22.154c16.147-15.121,36.35-25.318,56.642-33.668    C363.69,120.573,376.307,116.41,389.117,112.705C364.088,128.779,378.39,115.807,389.117,112.705z"></path>
                          <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M362.818,384.97    c-21.142,6.025-42.768,10.287-64.601,12.837c-24.48,2.858-49.362,3.904-73.976,2.399c-11.599-0.709-23.209-2.036-34.553-4.605    c-5.102-1.156-10.153-2.572-15.065-4.377c-3.869-1.422-7.779-2.994-11.164-5.387c-2.541-1.797-4.975-4.277-5.377-7.506    c-0.466-3.738,2.015-6.893,4.711-9.164c3.035-2.557,6.642-4.49,10.227-6.15c2.292-1.062,4.642-1.988,7.013-2.854    c1.105-0.404,2.215-0.796,3.326-1.188c0.559-0.196,1.118-0.394,1.677-0.591c0.196-0.069,1.346-0.395,1.369-0.433    c-0.401,0.663-1.305,1.347-1.882,1.891c-0.757,0.714-1.534,1.407-2.258,2.155c-1.435,1.484-2.605,3.223-2.867,5.314    c-0.568,4.548,3.222,7.029,7.004,8.436c5.024,1.866,10.527,2.485,15.823,3.034c6.043,0.625,12.122,1.048,18.184,1.448    c25.411,1.681,50.963,0.967,76.271-1.807c6.048-0.663,12.084-1.443,18.102-2.338c5.76-0.856,11.595-1.655,17.285-2.901    c2.273-0.498,4.493-1.243,6.786-1.652c0.705-0.126,1.576-0.313,2.275-0.065c0.957,0.341,1.785,1.131,2.537,1.784    c4.113,3.571,8.646,6.484,13.473,9.008C358.999,383.23,360.892,384.141,362.818,384.97    C331.878,393.789,357.385,382.632,362.818,384.97z"></path>
                          <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M198.768,416.228    c0.072,0.004,0.144,0.004,0.216,0c-0.848,1.361-2.506,2.156-3.628,3.27c-1.33,1.32-2.177,3.188-1.563,5.062    c1.221,3.724,6.742,4.806,10.022,5.573c5.865,1.373,11.821,2.069,17.803,2.695c6.528,0.681,13.067,1.271,19.62,1.66    c12.804,0.761,25.625,0.602,38.403-0.519c11.388-0.999,22.694-2.72,33.939-4.755c3.142-0.568,6.28-1.159,9.416-1.759    c0.309-0.059,0.617-0.117,0.926-0.177c0.48-0.092,0.824,0.241,1.237,0.479c0.829,0.478,1.66,0.951,2.494,1.421    c1.676,0.942,3.362,1.867,5.06,2.769c6.745,3.584,13.683,6.813,20.834,9.501c-17.384,8.178-36.469,12.822-55.399,15.665    c-21.577,3.24-43.667,4.021-65.375,1.654c-10.985-1.198-21.936-3.229-32.521-6.425c-5.074-1.533-10.075-3.411-14.78-5.866    c-3.559-1.857-7.214-4.153-9.582-7.473c-1.473-2.064-2.299-4.595-1.834-7.135c0.529-2.888,2.674-5.187,4.913-6.931    C184.778,420.414,191.97,418.677,198.768,416.228C198.798,416.203,193.762,418.032,198.768,416.228z"></path>
                          <path fill="#0C88C4" stroke="#0C88C4" stroke-width="3" stroke-miterlimit="10" d="M432.877,459.774    c3.471,1.616,7.717,3.361,9.214,7.21c1.976,5.078-2.503,9.732-6.213,12.566c-8.59,6.562-19.54,9.823-29.761,12.85    c-21.078,6.24-42.6,10.473-64.402,13.208c-23.832,2.99-47.836,4.419-71.822,5.447c-26.022,1.115-52.002,0.577-77.988-1.126    c-25.301-1.659-50.618-3.883-75.709-7.583c-6.21-0.916-12.407-1.929-18.581-3.066c-5.62-1.036-11.401-2.102-16.646-4.457    c-4.033-1.812-8.842-5.132-7.986-10.193c0.733-4.337,4.625-7.609,8.01-10.019c8.365-5.953,18.181-10.167,27.907-13.312    c10.028-3.241,20.625-5.656,31.162-6.392c5.685-0.396,12.908-0.643,17.747,2.927c-11.381,0.376-22.72,2.41-33.384,6.451    c-4.32,1.637-8.684,3.516-12.632,5.937c-2.652,1.627-7.078,5.021-4.528,8.504c2.181,2.98,6.638,4.283,9.978,5.369    c4.569,1.485,9.21,2.778,13.884,3.889c11.89,2.825,24.028,4.553,36.177,5.799c24.656,2.528,49.541,3.382,74.315,3.59    c24.791,0.208,49.595-0.464,74.335-2.076c24.171-1.575,48.444-3.836,72.349-7.817c6.082-1.013,12.112-2.244,18.111-3.666    c5.628-1.335,11.297-2.669,16.642-4.927c4-1.689,8.306-3.904,11.039-7.387c1.346-1.714,2.065-3.734,1.823-5.929    C435.667,463.306,434.386,461.409,432.877,459.774C436.646,461.529,434.596,461.636,432.877,459.774z"></path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Java</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
        </div>
        <div id="desktop-software-footer-cat"></div>
      </div>
    </div>
  </section>

  <section class="section-md">
    <div class="desktop-soft-middleware-desktop">
      <div class="container">
        <div class="row">
          <h2 class="middleware-desktop text-center line">MIDDLEWARE FOR DESKTOP <br/> APPLICATION INTEGRATION</h2></div>
        <div class="text-header-service content-page web-page">
          <p>
            <span style="font-weight: 400;">
              Our experts are highly experienced in building custom middleware for both application to application integration and integration of web-based platforms.
            </span>
          </p>
        </div>
      </div>
      <div class="container my-monitor-block">
        <div class="desktop-soft-row row">
          <div class="col-sm-6 min-980-padding-20">
            <p class="desktop-soft-text-criptucyrrent">
              Syftet combines the deep OS architecture knowledge and skills required to leverage all advantages of the desktop applications for your business. Our software engineering team has the experience to create the custom middleware that solves the most complex challenges of the enterprise IT infrastructure related to the data and workflows sharing across different systems.
              <br>
              Syftet uses the combination of the deep OS architecture knowledge and skills necessary to maximise the advantage of desktop application for your enterprise. Our highly professional engineers has expertise in developing customized middleware that will .
            </p>
          </div>
          <div class="desktop-soft-my-monitor-block blockchain-my-monitor-block col-sm-6">
            <noscript>
              <%= image_tag 'services/syftet-desktop-development-companay.png' %>
            </noscript>
              <%= image_tag 'services/syftet-desktop-development-companay.png', class:'lazyloaded'%>
          </div>
        </div>
      </div>
      <div class="desktop-soft-button">
        <a href="#">
          <button class="our-work-example-butt">
            <div> OUR WORK EXAMPLE</div>
          </button>
        </a></div>
    </div>

    <div class="industry-block container">
      <div class="row">
        <h2 class="text-center">OUR EXPERTISE</h2>
        <div class="text-header-service content-page over-blue-block">
          <p>
            <span style="font-weight: 400;">
              With years of experience in desktop software development for a multitude of industries ranging from manufacturing, healthcare, energy and education,  we have gained expertise in the field needed to accomplish your project successfully. Our team is dedicated to design and produce your desktop solution.
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row logo-column-2" class="blockchain-blue-container blue-container">
        <div class="desktop-soft-col-md-6 min-980-padding-20">
          <div class="blockchain-border">
            <div class="desktop-soft-my-head-blue-block blockchain-my-head-blue-block" id="custom-text-with-padding">
              BUSINESS<br/> INTELLIGENCE
            </div>
            <div class="desktop-soft-my-text-blue-block blockchain-my-text-blue-block ">
              <p>
                Syftet is the software company in Bangladesh which has helped a vast number of clients to successfully run their business with the latest desktop solution. Our main priority is to help enterprises to bring out the real-time data so that they can be analysed and rectified if necessary for the smooth workflow.
              </p>
            </div>
          </div>
        </div>
        <div class="desktop-soft-col-md-6 min-980-padding-20">
          <div class="blockchain-border">
            <div class="desktop-soft-my-head-blue-block blockchain-my-head-blue-block" id="custom-text-with-padding">
              HEALTCARE &<br/> LIFE SCIENCE
            </div>
            <div class="desktop-soft-my-text-blue-block blockchain-my-text-blue-block ">
              <p>
                <span style="font-weight: 400;">
                  We understand that healthcare organizations demand the best software solution for their data is very sensitive and important. Our experts are always sincere and make the best effort to come up with the best solution that works well with healthcare service. We can be your best reliable solution without any doubt.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="desktop-soft-col-md-6 min-980-padding-20">
          <div class="blockchain-border">
            <div class="desktop-soft-my-head-blue-block blockchain-my-head-blue-block " id="custom-text-with-padding">
              EDUCATION & <br/> LEARNING
            </div>
            <div class="desktop-soft-my-text-blue-block blockchain-my-text-blue-block ">
              <p>
                <span style="font-weight: 400;">
                  We are aware that education tools need some special features in order to facilitate learners' efforts. Our special team has experiences to build desktop applications for education that fulfill all the demands necessary to make the learning environment easier and friendlier. Ultra modern speech recognition allows users to use their voice for communication.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="desktop-soft-col-md-6 min-980-padding-20">
          <div class="blockchain-border">
            <div class="desktop-soft-my-head-blue-block blockchain-my-head-blue-block " id="custom-text-with-padding">
              MANUFACTURING & <br/> AUTOMATION
            </div>
            <div class="desktop-soft-my-text-blue-block blockchain-my-text-blue-block ">
              <p>
                <span style="font-weight: 400;">
                  Our team of experts uses their expertise in order to develop custom firmware for industrial automation systems. You can use our desktop software for the maximum control of your manufacturing equipment and process, thus minimizing the number of failures to almost zero manufacturing products and in automation systems.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="desktop-soft-col-md-6 min-980-padding-20">
          <div class="blockchain-border">
            <div class="desktop-soft-my-head-blue-block blockchain-my-head-blue-block " id="custom-text-with-padding">
              BUSINESS PROCESS <br/> MANAGEMENT
            </div>
            <div class="desktop-soft-my-text-blue-block blockchain-my-text-blue-block ">
              <p>
                <span style="font-weight: 400;">
                  Syftet is specialised at developing custom desktop software solutions for your business process management which will include all the features available to maximize the effectiveness of communication. Our applications cover all the features whether you need paper documents, data recognition or record transfer between web-based software and desktop applications.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="desktop-soft-col-md-6 min-980-padding-20">
          <div class="blockchain-border">
            <div class="desktop-soft-my-head-blue-block blockchain-my-head-blue-block " id="custom-text-with-padding">
              ISVs & <br/> BOXED SOFTWARE
            </div>
            <div class="desktop-soft-my-text-blue-block blockchain-my-text-blue-block ">
              <p>
                <span style="font-weight: 400;">
                  Our desktop application development services offer all types of support for software vendors to research and develop boxed software products. We will be your trusted company in your journey to launch and produce your new products as we will be always there when you need improvement in your software or any maintenance.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2 class="text-center">WHY GO WITH SYFTET FOR YOUR NEXT PROJECT?</h2>
        <div>
          <div id="desktop-software-footer-cat"></div>
          <div class="service" id="service_17">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="bloch-auto-height col-sm-6 ">
                    <div class="post-service ">
                      <div class="desktop-software-next-project-section-avatar">
                        <%= image_tag 'services/syftet-full-cycle.svg', alt: 'syftet-full-cycle' %>
                      </div>
                      <div class="text-post">
                        <div class="title-post" id="custom-text">Full-Cycle of The Services</div>
                        <div class="desc-post">
                          <p>
                            Syftet has a reputation for its services as we provide service when you are thinking of building very complex desktop software solutions. Our service continues from start to finish and even as long as you run your business with our software. The most notable services we offer are product requirement analysis, UI/UX, development, testing, post-lunch support, and updates.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="post-service ">
                      <div class="desktop-software-next-project-section-avatar">
                        <%= image_tag 'services/syftet-high-quality.svg', alt: 'syftet-high-quality' %>
                      </div>
                      <div class="text-post">
                        <div class="title-post" id="custom-text">High Quality For Lower Price</div>
                        <div class="desc-post">
                          <p>
                            Bangladesh is becoming one of the leading countries in the IT sector as we have a good number of IT firms. However, we can assure you that we offer service with at least 30% lower fee than those in Bangladesh. This will allow you to save a good amount of money which can be used for marketing, getting new features or different projects.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bloch-auto-height col-sm-6 ">
                    <div class="post-service">
                      <div class="desktop-software-next-project-section-avatar">
                        <%= image_tag 'services/syftet-agile-methodologies.svg', alt: 'syftet-agile-methodologies' %>
                      </div>
                      <div class="text-post">
                        <div class="title-post" id="custom-text">Agile Methodologies</div>
                        <div class="desc-post">
                          <p>
                            We practice and rely on Agile for any new projects. Our team focuses on researching solutions and developing solutions by collaborative efforts. Our experienced managers and Scrum master will take up your project systematically which will fulfil your requirements, goals and milestones.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="post-service ">
                      <div class="desktop-software-next-project-section-avatar">
                        <%= image_tag 'services/syftet-sprint-cycle.svg', alt: 'syftet-highly-skilled-developers' %>
                      </div>
                      <div class="text-post">
                        <div class="title-post" id="custom-text">Highly-Skilled Developers</div>
                        <div class="desc-post">
                          <p>
                            With years of hands-on experiences in developing software for almost all platforms in the field, our expertise is able to design and code the most able software which will boost your business process. Our team is capable of crafting the most compelling applications that you can easily maintain with the minimum knowledge.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bloch-auto-height"></div>
              <div id="bussines-automation-works"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-gray-lighter section-md">
    <%= render 'homes/shared/start_project_form', contact: @contactinfo %>
  </section>

</div>

<noscript>
  <style>.lazyload {
      display: none;
  }</style>
</noscript>
