<% content_for :title do %>
  Best Software Development Services Company in Bangladesh | Syftet Limited
<% end %>
<% content_for :meta_title do %>
  Software Development Services Provider in Bangladesh | Syftet
<% end %>



<div class="custom custom-software-dev">
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>Services of Syftet</h1>
              <p class="p-heading p-large p-center">Our core team of Computer Engineering and Business Professionals is your rock solid partner for full-cycle custom software development services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section-md bg-default">
    <div class="container">
      <div class="row">
        <h2 class="text-center line">Our Services</h2>
        <div class="text-header-service content-page over-blue-block"><p>
          <span style="font-weight: 400;">Our core team of Computer Engineering and Business Professionals is your rock solid partner for full-cycle custom software development services.</span>
        </p></div>
      </div>
    </div>
  </section>

  <div class="custom-software-dev services-new text-center">
    <section class="bg-default">
        <div class="container new-service-content">
          <div class="row justify-content-md-center">
            <div class="main-services margin-end-page">
              <div class="col-md-6 col-sm-6">
                <div class="we-hire-block-image wdauto">
                  <a href="<%= custom_software_development_company_path %>">
                    <div class="block-image-stage size-block-career-top">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 283.5 208.2" style="enable-background:new 0 0 283.5 208.2;" xml:space="preserve" class="svg replaced-svg">
                        <style type="text/css">
                            .st0 {
                                fill: #0087C4;
                            }

                            .st1 {
                                fill: #CE152F;
                            }
                        </style>
                        <g>
                          <path class="st0" d="M279,172.6h-8.8V19.1c0-10.5-8.6-19.1-19.1-19.1H32.4C21.9,0,13.3,8.6,13.3,19.1v153.5H4.4   c-2.4,0-4.4,2-4.4,4.4c0,9.5,2.6,17,7.7,22.3c6,6,15,8.9,27.7,8.9H248c21.9,0,35.4-11.9,35.4-31.1   C283.5,174.6,281.5,172.6,279,172.6z M22.1,19.1c0-5.7,4.6-10.2,10.3-10.2h218.7c5.6,0,10.2,4.6,10.2,10.2v153.5h-8.8V22.1   c0-2.5-2-4.4-4.4-4.4H35.4c-2.4,0-4.4,2-4.4,4.4v150.5h-8.9V19.1z M101.9,172.6h-62v-146h203.7v146h-62c-2.4,0-4.4,2-4.4,4.4v4.6   h-70.9v-4.6C106.3,174.6,104.3,172.6,101.9,172.6z M248,199.3H35.4c-10,0-17.2-2.1-21.4-6.3c-2.7-2.8-4.4-6.6-4.9-11.6h88.4v4.5   c0,2.5,2,4.4,4.4,4.4h79.7c2.4,0,4.4-1.9,4.4-4.4v-4.5h88.2C271.7,197.5,255.4,199.3,248,199.3z"></path>
                          <g>
                            <path class="st1" d="M200.4,98.9l-5.7-1.5c-0.3-3.7-1-7.4-2-10.9l4.8-3.5c1.7-1.2,2.3-3.4,1.5-5.3c-3.7-8.8-9.5-16.8-16.8-23.1    c-1.5-1.3-3.8-1.4-5.5-0.2l-4.8,3.5c-3.8-2.7-8-4.8-12.4-6.3v-5.9c0-2.1-1.4-3.8-3.4-4.3c-9.7-2.3-19-2.3-28.6,0    c-2,0.5-3.4,2.3-3.4,4.3v5.9c-3.5,1.2-6.9,2.8-10,4.8l-4.6-3.7c-1.6-1.3-3.9-1.3-5.5-0.1c-7.6,5.9-13.8,13.6-18,22.2    c-0.9,1.8-0.4,4.1,1.2,5.4l4.6,3.7c-1.3,3.5-2.1,7.1-2.6,10.8l-5.8,1.2c-1.9,0.4-3.4,2.7-3.5,4.6c0,0.1,0,1,0,1.1    c0,9.2,2,18.1,6,26.5c0.9,1.8,2.9,2.9,4.9,2.4l5.7-1.2c1.9,3.2,4.2,6.1,6.8,8.8l-2.7,5.3c-0.9,1.8-0.5,4.1,1.1,5.4    c7.3,6.2,16.1,10.7,25.5,13c2,0.5,4-0.5,5-2.3l2.7-5.2c3.7,0.5,7.5,0.6,11.1,0.3l2.4,5.4c0.7,1.6,2.3,2.6,4,2.6    c0.3,0,0.6,0,0.8-0.1c9.4-1.8,18.5-5.8,26.2-11.7c1.6-1.2,2.2-3.4,1.3-5.3l-2.4-5.4c2.6-2.5,5.1-5.4,7.2-8.5l5.7,1.5    c2,0.5,4.1-0.4,5-2.2c4.6-8.5,7.1-17.8,7.4-27.7C203.7,101.3,202.4,99.5,200.4,98.9z M190.1,123.7l-5.4-1.5    c-1.9-0.5-3.9,0.3-4.9,2c-2.6,4.4-5.8,8.2-9.6,11.3c-1.5,1.3-2,3.4-1.2,5.2l2.2,5c-5,3.3-10.4,5.8-16.2,7.2l-2.3-5.1    c-0.7-1.6-2.3-2.6-4.1-2.6c-0.2,0-0.4,0-0.6,0c-4.8,0.7-9.9,0.6-14.9-0.3c-1.9-0.4-3.9,0.6-4.8,2.3l-2.5,4.9    c-5.7-1.8-11-4.5-15.8-8l2.5-5c0.9-1.8,0.5-3.9-1-5.2c-3.7-3.5-6.8-7.4-9-11.8c-1-1.7-2.9-2.7-4.9-2.3l-5.4,1.1    c-2.2-5.6-3.4-11.4-3.7-17.3l5.5-1.2c1.9-0.4,3.3-2.1,3.5-4c0.3-5.1,1.5-9.9,3.4-14.5c0.8-1.8,0.3-3.9-1.2-5.2l-4.3-3.4    c3-5.2,6.8-9.8,11.2-13.8l4.3,3.5c1.5,1.3,3.7,1.3,5.3,0.2c4.1-2.9,8.6-5,13.4-6.4c1.9-0.5,3.2-2.3,3.2-4.2v-5.5    c6-1,11.7-1,17.7,0v5.5c0,2,1.3,3.7,3.2,4.2c5.5,1.6,10.7,4.2,15.2,7.8c1.5,1.2,3.7,1.3,5.4,0.1l4.5-3.2c4.2,4.2,7.8,9,10.5,14.3    l-4.5,3.3c-1.6,1.2-2.2,3.3-1.5,5.1c1.7,4.7,2.6,9.6,2.7,14.6c0,2,1.4,3.7,3.3,4.2l5.3,1.4C194.1,112.6,192.6,118.3,190.1,123.7z"></path>
                            <path class="st1" d="M141.7,74.5c-14.6,0-26.6,11.9-26.6,26.6c0,14.6,11.9,26.6,26.6,26.6c14.7,0,26.6-11.9,26.6-26.6    C168.3,86.4,156.4,74.5,141.7,74.5z M141.7,118.8c-9.8,0-17.7-7.9-17.7-17.7c0-9.8,8-17.7,17.7-17.7c9.8,0,17.7,7.9,17.7,17.7    C159.4,110.8,151.5,118.8,141.7,118.8z"></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                  </a>
                  <div>
                    <h3>Custom Software</h3>
                    <p>Our experts are more than happy to develop a customised software for you. Over the years, we have helped hundreds of our clients in their specific demands. We are aware that you might need some changes of a certain product, and so a group of quality engineers are at your disposal to design and develop a software based on your needs and requirements.</p>
                    <div class="contact-link">
                      <a href="/custom-software-development">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="we-hire-block-image wdauto">
                  <a href="<%= web_development_company_path %>">
                    <div class="block-image-stage size-block-career-top">
                      <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.871px" height="55.336px" viewBox="21.26 7.767 70.871 55.336" enable-background="new 21.26 7.767 70.871 55.336" xml:space="preserve">
                        <g>
                          <path fill="#113448" d="M26.738,14.285c0.273,0,0.542-0.111,0.735-0.305c0.194-0.193,0.305-0.462,0.305-0.735
 c0-0.273-0.111-0.542-0.305-0.735c-0.193-0.194-0.46-0.305-0.735-0.305c-0.274,0-0.542,0.111-0.735,0.305
 c-0.194,0.193-0.305,0.462-0.305,0.735c0,0.273,0.111,0.542,0.305,0.735C26.196,14.174,26.465,14.285,26.738,14.285z"></path>
                          <path fill="#113448" d="M30.066,14.285c0.275,0,0.542-0.111,0.735-0.305c0.194-0.193,0.305-0.462,0.305-0.735
 c0-0.273-0.111-0.542-0.305-0.735c-0.193-0.194-0.462-0.305-0.735-0.305c-0.273,0-0.542,0.111-0.735,0.305
 c-0.194,0.193-0.305,0.462-0.305,0.735c0,0.273,0.111,0.542,0.305,0.735C29.524,14.174,29.793,14.285,30.066,14.285z"></path>
                          <path fill="#113448" d="M33.395,14.285c0.273,0,0.542-0.111,0.735-0.305c0.194-0.193,0.305-0.462,0.305-0.735
 c0-0.273-0.111-0.542-0.305-0.735c-0.193-0.194-0.462-0.305-0.735-0.305c-0.273,0-0.542,0.111-0.735,0.305
 c-0.194,0.193-0.305,0.462-0.305,0.735c0,0.273,0.111,0.542,0.305,0.735C32.853,14.174,33.122,14.285,33.395,14.285z"></path>
                          <path fill="#113448" d="M37.833,14.285h42.162c0.574,0,1.04-0.466,1.04-1.041c0-0.574-0.466-1.04-1.04-1.04H37.833
 c-0.574,0-1.04,0.466-1.04,1.04C36.793,13.819,37.259,14.285,37.833,14.285z"></path>
                          <path fill="#113448" d="M84.433,14.285h2.219c0.574,0,1.04-0.466,1.04-1.041c0-0.574-0.466-1.04-1.04-1.04h-2.219
 c-0.574,0-1.041,0.466-1.041,1.04C83.392,13.819,83.859,14.285,84.433,14.285z"></path>
                          <path fill="#113448" d="M86.652,7.767H26.738c-3.021,0-5.478,2.458-5.478,5.478v44.381c0,3.021,2.458,5.478,5.478,5.478h59.914
 c3.021,0,5.479-2.457,5.479-5.478V13.245C92.13,10.224,89.672,7.767,86.652,7.767z M26.738,9.847h59.914
 c1.873,0,3.397,1.524,3.397,3.397v3.398H23.34v-3.398C23.34,11.371,24.864,9.847,26.738,9.847z M86.652,61.023H26.738
 c-1.874,0-3.397-1.523-3.397-3.397V18.723h66.709v38.902C90.049,59.5,88.525,61.023,86.652,61.023z"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
                  <div><h3>Web Development</h3>
                    <p>With a 5-year  experience in web development and accomplishing more than 150+ web applications, our team of experts provides  a high quality web development service in Bangladesh. We are highly committed to meet your criteria and deliver you a SEO friendly website based on your own requirement within the deadline set by you.<br></p>
                    <div class="contact-link"><a href="<%= web_development_company_path %>">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center" style="margin-top: 0px !important;">
            <div class="main-services margin-end-page">

              <div class="col-md-6 col-sm-6">
                <div class="we-hire-block-image wdauto">
                  <a href="<%= desktop_application_development_company_path %>">
                    <div class="block-image-stage size-block-career-top">
                      <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.871px" height="59.774px" viewBox="21.26 5.548 70.871 59.774" enable-background="new 21.26 5.548 70.871 59.774" xml:space="preserve">
                        <g>
                          <g>
                            <path fill="#113448" d="M87.763,5.548H25.626c-2.408,0-4.367,1.959-4.367,4.367v42.164c0,2.408,1.959,4.367,4.367,4.367h21.016
 l-0.85,6.8H42.27c-0.573,0-1.038,0.465-1.038,1.039c0,0.572,0.465,1.037,1.038,1.037h28.85c0.573,0,1.038-0.465,1.038-1.037
 c0-0.574-0.465-1.039-1.038-1.039h-3.522l-0.85-6.8h21.016c2.408,0,4.367-1.959,4.367-4.367V9.915
 C92.13,7.507,90.171,5.548,87.763,5.548z M47.885,63.246l0.85-6.8h3.821l0.375,1.499c0.433,1.73,1.981,2.939,3.765,2.939
 c1.784,0,3.332-1.209,3.765-2.939l0.375-1.499h3.821l0.85,6.8H47.885z M54.696,56.446h3.998l-0.249,0.995
 c-0.201,0.805-0.92,1.367-1.75,1.367c-0.83,0-1.549-0.563-1.75-1.367L54.696,56.446z M90.054,52.079L90.054,52.079
 c0,1.263-1.028,2.29-2.291,2.29H25.626c-1.263,0-2.291-1.027-2.291-2.29V9.915c0-1.263,1.028-2.291,2.291-2.291h62.137
 c1.263,0,2.291,1.028,2.291,2.291V52.079z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M79.996,9.986H26.736c-0.574,0-1.039,0.465-1.039,1.038v39.945c0,0.573,0.465,1.038,1.039,1.038h2.219
 c0.573,0,1.038-0.465,1.038-1.038s-0.465-1.038-1.038-1.038h-1.181V12.063h52.221c0.574,0,1.039-0.465,1.039-1.038
 S80.57,9.986,79.996,9.986z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M86.654,9.986h-2.22c-0.573,0-1.038,0.465-1.038,1.038s0.465,1.038,1.038,1.038h1.181v37.869H33.394
 c-0.573,0-1.038,0.465-1.038,1.038s0.465,1.038,1.038,1.038h53.26c0.573,0,1.037-0.465,1.037-1.038V11.024
 C87.692,10.451,87.227,9.986,86.654,9.986z"></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                  </a>
                  <div><h3>Desktop Application</h3>
                    <p>A team of highly talented engineers is always <b>at your disposal</b> to develop different platforms in ASP.net applications from WebForms to different versions of MVC, WCF, WPF (web and mobile), EF, Web API.</p>
                    <div class="contact-link">
                      <a href="<%= desktop_application_development_company_path %>">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="we-hire-block-image wdauto">
                  <a href="<%= ui_ux_design_path %>">
                    <div class="block-image-stage size-block-career-top">
                      <svg class="blue_image" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70.871px" height="52.027px" viewBox="21.26 9.421 70.871 52.027" enable-background="new 21.26 9.421 70.871 52.027" xml:space="preserve">
                        <g>
                          <g>
                            <path fill="#113448" d="M83.787,32.841c-2.412-1.206-6.934-1.22-7.125-1.22c-0.573,0-1.038,0.465-1.038,1.038
 s0.465,1.038,1.038,1.038c1.167,0,4.555,0.18,6.195,1c0.149,0.075,0.309,0.11,0.464,0.11c0.381,0,0.747-0.21,0.93-0.574
 C84.507,33.721,84.298,33.098,83.787,32.841z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M88.962,47.622l-4.288-1.226c-0.185-0.053-0.314-0.224-0.314-0.416v-1.432
 c0.349-0.241,0.682-0.512,0.993-0.813c1.507-1.463,2.337-3.425,2.337-5.525v-1.975l0.415-0.829
 c0.455-0.91,0.695-1.929,0.695-2.946v-5.35c0-0.574-0.465-1.039-1.039-1.039h-9.989c-3.633,0-6.589,2.956-6.589,6.588v0.062
 c0,0.846,0.201,1.693,0.578,2.45l0.532,1.063v1.695c0,2.688,1.324,5.099,3.33,6.55l0.001,1.5c0,0.23,0,0.326-0.857,0.572
 l-2.092,0.598l-6.053-2.201c0.021-0.285-0.074-0.576-0.283-0.795l-1.934-2.031v-3.411c0.205-0.169,0.406-0.341,0.602-0.524
 c2.439-2.287,3.839-5.515,3.839-8.857v-2.724c0.737-1.603,1.11-3.299,1.11-5.046v-11.1c0-0.573-0.465-1.038-1.039-1.038h-15.54
 c-5.469,0-9.918,4.45-9.918,9.918v2.22c0,1.747,0.373,3.443,1.11,5.046v2.344c0,3.88,1.726,7.377,4.44,9.682v3.491l-1.934,2.031
 c-0.208,0.219-0.305,0.51-0.283,0.795l-6.387,2.322c-0.463,0.168-0.893,0.396-1.283,0.673l-1.003-0.501
 c2.985-1.301,3.931-3.128,3.977-3.219c0.146-0.293,0.146-0.637,0-0.929c-0.749-1.497-0.839-4.24-0.912-6.444
 c-0.024-0.734-0.047-1.428-0.091-2.045c-0.354-4.979-4.139-8.735-8.806-8.735c-4.666,0-8.452,3.755-8.805,8.735
 c-0.044,0.617-0.067,1.311-0.091,2.045c-0.073,2.204-0.164,4.947-0.912,6.444c-0.146,0.292-0.146,0.636,0,0.929
 c0.045,0.091,0.989,1.914,3.981,3.216l-2.786,1.394c-1.489,0.744-2.415,2.242-2.415,3.906v7.67c0,0.573,0.465,1.038,1.038,1.038
 s1.038-0.465,1.038-1.038v-7.67c0-0.873,0.485-1.658,1.267-2.05l3.469-1.734l1.207,1.147c0.844,0.801,1.926,1.202,3.009,1.202
 c1.083,0,2.166-0.401,3.009-1.202l1.207-1.147l1.131,0.565c-0.533,0.853-0.835,1.852-0.835,2.898v7.99
 c0,0.574,0.465,1.039,1.038,1.039s1.038-0.465,1.038-1.039v-7.99c0-1.425,0.9-2.709,2.239-3.197l6.734-2.448l2.803,4.206
 c0.358,0.537,0.933,0.882,1.576,0.945c0.072,0.008,0.143,0.011,0.214,0.011c0.567,0,1.11-0.224,1.517-0.63l1.71-1.71V60.41
 c0,0.574,0.464,1.039,1.038,1.039c0.573,0,1.038-0.465,1.038-1.039V49.596l1.711,1.71c0.406,0.406,0.949,0.63,1.517,0.63
 c0.071,0,0.142-0.003,0.214-0.011c0.643-0.063,1.217-0.408,1.576-0.945l2.803-4.205l6.734,2.448
 c1.34,0.487,2.239,1.772,2.239,3.196v7.99c0,0.574,0.465,1.039,1.038,1.039c0.574,0,1.038-0.465,1.038-1.039v-7.99
 c0-1.443-0.573-2.797-1.535-3.798l0.257-0.073c0.258-0.074,0.611-0.175,0.966-0.349l2.65,2.65v9.56
 c0,0.574,0.465,1.039,1.038,1.039s1.038-0.465,1.038-1.039v-9.56l2.632-2.632c0.141,0.07,0.287,0.131,0.441,0.176l4.288,1.225
 c0.979,0.279,1.663,1.186,1.663,2.203v8.588c0,0.574,0.465,1.039,1.037,1.039c0.574,0,1.039-0.465,1.039-1.039v-8.588
 C92.13,49.882,90.828,48.155,88.962,47.622z M27.92,45.789c-1.942-0.699-2.916-1.631-3.332-2.14
 c0.284-0.741,0.467-1.59,0.592-2.485c0.573,1.372,1.531,2.544,2.74,3.38V45.789z M33.867,48.597c-0.885,0.842-2.272,0.842-3.158,0
 l-0.965-0.917c0.163-0.306,0.252-0.651,0.252-1.015V45.56c0.724,0.227,1.494,0.348,2.292,0.348c0.797,0,1.566-0.122,2.292-0.348
 l0,1.105c0,0.363,0.089,0.709,0.252,1.015L33.867,48.597z M32.289,43.832c-3.1,0-5.622-2.521-5.622-5.621
 c0-0.574-0.465-1.039-1.038-1.039c-0.058,0-0.115,0.006-0.17,0.016c0.003-0.09,0.006-0.179,0.009-0.268
 c0.023-0.713,0.045-1.388,0.087-1.966c0.132-1.865,0.878-3.584,2.099-4.84c1.232-1.267,2.878-1.965,4.636-1.965
 s3.404,0.698,4.636,1.965c1.221,1.256,1.966,2.975,2.099,4.84c0.041,0.578,0.063,1.252,0.087,1.966
 c0.002,0.062,0.004,0.123,0.006,0.186c-1.129-1.741-2.874-3.023-5.127-3.747c-2.083-0.669-3.873-0.628-3.949-0.626
 c-0.272,0.008-0.53,0.122-0.719,0.317l-1.873,1.942c-0.398,0.413-0.386,1.07,0.027,1.469c0.413,0.397,1.07,0.385,1.468-0.027
 l1.559-1.616c1.342,0.065,5.661,0.568,7.34,4.266C37.418,41.808,35.076,43.832,32.289,43.832z M36.656,45.792l0-1.238
 c1.208-0.831,2.167-2.001,2.741-3.384c0.125,0.894,0.308,1.74,0.591,2.48C39.574,44.153,38.596,45.093,36.656,45.792z
 M46.646,28.95v-2.576c0-0.156-0.035-0.311-0.103-0.451c-0.668-1.383-1.007-2.851-1.007-4.363v-2.22
 c0-4.324,3.518-7.842,7.842-7.842H67.88V21.56c0,1.511-0.34,2.979-1.008,4.362c-0.067,0.141-0.103,0.295-0.103,0.452v2.956
 c0,2.812-1.13,5.419-3.183,7.343c-0.256,0.24-0.521,0.466-0.797,0.675c-0.006,0.004-0.012,0.009-0.018,0.014
 c-1.923,1.459-4.277,2.168-6.737,2.01C50.771,39.029,46.646,34.452,46.646,28.95z M52.491,49.838
 c-0.007,0.007-0.024,0.024-0.058,0.021s-0.047-0.023-0.053-0.031l-3.229-4.844l1.039-1.092l4.898,3.349L52.491,49.838z
 M56.708,45.832l-5.622-3.842v-1.938c1.455,0.786,3.083,1.278,4.816,1.391c0.273,0.018,0.545,0.026,0.817,0.026
 c1.985,0,3.896-0.475,5.611-1.375v1.896L56.708,45.832z M61.035,49.828c-0.005,0.008-0.019,0.028-0.053,0.031
 c-0.033,0.004-0.05-0.014-0.057-0.021l-2.599-2.598l4.898-3.348l1.039,1.091L61.035,49.828z M79.992,48.952l-2.355-2.356
 c0.041-0.186,0.064-0.391,0.064-0.616L77.7,45.541c0.653,0.215,1.343,0.342,2.056,0.363c0.08,0.003,0.16,0.004,0.239,0.004
 c0.788,0,1.558-0.119,2.289-0.346v0.418c0,0.207,0.026,0.41,0.075,0.605L79.992,48.952z M83.907,42.245
 c-1.101,1.067-2.554,1.632-4.089,1.585c-3.004-0.091-5.448-2.736-5.448-5.898V35.99c0-0.161-0.037-0.32-0.109-0.464l-0.642-1.282
 c-0.234-0.47-0.359-0.996-0.359-1.521V32.66c0-2.488,2.025-4.512,4.513-4.512h8.952v4.312c0,0.697-0.165,1.395-0.477,2.018
 l-0.524,1.048c-0.071,0.145-0.109,0.303-0.109,0.464v2.221C85.614,39.744,85.007,41.176,83.907,42.245z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M86.652,52.711c-0.573,0-1.038,0.465-1.038,1.038v6.66c0,0.573,0.465,1.038,1.038,1.038
 s1.038-0.465,1.038-1.038v-6.66C87.69,53.177,87.225,52.711,86.652,52.711z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M26.738,54.083c-0.573,0-1.038,0.465-1.038,1.039v5.287c0,0.573,0.465,1.038,1.038,1.038
 s1.038-0.465,1.038-1.038v-5.287C27.776,54.548,27.311,54.083,26.738,54.083z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M65.212,21.936c-3.927-3.927-12.142-3.176-15.492-2.671c-1.055,0.159-1.821,1.052-1.821,2.123v2.392
 c0,0.573,0.465,1.038,1.038,1.038s1.038-0.465,1.038-1.038v-2.392c0-0.035,0.023-0.065,0.054-0.07
 c1.338-0.202,3.993-0.513,6.745-0.33c3.237,0.216,5.582,1.028,6.969,2.416c0.406,0.405,1.063,0.405,1.469,0
 C65.617,22.999,65.617,22.341,65.212,21.936z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M44.498,54.931c-0.573,0-1.038,0.465-1.038,1.039v4.439c0,0.574,0.465,1.038,1.038,1.038
 s1.038-0.464,1.038-1.038V55.97C45.536,55.396,45.071,54.931,44.498,54.931z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path fill="#113448" d="M68.917,54.931c-0.572,0-1.037,0.465-1.037,1.039v4.439c0,0.574,0.465,1.038,1.037,1.038
 c0.574,0,1.039-0.464,1.039-1.038V55.97C69.957,55.396,69.492,54.931,68.917,54.931z"></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                  </a>
                  <div><h3>UX/ UI Design</h3>
                    <p>Our creative team expertise in designing unique quality products that connect your brand and companies with your customers are looking forward to helping you. This team is specialized in design thinking, wireframing, UX interactive prototyping, final UI graphics production.</p>
                    <div class="contact-link"><a href="<%= ui_ux_design_path %>">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center" style="margin-top: 0px !important;">
            <div class="main-services margin-end-page">
              <div class="col-md-6 col-sm-6">
                <div class="we-hire-block-image wdauto">
                  <a href="<%= mobile_app_development_company_path %>">
                    <div class="block-image-stage size-block-career-top">
                      <svg class="blue_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="270.954px" height="512px" viewBox="120.522 0 270.954 512" enable-background="new 120.522 0 270.954 512" xml:space="preserve">
                        <g>
                          <path fill="#113448" d="M128.021,405.604c4.141,0,7.498-3.357,7.498-7.498v-274.28c0-4.142-3.357-7.499-7.498-7.499
 c-4.142,0-7.499,3.357-7.499,7.499v274.281C120.522,402.247,123.88,405.604,128.021,405.604z"></path>
                          <path fill="#113448" d="M383.978,263.499c-4.142,0-7.499,3.357-7.499,7.499v203.509c0,12.405-10.091,22.496-22.496,22.496H158.015
 c-12.404,0-22.496-10.091-22.496-22.496V428.1c0-4.141-3.357-7.498-7.498-7.498c-4.142,0-7.499,3.357-7.499,7.498v46.406
 c0,20.675,16.819,37.493,37.493,37.493h195.968c20.675,0,37.493-16.818,37.493-37.493V270.998
 C391.476,266.856,388.12,263.499,383.978,263.499z"></path>
                          <path fill="#113448" d="M353.983,0H158.015c-20.674,0-37.493,16.819-37.493,37.494v56.337c0,4.142,3.357,7.499,7.499,7.499
 c4.141,0,7.498-3.357,7.498-7.499V37.494c0-12.405,10.092-22.496,22.496-22.496h31.365c7.612,15.284,23.365,25.229,40.728,25.229
 h51.782c17.363,0,33.115-9.944,40.729-25.229h31.364c12.405,0,22.496,10.091,22.496,22.496v203.509
 c0,4.142,3.357,7.499,7.499,7.499c4.141,0,7.498-3.357,7.498-7.499V37.494C391.476,16.819,374.658,0,353.983,0z M281.89,25.228
 h-51.782c-8.861,0-17.096-3.865-22.773-10.23h97.331C298.987,21.363,290.752,25.228,281.89,25.228z"></path>
                          <path fill="#113448" d="M286.813,478.391c4.142,0,7.499-3.357,7.499-7.499s-3.357-7.499-7.499-7.499h-61.628
 c-4.142,0-7.499,3.357-7.499,7.499s3.357,7.499,7.499,7.499H286.813z"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
                  <div><h3>Mobile Development</h3>
                    <p>Our team of expertise in mobile apps development  has satisfied hundreds of clients with their creativity and mobile application development skills. The team is specialized in developing both android and ios applications. The team is <b>fully dedicated to meet your requirements</b> and you are encouraged to share anything you desire to see in your application.</p>
                    <div class="contact-link">
                      <a href="<%= mobile_app_development_company_path %>">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="we-hire-block-image wdauto">
                  <a href="<%= website_maintenance_services_company_path %>">
                    <div class="block-image-stage size-block-career-top">
                      <svg class="blue_image" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="511px" height="511px" viewBox="0 0 511 511" enable-background="new 0 0 511 511" xml:space="preserve">
                        <g>
                          <path fill="#113448" d="M110.953,366.975H7.593c-4.191,0-7.591,3.396-7.591,7.587v103.582c0,4.191,3.399,7.591,7.591,7.591h103.36
 c4.191,0,7.591-3.399,7.591-7.591V374.562C118.544,370.371,115.148,366.975,110.953,366.975z M103.366,470.554H15.183v-88.401
 h88.183V470.554z"></path>
                          <path fill="#113448" d="M241.775,263.392H138.411c-4.191,0-7.587,3.4-7.587,7.591v115.353c0,4.191,3.396,7.591,7.587,7.591
 s7.591-3.399,7.591-7.591V278.57h88.183v191.984h-88.183v-53.86c0-4.19-3.399-7.59-7.591-7.59s-7.587,3.399-7.587,7.59v61.45
 c0,4.191,3.396,7.591,7.587,7.591h103.364c4.19,0,7.587-3.399,7.587-7.591V270.983C249.362,266.793,245.966,263.392,241.775,263.392
 z"></path>
                          <path fill="#113448" d="M372.594,159.81H269.229c-4.191,0-7.587,3.399-7.587,7.591v310.743c0,4.191,3.396,7.591,7.587,7.591h103.364
 c4.19,0,7.586-3.399,7.586-7.591V167.401C380.183,163.21,376.784,159.81,372.594,159.81z M365.003,470.554H276.82V174.988h88.183
 V470.554z"></path>
                          <path fill="#113448" d="M503.412,127.799c4.19,0,7.591-3.396,7.591-7.591v-56.39c0-4.19-3.4-7.586-7.591-7.586h-103.36
 c-4.191,0-7.591,3.396-7.591,7.586v414.326c0,4.191,3.399,7.591,7.591,7.591h103.36c4.19,0,7.591-3.399,7.591-7.591V150.566
 c0-4.19-3.4-7.586-7.591-7.586c-4.191,0-7.587,3.396-7.587,7.586v319.988h-88.188V71.409h88.188v48.799
 C495.825,124.403,499.22,127.799,503.412,127.799z"></path>
                          <path fill="#113448" d="M7.6,198.961c1.174,0,2.362-0.273,3.478-0.851L322.605,36.972l-7.696,24.188
 c-1.271,3.996,0.936,8.261,4.932,9.532c0.765,0.245,1.54,0.358,2.301,0.358c3.216,0,6.202-2.059,7.231-5.287l13.252-41.648
 c1.271-3.992-0.939-8.262-4.932-9.532L296.048,1.332c-3.992-1.271-8.265,0.936-9.536,4.932c-1.271,3.992,0.939,8.261,4.932,9.532
 l24.188,7.695L4.107,184.629c-3.724,1.926-5.182,6.503-3.255,10.227C2.201,197.464,4.852,198.961,7.6,198.961z"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
                  <div>
                    <h3>Maintenance</h3>
                    <p>Software maintenance can be quite tricky sometimes, especially for those who have a little prior experience. Our expert team is 24/7 available to guide you and provide maintenance service. We are just a message away from you. Just send us a message and see your software fixed in the quickest time.</p>
                    <div class="contact-link">
                      <a href="<%= website_maintenance_services_company_path %>">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>


<section class="bg-gray-lighter section-md">
  <%= render 'homes/shared/start_project_form', contact: @contactinfo %>
</section>




