<% content_for :title do %>
  Software Company in Dhaka,Bangladesh | Syftet Limited.
<% end %>
<% content_for :meta_title do %>
  Software Company in Bangladesh | Syftet
<% end %>


<div class="custom custom-software-dev">
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>Technologies</h1>
              <p class="p-heading p-large">All-out technology expertise, countless years of overall experience in numerous projects at your service in a blink of an eye.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="maincontent technology_page ">
    <div class="what_we do container">
      <h2 class="text-center">OUR TECHNOLOGY EXPERTISE</h2>
      <div class="text-header-service content-page over-blue-block">
        <p>Solid technology background and smooth communication are equally important. Here, at Existek, we are
          proficient in working with technology stack required by our partners and providing consulting services for
          developing cost-effective, quick, and quality custom software.</p></div>
    </div>
    <div class="color">
      <div class="technologies_list container">
        <div class="left_block">
          <h2> Desktop Development</h2>
          <div class="technologies_images">
            <div class="first_line">
              <div>
                <noscript>
                  <%= image_tag 'technology/zerodevs-c-logo.svg', alt:"C", style:"height:63px; width:61px" %>
                </noscript>
                  <%= image_tag 'technology/zerodevs-c-logo.svg', alt:"C", style:"height:63px; width:61px" %>
                <p>C#</p></div>
              <div>
                <noscript>
                  <%= image_tag 'technology/zerodevs-rd-icon-wpf-new-color.svg', alt:"WPF" %>
                </noscript>
                <%= image_tag 'technology/zerodevs-rd-icon-wpf-new-color.svg', alt:"WPF" %>
                <p>WPF</p></div>
              <div>
                <noscript>
                  <%= image_tag 'technology/zerodevs-rd-icon-uwp-color-2.svg',alt: 'UWP', style: "height:63px; width:61px" %>
                </noscript>
                  <%= image_tag 'technology/zerodevs-rd-icon-uwp-color-2.svg',alt: 'UWP', style: "height:63px; width:61px" %>
                <p>UWP</p></div>
              <div class="line_break"></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="53" height="60" viewBox="0 0 53 60" fill="none">
                  <path d="M52.9108 17.6481C52.9104 16.642 52.6965 15.7529 52.264 14.9899C51.8392 14.2395 51.203 13.6106 50.3496 13.1134C43.3053 9.02651 36.2543 4.95212 29.2123 0.861078C27.3138 -0.241728 25.4731 -0.201523 23.5887 0.917114C20.7849 2.5809 6.74715 10.6732 2.56408 13.1111C0.841375 14.1145 0.00310547 15.6502 0.00269141 17.6463C0 25.8652 0.00269141 34.084 0 42.3032C0.000414063 43.2872 0.205168 44.159 0.618609 44.9106C1.04364 45.6836 1.68875 46.3298 2.5618 46.8383C6.74508 49.2762 20.7847 57.3679 23.5879 59.0321C25.4731 60.1514 27.3138 60.1914 29.2129 59.0881C36.2551 54.9969 43.3066 50.9227 50.3519 46.8358C51.2249 46.3275 51.87 45.6809 52.2951 44.9085C52.7079 44.1569 52.913 43.2851 52.9135 42.3009C52.9135 42.3009 52.9135 25.8673 52.9108 17.6481Z" fill="#5C8DBC"></path>
                  <path d="M26.5377 29.8945L0.618652 44.9105C1.04369 45.6836 1.6888 46.3298 2.56185 46.8383C6.74513 49.2761 20.7848 57.3678 23.588 59.032C25.4732 60.1513 27.3139 60.1913 29.213 59.0881C36.2552 54.9968 43.3067 50.9226 50.3519 46.8358C51.225 46.3275 51.8701 45.6809 52.2951 44.9084L26.5377 29.8945Z" fill="#1A4674"></path>
                  <path d="M18.8608 34.3424C20.3691 36.9917 23.2044 38.7786 26.4568 38.7786C29.7294 38.7786 32.5808 36.969 34.0814 34.2914L26.5378 29.8945L18.8608 34.3424Z" fill="#1A4674"></path>
                  <path d="M52.9107 17.648C52.9103 16.6419 52.6964 15.7528 52.2639 14.9897L26.5376 29.8945L52.295 44.9084C52.7078 44.1568 52.913 43.285 52.9134 42.3008C52.9134 42.3008 52.9134 25.8672 52.9107 17.648Z" fill="#1B598E"></path>
                  <path d="M51.4943 30.9677H49.4815V32.9934H47.4684V30.9677H45.4558V28.9427H47.4684V26.9175H49.4815V28.9427H51.4943V30.9677ZM44.1499 30.9677H42.1373V32.9934H40.1246V30.9677H38.1118V28.9427H40.1246V26.9175H42.1373V28.9427H44.1499V30.9677Z" fill="white"></path>
                  <path d="M34.0811 34.2916C32.5805 36.9693 29.7291 38.7789 26.4565 38.7789C23.2041 38.7789 20.3688 36.992 18.8606 34.3426C18.1029 33.0133 17.705 31.5072 17.7066 29.9747C17.7066 25.1125 21.6242 21.1708 26.4565 21.1708C29.6881 21.1708 32.5085 22.9355 34.0242 25.5577L41.6721 21.1265C38.6323 15.8466 32.9569 12.2944 26.4565 12.2944C16.7517 12.2944 8.88477 20.2103 8.88477 29.9747C8.88477 33.1782 9.73173 36.1822 11.212 38.7734C14.2442 44.0812 19.9357 47.6553 26.4565 47.6553C32.9894 47.6553 38.6898 44.0669 41.7177 38.7435L34.0811 34.2916Z" fill="white"></path>
                </svg>
                <p>C++</p></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="60" viewBox="0 0 45 60" fill="none">
                  <path d="M14.6473 46.2693C14.6473 46.2693 12.3629 47.5419 16.273 47.9725C21.0101 48.4902 23.4311 48.4159 28.6513 47.4695C28.6513 47.4695 30.0237 48.2938 31.9405 49.0078C20.2381 53.8122 5.45575 48.7295 14.6473 46.2693ZM13.2174 40C13.2174 40 10.6552 41.8168 14.5682 42.2045C19.6284 42.7045 23.6246 42.7454 30.5395 41.4699C30.5395 41.4699 31.4961 42.3988 33 42.9067C18.851 46.8699 3.09175 43.2193 13.2174 40Z" fill="#5382A1"></path>
                  <path d="M24.7766 28.882C27.8038 32.1021 23.9814 35 23.9814 35C23.9814 35 31.6677 31.3338 28.1378 26.7429C24.8407 22.4614 22.3123 20.3344 36 13C36.0002 12.9998 14.5149 17.9576 24.7766 28.882Z" fill="#E76F00"></path>
                  <path d="M41.1591 51.2901C41.1591 51.2901 42.8856 52.6494 39.2577 53.7007C32.3592 55.6974 10.5454 56.3003 4.48564 53.7804C2.30731 52.8749 6.3923 51.6184 7.67729 51.3547C9.0174 51.0771 9.78322 51.1288 9.78322 51.1288C7.36069 49.4983 -5.87503 54.3302 3.06013 55.7142C27.4276 59.4898 47.4799 54.014 41.1591 51.2901ZM15.6232 33.5635C15.6232 33.5635 4.52728 36.0815 11.6938 36.9959C14.7198 37.383 20.7519 37.2954 26.3705 36.8456C30.9625 36.4755 35.5736 35.6888 35.5736 35.6888C35.5736 35.6888 33.9544 36.3513 32.783 37.1154C21.5153 39.9469 -0.251804 38.6295 6.01466 35.7334C11.3142 33.2859 15.6232 33.5635 15.6232 33.5635ZM35.5279 44.1936C46.982 38.5069 41.6862 33.0419 37.9895 33.7783C37.0835 33.9585 36.6795 34.1146 36.6795 34.1146C36.6795 34.1146 37.0161 33.6112 37.6581 33.3933C44.971 30.9369 50.595 40.638 35.2975 44.4804C35.2975 44.4804 35.475 44.3291 35.5279 44.1936Z" fill="#5382A1"></path>
                  <path d="M28.449 0C28.449 0 34.4943 6.25207 22.7153 15.8664C13.2697 23.5784 20.5614 27.9757 22.7113 33C17.198 27.8567 13.1518 23.3294 15.8663 19.1156C19.8504 12.9302 30.8881 9.93129 28.449 0Z" fill="#E76F00"></path>
                  <path d="M16.6527 59.8009C27.6743 60.5309 44.5993 59.3959 45 54C45 54 44.2296 56.0454 35.8912 57.6702C26.4842 59.5017 14.8815 59.288 8 58.1141C8.00033 58.1138 9.4089 59.3203 16.6527 59.8009Z" fill="#5382A1"></path>
                </svg>
                <p>Java</p></div>
              <div>
                <noscript>
                  <%= image_tag 'technology/zerodevs-rd-icon-net-color.svg', alt:"WinForms" %>
                </noscript>
                  <%= image_tag 'technology/zerodevs-rd-icon-net-color.svg', alt:"WinForms" %>
                <p>WinForms</p></div>
            </div>
          </div>
          <div class="technologies_link">
            <a href="<%= desktop_application_development_company_path %>" target="_blank"> Learn more</a>
          </div>
        </div>
        <div class="right_block">
          <noscript>
            <%= image_tag 'technology/zerodevs-rd-tech-desktop.webp', alt: 'desktop' %>
          </noscript>
            <%= image_tag 'technology/zerodevs-rd-tech-desktop.webp', alt: 'desktop' %>
        </div>
      </div>
    </div>
    <div class="technologies_list container">
      <div class="left_block">
        <h2> Web Development</h2>
        <div class="technologies_images">
          <div class="first_line">
            <div>
              <svg width="57" height="60" viewBox="0 0 57 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.0229492 10.0417L28.0342 0.153809L56.7998 9.86587L52.1421 46.5828L28.0342 59.8106L4.30341 46.7586L0.0229492 10.0417Z" fill="#E23237"></path>
                <path d="M56.7998 9.86587L28.0342 0.153809V59.8106L52.1421 46.6048L56.7998 9.86587Z" fill="#B52E31"></path>
                <path d="M28.0783 7.11914L10.624 45.5939L17.1443 45.4841L20.6486 36.8046H36.3066L40.1435 45.5939L46.3755 45.7038L28.0783 7.11914ZM28.1228 19.446L34.0222 31.6629H22.9328L28.1228 19.446Z" fill="white"></path>
              </svg>
              <p> Angular</p></div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="68" height="60" viewBox="0 0 68 60" fill="none">
                <g clip-path="url(#clip4)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M53.7208 18.763C54.4562 18.9727 55.1861 19.2008 55.9099 19.4471C63.2541 21.9544 68 25.882 68 29.943C68 34.1784 62.9282 38.3194 55.1326 40.8807C54.7206 41.0162 54.2983 41.1464 53.868 41.2723C54.0215 41.8847 54.1584 42.4861 54.2758 43.075C55.8148 50.7843 54.6297 57.1208 50.9822 59.2147C47.4507 61.2421 41.743 59.2505 35.9637 54.3186C35.3355 53.7812 34.7225 53.2266 34.1255 52.6553C33.6515 53.1099 33.1781 53.5435 32.7065 53.9524C26.74 59.1246 20.6128 61.2705 16.9621 59.1828C13.4275 57.1608 12.3167 51.2624 13.739 43.8339C13.8944 43.0266 14.0725 42.2238 14.2731 41.4263C13.6555 41.2515 13.0424 41.0614 12.4344 40.8563C4.93547 38.3146 0 34.1226 0 29.943C0 25.8966 4.59782 21.9952 11.797 19.5061C12.6017 19.228 13.4428 18.9665 14.3138 18.7212C14.1272 17.981 13.9596 17.2362 13.8112 16.4876C12.3194 8.92778 13.3691 2.8862 16.913 0.851643C20.6089 -1.27006 26.7641 1.00833 32.9049 6.4157C33.2868 6.75279 33.6625 7.09686 34.0316 7.44775C34.5828 6.92005 35.1473 6.40625 35.7247 5.90684C41.5841 0.85015 47.3857 -1.26528 50.9329 0.7636C54.6327 2.87903 55.7161 9.30532 54.0591 17.2824C53.9556 17.7779 53.8428 18.2716 53.7208 18.763ZM53.0793 38.2562C53.4681 38.1419 53.8497 38.024 54.2214 37.9019C60.952 35.6901 65.0978 32.3056 65.0978 29.6987C65.0978 27.2514 61.2595 24.0749 54.9668 21.927C54.3162 21.7046 53.6409 21.4942 52.9454 21.2942C52.1088 23.9788 50.9923 26.815 49.6359 29.713C51.057 32.6811 52.2186 35.5543 53.0793 38.2562ZM51.7555 52.2907C52.2063 49.8812 52.1091 46.7991 51.4286 43.3902C51.3224 42.858 51.199 42.314 51.0606 41.7588C48.244 42.4044 45.1383 42.8774 41.8508 43.1666C39.982 45.8497 38.0671 48.266 36.151 50.3444C36.7233 50.8906 37.2942 51.4069 37.8609 51.8904C42.803 56.1082 47.3861 57.7073 49.5291 56.4771C50.536 55.8989 51.3504 54.4556 51.7555 52.2907ZM18.4161 56.4424C19.4239 57.0187 21.0915 56.9979 23.1851 56.2646C25.515 55.4483 28.1591 53.8259 30.7975 51.5385C31.2391 51.1548 31.671 50.7603 32.093 50.3555C30.1074 48.2421 28.1371 45.8288 26.2559 43.2034C22.9606 42.9383 19.8775 42.4987 17.0922 41.8878C16.9059 42.6294 16.7403 43.376 16.5957 44.1268C15.3796 50.4793 16.271 55.2158 18.4161 56.4424ZM5.44542 33.7075C7.3224 35.3012 10.0607 36.7618 13.3765 37.8858C13.9316 38.0731 14.4914 38.2469 15.0551 38.4069C15.914 35.6298 17.0462 32.7142 18.4107 29.7688C17.0636 26.8666 15.9474 23.9967 15.0964 21.2519C14.3092 21.4726 13.5287 21.7161 12.7559 21.9822C6.59894 24.111 2.90727 27.2433 2.90727 29.6987C2.90727 30.8528 3.75894 32.2749 5.44542 33.7075ZM18.3709 3.10054C16.2351 4.32659 15.3865 9.21256 16.6646 15.6899C16.8027 16.3863 16.9586 17.0788 17.132 17.7674C19.9464 17.135 23.0079 16.6628 26.206 16.3689C28.0709 13.7586 30.0231 11.3635 31.9985 9.25972C31.6576 8.93649 31.3172 8.62401 30.9783 8.32556C25.6763 3.65686 20.6461 1.79451 18.3709 3.10054ZM43.9288 19.5002C44.6424 20.6095 45.3319 21.734 45.9966 22.8727C46.6721 24.0295 47.3243 25.1994 47.9527 26.382C48.8128 24.3853 49.5432 22.4376 50.1292 20.575C48.1772 20.133 46.0986 19.7718 43.9288 19.5002ZM38.0367 16.1092C36.7167 14.3653 35.3748 12.7579 34.035 11.3184C32.6742 12.7746 31.3208 14.3797 29.9997 16.1074C32.6772 15.9831 35.3592 15.9837 38.0367 16.1092ZM20.0773 26.3799C20.6896 25.2027 21.3296 24.04 21.9967 22.8924C22.6647 21.7439 23.3597 20.611 24.0813 19.4949C21.9257 19.762 19.8567 20.1138 17.9165 20.5445C18.5076 22.4337 19.2313 24.3901 20.0773 26.3799ZM17.8765 39.1089C19.8161 39.5276 21.9163 39.8616 24.1433 40.1081C23.404 38.9707 22.6922 37.8159 22.0084 36.6449C21.3383 35.4968 20.6955 34.3333 20.0806 33.1553C19.2166 35.1878 18.4769 37.1862 17.8765 39.1089ZM30.0241 43.4266C31.3654 45.1794 32.7386 46.809 34.1154 48.2824C35.4461 46.8293 36.7832 45.1973 38.1074 43.4126C36.7589 43.4723 35.3887 43.503 34.0025 43.503C32.6534 43.503 31.3259 43.4773 30.0241 43.4266ZM50.264 38.9841C49.6555 37.094 48.8893 35.1063 47.9804 33.0518C47.3499 34.2572 46.6924 35.4485 46.0083 36.6249C45.3355 37.7823 44.6395 38.9264 43.9207 40.0565C46.1636 39.7897 48.2922 39.4303 50.264 38.9841ZM40.2296 40.4057C41.3738 38.7012 42.4618 36.9603 43.4919 35.1857C44.5308 33.4011 45.5057 31.5804 46.414 29.727C45.4963 27.8923 44.5186 26.0877 43.4825 24.3161C42.4523 22.549 41.3595 20.8186 40.2062 19.1281C38.1844 18.9753 36.1082 18.8953 34.0028 18.8953C31.9068 18.8953 29.8333 18.9747 27.8109 19.1263C26.6458 20.8195 25.546 22.5553 24.5138 24.3313C23.4813 26.1069 22.5165 27.9204 21.6214 29.7679C22.5187 31.6149 23.4865 33.4274 24.5225 35.2015C25.5634 36.9851 26.672 38.729 27.8458 40.4295C29.8281 40.557 31.8866 40.6223 34.0025 40.6223C36.1272 40.6223 38.2121 40.5486 40.2296 40.4057ZM51.2165 16.4566C52.6472 9.56921 51.7615 4.31734 49.4845 3.01489C47.3466 1.79213 42.6546 3.50286 37.6343 7.8358C37.1013 8.29702 36.5799 8.77131 36.0706 9.25822C38.0141 11.3349 39.9501 13.7341 41.8186 16.3727C45.0261 16.6712 48.0897 17.1517 50.9107 17.7973C51.0208 17.3522 51.1227 16.9053 51.2165 16.4566Z" fill="#53C1DE"></path>
                  <path d="M34 24C37.3139 24 40 26.6864 40 29.9999C40 33.3136 37.3139 36 34 36C30.6864 36 28 33.3136 28 29.9999C28 26.6864 30.6864 24 34 24Z" fill="#53C1DE"></path>
                </g>
                <defs>
                  <clipPath id="clip4">
                    <rect width="68" height="60" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <p>React</p></div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="69" height="60" viewBox="0 0 69 60" fill="none">
                <path d="M55.1948 0H68.9935L34.4967 59.9457L0 0H26.39L34.4967 13.9005L42.431 0H55.1948Z" fill="#41B883"></path>
                <path d="M0 0L34.4967 59.9457L68.9935 0H55.1948L34.4967 35.9674L13.6262 0H0Z" fill="#41B883"></path>
                <path d="M13.6262 0L34.4968 36.1412L55.1948 0H42.431L34.4968 13.9005L26.39 0H13.6262Z" fill="#35495E"></path>
              </svg>
              <p>Vue</p></div>
            <div class="line_break"></div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="129" height="38" viewBox="0 0 129 38" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8076 20.0667C20.8076 19.668 20.5884 19.2915 20.2376 19.0921L10.9629 13.6658C10.8094 13.5772 10.634 13.5329 10.4586 13.5107C10.4367 13.5107 10.3709 13.5107 10.3709 13.5107C10.1955 13.5107 10.0201 13.5772 9.86664 13.6658L0.570072 19.07C0.219259 19.2693 0 19.6458 0 20.0667L0.0219259 34.596C0.0219259 34.7954 0.131555 34.9947 0.306962 35.0833C0.482369 35.194 0.701628 35.194 0.855109 35.0833L6.38043 31.8939C6.73124 31.6946 6.9505 31.3181 6.9505 30.9194V24.1198C6.9505 23.7212 7.16976 23.3446 7.52057 23.1453L9.86664 21.7721C10.042 21.6614 10.2394 21.6171 10.4367 21.6171C10.634 21.6171 10.8314 21.6614 10.9849 21.7721L13.3309 23.1453C13.6817 23.3446 13.901 23.7212 13.901 24.1198V30.9194C13.901 31.3181 14.1203 31.6946 14.4711 31.8939L19.9525 35.0833C20.1279 35.194 20.3472 35.194 20.5226 35.0833C20.698 34.9947 20.8076 34.7954 20.8076 34.596V20.0667Z" fill="#333333"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M65.4925 0.0664452C65.3171 -0.0221484 65.0978 -0.0221484 64.9443 0.0664452C64.7689 0.177187 64.6593 0.354374 64.6593 0.55371V14.9502C64.6593 15.0831 64.5935 15.2159 64.462 15.3045C64.3304 15.371 64.1989 15.371 64.0673 15.3045L61.7432 13.9535C61.3923 13.7542 60.9757 13.7542 60.6249 13.9535L51.3284 19.3798C50.9776 19.5792 50.7583 19.9557 50.7583 20.3544V31.1849C50.7583 31.5836 50.9776 31.9601 51.3284 32.1595L60.6249 37.5858C60.9757 37.7852 61.3923 37.7852 61.7432 37.5858L71.0397 32.1595C71.3905 31.9601 71.6098 31.5836 71.6098 31.1849V4.18605C71.6098 3.76523 71.3905 3.3887 71.0397 3.18937L65.4925 0.0664452ZM64.6374 27.619C64.6374 27.7298 64.5935 27.8184 64.5058 27.8627L61.3266 29.7231C61.2389 29.7674 61.1292 29.7674 61.0415 29.7231L57.8623 27.8627C57.7746 27.8184 57.7307 27.7076 57.7307 27.619V23.8981C57.7307 23.7874 57.7746 23.6988 57.8623 23.6545L61.0415 21.794C61.1292 21.7497 61.2389 21.7497 61.3266 21.794L64.5058 23.6545C64.5935 23.6988 64.6374 23.8095 64.6374 23.8981V27.619Z" fill="#333333"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M96.43 23.8093C96.7808 23.61 96.9781 23.2335 96.9781 22.8348V20.1991C96.9781 19.8005 96.7589 19.4239 96.43 19.2246L87.1992 13.8204C86.8484 13.6211 86.4318 13.6211 86.081 13.8204L76.7844 19.2468C76.4336 19.4461 76.2144 19.8226 76.2144 20.2213V31.0518C76.2144 31.4505 76.4336 31.827 76.7844 32.0264L86.0152 37.342C86.366 37.5413 86.7826 37.5413 87.1115 37.342L92.7026 34.1969C92.878 34.1083 92.9876 33.909 92.9876 33.7097C92.9876 33.5103 92.878 33.311 92.7026 33.2224L83.3622 27.796C83.1868 27.6853 83.0771 27.5081 83.0771 27.3088V23.9201C83.0771 23.7207 83.1868 23.5214 83.3622 23.4328L86.2783 21.7495C86.4537 21.6388 86.673 21.6388 86.8484 21.7495L89.7645 23.4328C89.9399 23.5435 90.0496 23.7207 90.0496 23.9201V26.5779C90.0496 26.7772 90.1592 26.9765 90.3346 27.0651C90.51 27.1759 90.7293 27.1759 90.9047 27.0651L96.43 23.8093Z" fill="#333333"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M86.4974 23.2998C86.5632 23.2555 86.6509 23.2555 86.7167 23.2998L88.4927 24.3408C88.5585 24.3851 88.6023 24.4515 88.6023 24.5401V26.6221C88.6023 26.7107 88.5585 26.7771 88.4927 26.8214L86.7167 27.8624C86.6509 27.9067 86.5632 27.9067 86.4974 27.8624L84.7214 26.8214C84.6557 26.7771 84.6118 26.7107 84.6118 26.6221V24.5401C84.6118 24.4515 84.6557 24.3851 84.7214 24.3408L86.4974 23.2998Z" fill="#679E63"></path>
                <path d="M36.3537 13.8648C36.0029 13.6655 35.5863 13.6655 35.2355 13.8648L26.0047 19.2469C25.6539 19.4462 25.4565 19.8228 25.4565 20.2214V31.0077C25.4565 31.4064 25.6758 31.7829 26.0047 31.9822L35.2355 37.3643C35.5863 37.5636 36.0029 37.5636 36.3537 37.3643L45.5845 31.9822C45.9353 31.7829 46.1326 31.4064 46.1326 31.0077V20.2214C46.1326 19.8228 45.9134 19.4462 45.5845 19.2469L36.3537 13.8648Z" fill="#679E63"></path>
                <path d="M34.9279 11.8936L34.7964 11.96H34.9718L34.9279 11.8936Z" fill="url(#paint0_linear)"></path>
                <path d="M112.59 31.1085C112.261 31.1085 111.954 31.0199 111.669 30.8649L108.753 29.1152C108.315 28.8716 108.534 28.783 108.665 28.7387C109.257 28.5393 109.367 28.495 109.981 28.1407C110.047 28.0964 110.134 28.1185 110.2 28.1628L112.437 29.5139C112.524 29.5582 112.634 29.5582 112.7 29.5139L121.448 24.3976C121.536 24.3533 121.58 24.2647 121.58 24.1539V13.9435C121.58 13.8328 121.536 13.7442 121.448 13.6999L112.7 8.60576C112.612 8.56146 112.502 8.56146 112.437 8.60576L103.688 13.6999C103.601 13.7442 103.557 13.8549 103.557 13.9435V24.1539C103.557 24.2425 103.601 24.3533 103.688 24.3976L106.078 25.7929C107.372 26.4574 108.183 25.6822 108.183 24.907V14.8295C108.183 14.6966 108.293 14.5637 108.446 14.5637H109.564C109.696 14.5637 109.828 14.6744 109.828 14.8295V24.907C109.828 26.6567 108.885 27.6755 107.24 27.6755C106.736 27.6755 106.341 27.6755 105.223 27.1218L102.921 25.7929C102.351 25.4607 102 24.8405 102 24.1761V13.9657C102 13.3012 102.351 12.6811 102.921 12.3488L111.669 7.23256C112.217 6.92248 112.963 6.92248 113.511 7.23256L122.259 12.3488C122.83 12.6811 123.18 13.3012 123.18 13.9657V24.1761C123.18 24.8405 122.83 25.4607 122.259 25.7929L113.511 30.9092C113.248 31.0199 112.919 31.1085 112.59 31.1085Z" fill="#679E63"></path>
                <path d="M115.31 24.0873C111.473 24.0873 110.684 22.3154 110.684 20.8093C110.684 20.6765 110.793 20.5436 110.947 20.5436H112.087C112.218 20.5436 112.328 20.6322 112.328 20.765C112.503 21.9389 113.008 22.5148 115.332 22.5148C117.174 22.5148 117.963 22.094 117.963 21.0973C117.963 20.5214 117.744 20.1006 114.871 19.8127C112.482 19.569 110.991 19.0375 110.991 17.1106C110.991 15.3165 112.482 14.2534 114.981 14.2534C117.788 14.2534 119.169 15.2279 119.344 17.3542C119.344 17.4206 119.322 17.4871 119.279 17.5535C119.235 17.5978 119.169 17.6421 119.103 17.6421H117.941C117.831 17.6421 117.722 17.5535 117.7 17.4428C117.437 16.2246 116.757 15.826 114.959 15.826C112.942 15.826 112.701 16.5347 112.701 17.0663C112.701 17.7086 112.986 17.9079 115.705 18.2623C118.402 18.6167 119.673 19.1261 119.673 21.0308C119.673 22.9799 118.073 24.0873 115.31 24.0873Z" fill="#679E63"></path>
                <path d="M127.939 13.3675C127.939 14.2978 127.172 15.073 126.251 15.073C125.33 15.073 124.562 14.3199 124.562 13.3675C124.562 12.393 125.352 11.6621 126.251 11.6621C127.15 11.6621 127.939 12.4152 127.939 13.3675ZM124.826 13.3675C124.826 14.1649 125.461 14.8072 126.229 14.8072C127.018 14.8072 127.654 14.1427 127.654 13.3675C127.654 12.5702 127.018 11.95 126.229 11.95C125.483 11.95 124.826 12.5702 124.826 13.3675ZM125.615 12.4152H126.273C126.492 12.4152 126.93 12.4152 126.93 12.9246C126.93 13.2789 126.711 13.3454 126.58 13.3897C126.843 13.4118 126.865 13.589 126.887 13.8327C126.909 13.9877 126.93 14.2535 126.974 14.3421H126.58C126.58 14.2535 126.514 13.7662 126.514 13.7441C126.492 13.6333 126.448 13.589 126.317 13.589H125.988V14.3642H125.615V12.4152ZM125.966 13.2568H126.251C126.492 13.2568 126.536 13.0796 126.536 12.991C126.536 12.7252 126.36 12.7252 126.251 12.7252H125.944V13.2568H125.966Z" fill="#679E63"></path>
                <defs>
                  <linearGradient id="paint0_linear" x1="25.1175" y1="11.9196" x2="46.4771" y2="11.9196" gradientUnits="userSpaceOnUse">
                    <stop offset="0.0919165" stop-color="#6ABF4B"></stop>
                    <stop offset="0.2871" stop-color="#64B749"></stop>
                    <stop offset="0.5984" stop-color="#52A044"></stop>
                    <stop offset="0.8624" stop-color="#3F873F"></stop>
                  </linearGradient>
                </defs>
              </svg>
              <p>Node JS</p></div>
            <div>
              <noscript>
                <%= image_tag 'technology/zerodevs-rd-icon-net-color.svg', alt: 'ASP.NET' %>
              </noscript>
                <%= image_tag 'technology/zerodevs-rd-icon-net-color.svg', alt: 'ASP.NET' %>
              <p>ASP.NET</p></div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="115" height="40" viewBox="0 0 115 40" fill="none">
                <g clip-path="url(#clip1)">
                  <path d="M100.098 34.7991V40.0002H109.597C111.543 40.0002 114.883 38.5922 114.999 34.6554V32.6439C114.999 29.2818 112.211 27.2991 109.597 27.2991H104.862V24.8853H114.244V19.6554H105.239C102.916 19.6554 99.8076 21.5519 99.8076 25.0864V26.8968C99.8076 30.4313 102.887 32.2416 105.239 32.2416C111.775 32.2703 103.671 32.2416 109.713 32.2416V34.7703L100.098 34.7991ZM49.207 33.5347C49.207 33.5347 54.2903 33.1037 54.2903 26.6094C54.2903 20.1152 48.1322 19.5117 48.1322 19.5117H37.0361V40.0002H42.6132V35.0577L47.4351 40.0002H55.6846L49.207 33.5347ZM47.0575 29.3393H42.6132V24.6554H47.0865C47.0865 24.6554 48.3356 25.1152 48.3356 26.983C48.3356 28.8508 47.0575 29.3393 47.0575 29.3393ZM68.0588 19.6554H62.3945C58.3569 19.6554 56.9917 23.2761 56.9917 25.0002V40.0002H62.656V36.4083H67.9716V40.0002H73.4616V25.0002C73.4616 20.6324 69.4531 19.6554 68.0588 19.6554ZM67.9716 30.6037H62.6269V25.6324C62.6269 25.6324 62.6269 24.5117 64.3988 24.5117H66.345C67.9135 24.5117 67.9426 25.6324 67.9426 25.6324V30.6037H67.9716ZM76.0468 19.6554H81.9434V40.0002H76.0468V19.6554ZM90.222 34.7416V19.6554H84.3544V40.0002H98.1519V34.7416H90.222Z" fill="#CC0000"></path>
                  <path d="M2.03394 39.9999H24.9814C24.9814 39.9999 20.5952 20.2011 35.1189 12.1838C38.2851 10.6609 48.3646 4.9712 64.8635 17.0402C65.3863 16.6091 65.8801 16.2643 65.8801 16.2643C65.8801 16.2643 50.7755 1.35051 33.957 3.01717C25.5042 3.7643 15.1053 11.3792 9.00531 21.4367C2.90536 31.4942 2.03394 39.9999 2.03394 39.9999Z" fill="#CC0000"></path>
                  <path d="M2.03394 39.9999H24.9814C24.9814 39.9999 20.5952 20.2011 35.1189 12.1838C38.2851 10.6609 48.3646 4.9712 64.8635 17.0402C65.3863 16.6091 65.8801 16.2643 65.8801 16.2643C65.8801 16.2643 50.7755 1.35051 33.957 3.01717C25.5042 3.7643 15.1053 11.3792 9.00531 21.4367C2.90536 31.4942 2.03394 39.9999 2.03394 39.9999Z" fill="#CC0000"></path>
                  <path d="M2.03394 39.9999H24.9814C24.9814 39.9999 20.5952 20.2011 35.1189 12.1838C38.2851 10.6608 48.3646 4.97117 64.8635 17.0401C65.3863 16.6091 65.8801 16.2643 65.8801 16.2643C65.8801 16.2643 50.7755 1.35048 33.957 3.01715C25.4752 3.76428 15.0762 11.3792 8.97627 21.4367C2.87631 31.4942 2.03394 39.9999 2.03394 39.9999ZM49.846 4.62635L49.9622 2.70106C49.7007 2.55738 48.9745 2.21255 47.1446 1.69531L47.0284 3.59186C47.9869 3.90796 48.9165 4.25278 49.846 4.62635Z" fill="#CC0000"></path>
                  <path d="M47.0876 10.7184L46.9714 12.5287C47.9299 12.5575 48.8885 12.6724 49.8471 12.8736L49.9633 11.092C48.9757 10.8908 48.0171 10.7759 47.0876 10.7184ZM36.34 1.75287H36.6305L36.0495 0C35.1491 0 34.2196 0.0574713 33.261 0.172414L33.8129 1.86782C34.6553 1.78161 35.4977 1.75287 36.34 1.75287ZM37.7343 12.3276L38.4024 14.3103C39.2448 13.908 40.0871 13.5632 40.9295 13.3046L40.2905 11.408C39.3029 11.6954 38.4605 12.0115 37.7343 12.3276ZM24.5468 4.77011L23.2396 2.78736C22.5135 3.16092 21.7582 3.56322 20.9739 4.02299L22.3101 6.03448C23.0654 5.57471 23.7915 5.14368 24.5468 4.77011ZM30.5015 17.7011L31.8958 19.7701C32.3896 19.0517 32.9705 18.3908 33.6096 17.7299L32.3024 15.7759C31.6343 16.3793 31.0243 17.0402 30.5015 17.7011ZM26.2896 26.954L28.6425 28.7931C28.7586 27.6724 28.962 26.5517 29.2525 25.431L27.161 23.7931C26.7834 24.8563 26.522 25.9195 26.2896 26.954ZM13.5669 13.3046L11.5045 11.523C10.7493 12.2414 10.0231 12.9598 9.35498 13.6782L11.5916 15.5747C12.2016 14.7989 12.8697 14.023 13.5669 13.3046ZM4.79453 26.1494L1.45408 24.9425C0.902179 26.1782 0.292183 27.6149 0.00170898 28.3908L3.34216 29.5977C3.71978 28.6207 4.32977 27.2126 4.79453 26.1494ZM25.8539 34.2529C25.912 35.7759 26.0572 37.0115 26.2025 37.8736L29.6882 39.1092C29.4267 37.9885 29.1653 36.7241 28.991 35.3736L25.8539 34.2529Z" fill="#CC0000"></path>
                </g>
                <defs>
                  <clipPath id="clip1">
                    <rect width="115" height="40" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <p>Ruby</p></div>
          </div>
        </div>
        <div class="technologies_link">
          <a href="<%= web_development_company_path %>" target="_blank">
            Learn more</a>
        </div>
      </div>
      <div class="right_block">
        <noscript>
          <%= image_tag 'technology/zerodevs-rd-tech-web.webp', alt: 'zerodevs-rd-tech-web'%>
        </noscript>
          <%= image_tag 'technology/zerodevs-rd-tech-web.webp', alt: 'zerodevs-rd-tech-web'%>
      </div>
    </div>
    <div class="color">
      <div class="technologies_list container">
        <div class="left_block"><h2> Mobile Application Development</h2>
          <div class="technologies_images">
            <div class="first_line">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                  <g clip-path="url(#clip3)">
                    <path d="M13.336 0H46.5704C48.1876 0 49.7579 0.257813 51.2814 0.796875C53.4845 1.59375 55.4767 3 56.9767 4.82812C58.5001 6.65625 59.5079 8.90625 59.8595 11.25C60.0001 12.1172 60.0236 12.9844 60.0236 13.8516V46.2656C60.0236 47.2969 59.9767 48.3516 59.7657 49.3594C59.297 51.6797 58.1954 53.8594 56.6017 55.6172C55.0314 57.375 52.9689 58.6875 50.7423 59.3906C49.3829 59.8125 47.9767 60 46.547 60C45.9142 60 13.2423 60 12.7501 59.9766C10.3595 59.8594 7.99229 59.0859 6.0001 57.75C4.05479 56.4375 2.46104 54.6094 1.42979 52.5C0.539163 50.6953 0.0938506 48.6797 0.0938506 46.6641V13.3359C0.0469756 11.3438 0.468851 9.375 1.33604 7.59375C2.34385 5.48438 3.91416 3.63281 5.85948 2.32031C7.85167 0.960937 10.1954 0.164062 12.586 0.046875C12.8204 0 13.0782 0 13.336 0Z" fill="url(#swift0_linear)"></path>
                    <path d="M50.625 49.0781C50.4141 48.75 50.1797 48.4219 49.9219 48.1172C49.3359 47.4141 48.6562 46.8047 47.9062 46.2891C46.9688 45.6562 45.8672 45.2578 44.7422 45.2109C43.9453 45.1641 43.1484 45.3047 42.3984 45.5859C41.6484 45.8438 40.9219 46.2188 40.2188 46.5938C39.3984 47.0156 38.5781 47.4375 37.7109 47.7891C36.6797 48.2109 35.6016 48.5391 34.5 48.7734C33.1172 49.0312 31.7109 49.125 30.3281 49.1016C27.8203 49.0547 25.3125 48.6797 22.9219 47.9766C20.8125 47.3438 18.7969 46.4766 16.8984 45.375C15.2344 44.4141 13.6875 43.3125 12.2344 42.0703C11.0391 41.0391 9.9375 39.9375 8.90625 38.7656C8.20313 37.9453 7.52344 37.0781 6.89063 36.1875C6.63281 35.8359 6.39844 35.4609 6.1875 35.0859L0 28.4062V13.2891C0 5.95313 5.92969 0 13.2656 0H25.1016L33.8672 8.90625C53.6484 22.3594 47.25 37.1953 47.25 37.1953C47.25 37.1953 52.875 43.5234 50.625 49.0781Z" fill="url(#swift1_linear)"></path>
                    <path d="M33.914 8.90625C53.6953 22.3594 47.2968 37.1953 47.2968 37.1953C47.2968 37.1953 52.9218 43.5469 50.6484 49.1016C50.6484 49.1016 48.3281 45.2109 44.4375 45.2109C40.6875 45.2109 38.4843 49.1016 30.9375 49.1016C14.1328 49.1016 6.1875 35.0625 6.1875 35.0625C21.3281 45.0234 31.664 37.9688 31.664 37.9688C24.8437 34.0078 10.3359 15.0703 10.3359 15.0703C22.9687 25.8281 28.4297 28.6641 28.4297 28.6641C25.1719 25.9688 16.0312 12.7969 16.0312 12.7969C23.3437 20.2031 37.875 30.5391 37.875 30.5391C42 19.1016 33.914 8.90625 33.914 8.90625Z" fill="white"></path>
                  </g>
                  <defs>
                    <linearGradient id="swift0_linear" x1="35.6933" y1="-2.14102" x2="24.3573" y2="62.1483" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FAAE42"></stop>
                      <stop offset="1" stop-color="#EF3E31"></stop>
                    </linearGradient>
                    <linearGradient id="swift1_linear" x1="30.6122" y1="0.969375" x2="22.3156" y2="48.0218" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#E39F3A"></stop>
                      <stop offset="1" stop-color="#D33929"></stop>
                    </linearGradient>
                    <clipPath id="clip3">
                      <rect width="60" height="60" fill="white">

                      </rect>
                    </clipPath>
                  </defs>
                </svg>
                <p>Swift</p></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                  <path d="M0 59.9999L30.1 29.8999L60 59.9999H0Z" fill="url(#kotlin0_linear)"></path>
                  <path d="M0 0H30.1L0 32.5V0Z" fill="url(#kotlin1_linear)"></path>
                  <path d="M30.1 0L0 31.7V60L30.1 29.9L60 0H30.1Z" fill="url(#kotlin2_linear)"></path>
                  <defs>
                    <linearGradient id="kotlin0_linear" x1="15.9594" y1="74.0142" x2="24.3571" y2="40.646" gradientUnits="userSpaceOnUse">
                      <stop offset="0.09677" stop-color="#0095D5"></stop>
                      <stop offset="0.3007" stop-color="#238AD9"></stop>
                      <stop offset="0.6211" stop-color="#557BDE"></stop>
                      <stop offset="0.8643" stop-color="#7472E2"></stop>
                      <stop offset="1" stop-color="#806EE3"></stop>
                    </linearGradient>
                    <linearGradient id="kotlin1_linear" x1="4.2092" y1="12.0591" x2="21.8307" y2="-3.05582" gradientUnits="userSpaceOnUse">
                      <stop offset="0.1183" stop-color="#0095D5"></stop>
                      <stop offset="0.4178" stop-color="#3C83DC"></stop>
                      <stop offset="0.6962" stop-color="#6D74E1"></stop>
                      <stop offset="0.8333" stop-color="#806EE3"></stop>
                    </linearGradient>
                    <linearGradient id="kotlin2_linear" x1="-10.1017" y1="55.1638" x2="45.7315" y2="-0.669401" gradientUnits="userSpaceOnUse">
                      <stop offset="0.1075" stop-color="#C757BC"></stop>
                      <stop offset="0.2138" stop-color="#D0609A"></stop>
                      <stop offset="0.4254" stop-color="#E1725C"></stop>
                      <stop offset="0.6048" stop-color="#EE7E2F"></stop>
                      <stop offset="0.743" stop-color="#F58613"></stop>
                      <stop offset="0.8232" stop-color="#F88909"></stop>
                    </linearGradient>
                  </defs>
                </svg>
                <p>Kotlin</p></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="60" viewBox="0 0 49 60" fill="none">
                  <g clip-path="url(#flutter5)">
                    <path d="M9.33917 39.2369L0 29.9976L30.3241 0H49L9.33917 39.2369ZM49 27.6817H30.3241L23.3283 34.6027L32.6675 43.8421" fill="#42A5F5" fill-opacity="0.8"></path>
                    <path d="M23.3284 53.0792L30.3242 60.0002H49.0001L32.6675 43.8423" fill="#0D47A1"></path>
                    <path d="M14.0112 43.8469L23.3357 34.6196L32.6602 43.8444L23.3357 53.0717L14.0112 43.8469Z" fill="#42A5F5"></path>
                    <path d="M23.3357 53.0715L32.6602 43.8467L33.9618 45.1344L24.6373 54.3592L23.3357 53.0715Z" fill="url(#flutter0_linear)"></path>
                    <path d="M23.3284 53.0792L37.1851 48.3431L32.6675 43.8398" fill="url(#flutter1_linear)"></path>
                  </g>
                  <defs>
                    <linearGradient id="flutter0_linear" x1="27.9997" y1="48.4574" x2="29.2874" y2="49.759" gradientUnits="userSpaceOnUse">
                      <stop offset="0.2" stop-opacity="0.15"></stop>
                      <stop offset="0.85" stop-color="#616161" stop-opacity="0.01"></stop>
                    </linearGradient>
                    <linearGradient id="flutter1_linear" x1="23.3317" y1="48.4598" x2="37.1882" y2="48.4598" gradientUnits="userSpaceOnUse">
                      <stop offset="0.2" stop-opacity="0.55"></stop>
                      <stop offset="0.85" stop-color="#616161" stop-opacity="0.01"></stop>
                    </linearGradient>
                    <clipPath id="flutter5">
                      <rect width="49" height="60" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                <p>Flutter</p></div>
              <div class="line_break"></div>
              <div>
                <noscript>
                  <%= image_tag 'technology/apple-logo-zerodevs.png', alt:"Object-C", style:"height:63px; width:61px" %>
                </noscript>
                <%= image_tag 'technology/apple-logo-zerodevs.png', alt:"Object-C", style:"height:63px; width:61px" %>
                <p>Objective-c</p></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="60" viewBox="0 0 45 60" fill="none">
                  <path d="M14.6473 46.2693C14.6473 46.2693 12.3629 47.5419 16.273 47.9725C21.0101 48.4902 23.4311 48.4159 28.6513 47.4695C28.6513 47.4695 30.0237 48.2938 31.9405 49.0078C20.2381 53.8122 5.45575 48.7295 14.6473 46.2693ZM13.2174 40C13.2174 40 10.6552 41.8168 14.5682 42.2045C19.6284 42.7045 23.6246 42.7454 30.5395 41.4699C30.5395 41.4699 31.4961 42.3988 33 42.9067C18.851 46.8699 3.09175 43.2193 13.2174 40Z" fill="#5382A1"></path>
                  <path d="M24.7766 28.882C27.8038 32.1021 23.9814 35 23.9814 35C23.9814 35 31.6677 31.3338 28.1378 26.7429C24.8407 22.4614 22.3123 20.3344 36 13C36.0002 12.9998 14.5149 17.9576 24.7766 28.882Z" fill="#E76F00"></path>
                  <path d="M41.1591 51.2901C41.1591 51.2901 42.8856 52.6494 39.2577 53.7007C32.3592 55.6974 10.5454 56.3003 4.48564 53.7804C2.30731 52.8749 6.3923 51.6184 7.67729 51.3547C9.0174 51.0771 9.78322 51.1288 9.78322 51.1288C7.36069 49.4983 -5.87503 54.3302 3.06013 55.7142C27.4276 59.4898 47.4799 54.014 41.1591 51.2901ZM15.6232 33.5635C15.6232 33.5635 4.52728 36.0815 11.6938 36.9959C14.7198 37.383 20.7519 37.2954 26.3705 36.8456C30.9625 36.4755 35.5736 35.6888 35.5736 35.6888C35.5736 35.6888 33.9544 36.3513 32.783 37.1154C21.5153 39.9469 -0.251804 38.6295 6.01466 35.7334C11.3142 33.2859 15.6232 33.5635 15.6232 33.5635ZM35.5279 44.1936C46.982 38.5069 41.6862 33.0419 37.9895 33.7783C37.0835 33.9585 36.6795 34.1146 36.6795 34.1146C36.6795 34.1146 37.0161 33.6112 37.6581 33.3933C44.971 30.9369 50.595 40.638 35.2975 44.4804C35.2975 44.4804 35.475 44.3291 35.5279 44.1936Z" fill="#5382A1"></path>
                  <path d="M28.449 0C28.449 0 34.4943 6.25207 22.7153 15.8664C13.2697 23.5784 20.5614 27.9757 22.7113 33C17.198 27.8567 13.1518 23.3294 15.8663 19.1156C19.8504 12.9302 30.8881 9.93129 28.449 0Z" fill="#E76F00"></path>
                  <path d="M16.6527 59.8009C27.6743 60.5309 44.5993 59.3959 45 54C45 54 44.2296 56.0454 35.8912 57.6702C26.4842 59.5017 14.8815 59.288 8 58.1141C8.00033 58.1138 9.4089 59.3203 16.6527 59.8009Z" fill="#5382A1"></path>
                </svg>
                <p>Java</p></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="60" viewBox="0 0 68 60" fill="none">
                  <g clip-path="url(#clip6)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M53.7208 18.763C54.4562 18.9727 55.1861 19.2008 55.9099 19.4471C63.2541 21.9544 68 25.882 68 29.943C68 34.1784 62.9282 38.3194 55.1326 40.8807C54.7206 41.0162 54.2983 41.1464 53.868 41.2723C54.0215 41.8847 54.1584 42.4861 54.2758 43.075C55.8148 50.7843 54.6297 57.1208 50.9822 59.2147C47.4507 61.2421 41.743 59.2505 35.9637 54.3186C35.3355 53.7812 34.7225 53.2266 34.1255 52.6553C33.6515 53.1099 33.1781 53.5435 32.7065 53.9524C26.74 59.1246 20.6128 61.2705 16.9621 59.1828C13.4275 57.1608 12.3167 51.2624 13.739 43.8339C13.8944 43.0266 14.0725 42.2238 14.2731 41.4263C13.6555 41.2515 13.0424 41.0614 12.4344 40.8563C4.93547 38.3146 0 34.1226 0 29.943C0 25.8966 4.59782 21.9952 11.797 19.5061C12.6017 19.228 13.4428 18.9665 14.3138 18.7212C14.1272 17.981 13.9596 17.2362 13.8112 16.4876C12.3194 8.92778 13.3691 2.8862 16.913 0.851643C20.6089 -1.27006 26.7641 1.00833 32.9049 6.4157C33.2868 6.75279 33.6625 7.09686 34.0316 7.44775C34.5828 6.92005 35.1473 6.40625 35.7247 5.90684C41.5841 0.85015 47.3857 -1.26528 50.9329 0.7636C54.6327 2.87903 55.7161 9.30532 54.0591 17.2824C53.9556 17.7779 53.8428 18.2716 53.7208 18.763ZM53.0793 38.2562C53.4681 38.1419 53.8497 38.024 54.2214 37.9019C60.952 35.6901 65.0978 32.3056 65.0978 29.6987C65.0978 27.2514 61.2595 24.0749 54.9668 21.927C54.3162 21.7046 53.6409 21.4942 52.9454 21.2942C52.1088 23.9788 50.9923 26.815 49.6359 29.713C51.057 32.6811 52.2186 35.5543 53.0793 38.2562ZM51.7555 52.2907C52.2063 49.8812 52.1091 46.7991 51.4286 43.3902C51.3224 42.858 51.199 42.314 51.0606 41.7588C48.244 42.4044 45.1383 42.8774 41.8508 43.1666C39.982 45.8497 38.0671 48.266 36.151 50.3444C36.7233 50.8906 37.2942 51.4069 37.8609 51.8904C42.803 56.1082 47.3861 57.7073 49.5291 56.4771C50.536 55.8989 51.3504 54.4556 51.7555 52.2907ZM18.4161 56.4424C19.4239 57.0187 21.0915 56.9979 23.1851 56.2646C25.515 55.4483 28.1591 53.8259 30.7975 51.5385C31.2391 51.1548 31.671 50.7603 32.093 50.3555C30.1074 48.2421 28.1371 45.8288 26.2559 43.2034C22.9606 42.9383 19.8775 42.4987 17.0922 41.8878C16.9059 42.6294 16.7403 43.376 16.5957 44.1268C15.3796 50.4793 16.271 55.2158 18.4161 56.4424ZM5.44542 33.7075C7.3224 35.3012 10.0607 36.7618 13.3765 37.8858C13.9316 38.0731 14.4914 38.2469 15.0551 38.4069C15.914 35.6298 17.0462 32.7142 18.4107 29.7688C17.0636 26.8666 15.9474 23.9967 15.0964 21.2519C14.3092 21.4726 13.5287 21.7161 12.7559 21.9822C6.59894 24.111 2.90727 27.2433 2.90727 29.6987C2.90727 30.8528 3.75894 32.2749 5.44542 33.7075ZM18.3709 3.10054C16.2351 4.32659 15.3865 9.21256 16.6646 15.6899C16.8027 16.3863 16.9586 17.0788 17.132 17.7674C19.9464 17.135 23.0079 16.6628 26.206 16.3689C28.0709 13.7586 30.0231 11.3635 31.9985 9.25972C31.6576 8.93649 31.3172 8.62401 30.9783 8.32556C25.6763 3.65686 20.6461 1.79451 18.3709 3.10054ZM43.9288 19.5002C44.6424 20.6095 45.3319 21.734 45.9966 22.8727C46.6721 24.0295 47.3243 25.1994 47.9527 26.382C48.8128 24.3853 49.5432 22.4376 50.1292 20.575C48.1772 20.133 46.0986 19.7718 43.9288 19.5002ZM38.0367 16.1092C36.7167 14.3653 35.3748 12.7579 34.035 11.3184C32.6742 12.7746 31.3208 14.3797 29.9997 16.1074C32.6772 15.9831 35.3592 15.9837 38.0367 16.1092ZM20.0773 26.3799C20.6896 25.2027 21.3296 24.04 21.9967 22.8924C22.6647 21.7439 23.3597 20.611 24.0813 19.4949C21.9257 19.762 19.8567 20.1138 17.9165 20.5445C18.5076 22.4337 19.2313 24.3901 20.0773 26.3799ZM17.8765 39.1089C19.8161 39.5276 21.9163 39.8616 24.1433 40.1081C23.404 38.9707 22.6922 37.8159 22.0084 36.6449C21.3383 35.4968 20.6955 34.3333 20.0806 33.1553C19.2166 35.1878 18.4769 37.1862 17.8765 39.1089ZM30.0241 43.4266C31.3654 45.1794 32.7386 46.809 34.1154 48.2824C35.4461 46.8293 36.7832 45.1973 38.1074 43.4126C36.7589 43.4723 35.3887 43.503 34.0025 43.503C32.6534 43.503 31.3259 43.4773 30.0241 43.4266ZM50.264 38.9841C49.6555 37.094 48.8893 35.1063 47.9804 33.0518C47.3499 34.2572 46.6924 35.4485 46.0083 36.6249C45.3355 37.7823 44.6395 38.9264 43.9207 40.0565C46.1636 39.7897 48.2922 39.4303 50.264 38.9841ZM40.2296 40.4057C41.3738 38.7012 42.4618 36.9603 43.4919 35.1857C44.5308 33.4011 45.5057 31.5804 46.414 29.727C45.4963 27.8923 44.5186 26.0877 43.4825 24.3161C42.4523 22.549 41.3595 20.8186 40.2062 19.1281C38.1844 18.9753 36.1082 18.8953 34.0028 18.8953C31.9068 18.8953 29.8333 18.9747 27.8109 19.1263C26.6458 20.8195 25.546 22.5553 24.5138 24.3313C23.4813 26.1069 22.5165 27.9204 21.6214 29.7679C22.5187 31.6149 23.4865 33.4274 24.5225 35.2015C25.5634 36.9851 26.672 38.729 27.8458 40.4295C29.8281 40.557 31.8866 40.6223 34.0025 40.6223C36.1272 40.6223 38.2121 40.5486 40.2296 40.4057ZM51.2165 16.4566C52.6472 9.56921 51.7615 4.31734 49.4845 3.01489C47.3466 1.79213 42.6546 3.50286 37.6343 7.8358C37.1013 8.29702 36.5799 8.77131 36.0706 9.25822C38.0141 11.3349 39.9501 13.7341 41.8186 16.3727C45.0261 16.6712 48.0897 17.1517 50.9107 17.7973C51.0208 17.3522 51.1227 16.9053 51.2165 16.4566Z" fill="#53C1DE"></path>
                    <path d="M34 24C37.3139 24 40 26.6864 40 29.9999C40 33.3136 37.3139 36 34 36C30.6864 36 28 33.3136 28 29.9999C28 26.6864 30.6864 24 34 24Z" fill="#53C1DE"></path>
                  </g>
                  <defs>
                    <clipPath id="clip6">
                      <rect width="68" height="60" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                <p>React Native</p></div>
            </div>
          </div>
          <div class="technologies_link">
            <a href="<%= mobile_app_development_company_path %>" target="_blank"> Learn
              more</a></div>
        </div>
        <div class="right_block">
          <noscript>
            <%= image_tag 'technology/zerodevs-rd-tech-mobile.webp', alt: 'zerodevs-rd-tech-mobile' %>
          </noscript>
            <%= image_tag 'technology/zerodevs-rd-tech-mobile.webp', alt: 'zerodevs-rd-tech-mobile' %>
        </div>
      </div>
    </div>
  </div>

</div>




<section id="contactus" class="bg-gray-lighter object-wrap">
  <%= render 'homes/shared/start_project_form', contact: @contactinfo %>
</section>
