<div class="container">
  <div class="row new-home-page-row-title">
    <div class="col-sm-12 text-center">
      <h2 style="font-size: 30px;">FEATURED BLOG POSTS</h2>
      <p class="text-under-title font-size-p"> Latest company and technology news</p>
    </div>

  </div>
</div>
<div class="fb-bg new-home-page-fb-bg">
  <div class="container">
    <div class="row new-home-page-row blog-row">
      <div class="owl-carousel blog-owl-carousel owl-theme">
        <% if featured_blogs.present? %>
          <% featured_blogs.each do |blog| %>
            <div class="item">
              <div class="new-home-page-feature-post-wrapper">
                <div class="blog-post new-home-page-feature-post">
                  <div class="image-blog-post new-home-page-image-blog-post">
                    <a href="<%= blog_path(blog) %>">
                      <div class="zerodevs-feature-blog-banner">
                        <noscript>
                          <img src="<%= blog.banner %>" alt="zerodevs-blog-banner">
                        </noscript>
                      <img class="lazyloaded" src="<%= blog.banner %>" data-src="<%= blog.banner %>" alt="">
                      </div>
                    </a>
                  </div>
                  <a href="<%= blog_path(blog) %>">
                    <div class="title-blog-post new-home-page-title-blog-post">
                      <%= blog.title %>
                    </div>
                  </a>
                  <div class="more">
                    <a href="<%= blog_path(blog) %>" class="blog-learn-more">
                      READ MORE
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="item">
            <div class="new-home-page-feature-post-wrapper">
              <div class="blog-post new-home-page-feature-post">
                <div class="image-blog-post new-home-page-image-blog-post">
                  <a href="#">
                    <noscript>
                      <img src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                    </noscript>
                    <img class=" lazyloaded" src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" data-src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                  </a>
                </div>
                <a href="#">
                  <div class="title-blog-post new-home-page-title-blog-post">
                    Custom Mobile App Development: Client's Perspective
                  </div>
                </a>
                <div class="short-text-blog-post new-home-page-short-text-blog-post">
                  You don't know what your part in the development process will be when you decide to develop a mobile app? You, as a customer, want to receive full tra ...
                </div>
                <div class="more">
                  <a href="#" class="blog-learn-more">
                    READ MORE
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="new-home-page-feature-post-wrapper">
              <div class="blog-post new-home-page-feature-post">
                <div class="image-blog-post new-home-page-image-blog-post">
                  <a href="#">
                    <noscript>
                      <img src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                    </noscript>
                    <img class=" lazyloaded" src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" data-src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                  </a>
                </div>
                <a href="#">
                  <div class="title-blog-post new-home-page-title-blog-post">
                    Custom Mobile App Development: Client's Perspective
                  </div>
                </a>
                <div class="short-text-blog-post new-home-page-short-text-blog-post">
                  You don't know what your part in the development process will be when you decide to develop a mobile app? You, as a customer, want to receive full tra ...
                </div>
                <div class="more">
                  <a href="#" class="blog-learn-more">
                    READ MORE
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="new-home-page-feature-post-wrapper">
              <div class="blog-post new-home-page-feature-post">
                <div class="image-blog-post new-home-page-image-blog-post">
                  <a href="#">
                    <noscript>
                      <img src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                    </noscript>
                    <img class=" lazyloaded" src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" data-src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                  </a>
                </div>
                <a href="#">
                  <div class="title-blog-post new-home-page-title-blog-post">
                    Custom Mobile App Development: Client's Perspective
                  </div>
                </a>
                <div class="short-text-blog-post new-home-page-short-text-blog-post">
                  You don't know what your part in the development process will be when you decide to develop a mobile app? You, as a customer, want to receive full tra ...
                </div>
                <div class="more">
                  <a href="#" class="blog-learn-more">
                    READ MORE
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="new-home-page-feature-post-wrapper">
              <div class="blog-post new-home-page-feature-post">
                <div class="image-blog-post new-home-page-image-blog-post">
                  <a href="#">
                    <noscript>
                      <img src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                    </noscript>
                    <img class=" lazyloaded" src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" data-src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://existek.com/wp-content/uploads/2020/12/1.jpg" alt="">
                  </a>
                </div>
                <a href="#">
                  <div class="title-blog-post new-home-page-title-blog-post">
                    Custom Mobile App Development: Client's Perspective
                  </div>
                </a>
                <div class="short-text-blog-post new-home-page-short-text-blog-post">
                  You don't know what your part in the development process will be when you decide to develop a mobile app? You, as a customer, want to receive full tra ...
                </div>
                <div class="more">
                  <a href="#" class="blog-learn-more">
                    READ MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>

  <div class="btn-all-posts-block-wrapper">
    <div class="btn-all-posts-block">
      <a href="<%= blogs_path %>">
        <div class="btn-all-posts"> ALL POSTS
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
    $('.blog-owl-carousel').owlCarousel({
        loop: true,
        margin:10,
        autoplay:true,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:2
            }
        }
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.blog-owl-carousel').find('.owl-nav').addClass('hidden');
    });
</script>
