
<div class="slide">
  <figure class="clients-item">
    <a href="https://bnveteran.navy.mil.bd/" target="_blank" title="BN Veteran">
      <%= image_tag 'icons/bn-veteran.png', alt: 'bn-veteran' %>
    </a>
  </figure>
</div>
<div class="slide ">
  <figure class="clients-item">
    <a href="http://cheaf.asia/" target="_blank" title="Cheaf Asia">
      <%= image_tag 'icons/cheaf.png', alt: 'cheaf', width: '134', height: '102' %>
    </a>
  </figure>
</div>
<div class="slide ">
  <figure class="clients-item">
    <a href="http://gazinetwork.one/" target="_blank" title="Gazi Network">
      <%= image_tag 'icons/gazi.png', alt: 'gazi', width: '134', height: '102' %>
    </a>
  </figure>
</div>
<div class="slide ">
  <figure class="clients-item">
    <a href="https://www.lienexpos.com" target="_blank" title="Lienex POS">
      <%= image_tag 'icons/tangail.png', alt: 'tangail', width: '134', height: '102' %>
    </a>
  </figure>
</div>
<div class="slide ">
  <figure class="clients-item">
    <a href="https://www.bequent.com/" target="_blank" title="Bequent">
      <%= image_tag 'icons/bequent.png', alt: 'bequent', width: '134', height: '102' %>
    </a>
  </figure>
</div>
<div class="slide ">
  <figure class="clients-item">
    <a href="http://www.ibslbd.com/" target="_blank" title="Islami Bank Securities Ltd">
      <%= image_tag 'icons/islami-bank-security.png', alt: 'bequent', width: '134', height: '102' %>
    </a>
  </figure>
</div>
