<section>
  <div class="swiper-container swiper-slider swiper-slider_fullheight bg-gray-dark"
       data-simulate-touch="false" data-vh="20"
       data-loop="true" data-autoplay="5000">
    <div class="swiper-wrapper">
      <% if @home_sliders.present? %>
        <% @home_sliders.each do |slider| %>
          <div style="position: relative" class="swiper-slide text-center" data-slide-bg="<%= image_url(slider.image) %>">
            <div class="swiper-overlay bg-img-src1"></div>
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row justify-content-lg-center">
                  <div class="col-lg-10">
                    <h1 data-caption-animate="fadeInUpSmall"><%= slider.title %></h1>
                    <h5 class="font-weight-normal" data-caption-animate="fadeInUpSmall"
                        data-caption-delay="200">W<%= slider.sub_title %></h5>
                    <a class="button button-primary"
                       data-caption-animate="fadeInUpSmall"
                       data-caption-delay="350" href="<%= contact_us_path %>"><%= slider.link_text %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render 'homes/shared/default_swiper' %>
      <% end %>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev linear-icon-chevron-left"></div>
    <div class="swiper-button-next linear-icon-chevron-right"></div>
  </div>
</section>
