<section class="section-md bg-gray-lighter">
  <div class="container custom-software-content bg-section-top">
    <h2 class="text-center">Web Development Services</h2>
    <div class="text-header-service content-page">
      <p>
        <span style="font-weight: 400;">
          We have been providing the <b>best web development service in Bangladesh</b> for the last few years. We have a team of expertise who have years of experience in the field of web development.  The team is dedicated to developing high quality responsive websites. Our service , quality and dedication have helped us to become the <b>best web design company in Dhaka, Bangladesh</b>. We have helped <b>more than 150 clients</b> with their websites.  Our team of experts have been highly professional since we set up our <b>web design and development company in Bangladesh</b>.
        </span>
      </p>
      <p>
        <span style="font-weight: 400;">
          Being the <b>leading web development company in Bangladesh</b> we can assure you that we provide a high quality service. We are aware of the fact that a website can be the heart of your business. Your website must look smarter and read your customer’s mind. An interactive website can be a great tool for your business. We value your website and design it according to your demand. We as the <b>best website development firm</b> in Dhaka  understand that your website is the face of your business. Your customers have an impression as soon as they visit your site.
        </span>
      </p>
      <p>
        <span style="font-weight: 400;">
          Our highly professional web designers and developers are always committed to develop the best website for you. If you are thinking of setting up a website to grow your business by making regular communication with your customers through an online platform, our experts are up for guidance. If you think you don’t know where to start, we are here to help you build your site from scratch. Using the best tools available, our developers in Bangladesh would like to code your website and make it live for your viewers.
        </span>
      </p>
      <p>
        <span style="font-weight: 400;">
          We believe in smart strategies and the latest technology. So, whether you are looking for the best web design company in Bangladesh or the <b>best website development service in Bangladesh</b>, we can be your best choice . While an attractive and effective design can create a  positive impression on your customers, a website designed with the best codes and tools available can retain them and encourage them to revisit your website.
        </span>
      </p>
    </div>
  </div>
</section>
<section class="section-md bg-gray-lighter">
  <div class="container">
    <div class="service" id="service_10">
      <div class="row">
        <div class="col-xxs-12 col-md-6 col-sm-6 service-tab">
          <a>
            <div class="col-xxs-12 col-md-4" style="padding: 0;">
              <div class="block-image-stage my-block-image-stage">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 283.5 208.2" style="enable-background:new 0 0 283.5 208.2;" xml:space="preserve" class="svg replaced-svg">
                    <style type="text/css">.st0 {
                        fill: #0087C4;
                    }

                    .st1 {
                        fill: #CE152F;
                    }</style>
                    <g>
                      <path fill="#0087C4" d="M279,172.6h-8.8V19.1c0-10.5-8.6-19.1-19.1-19.1H32.4C21.9,0,13.3,8.6,13.3,19.1v153.5H4.4   c-2.4,0-4.4,2-4.4,4.4c0,9.5,2.6,17,7.7,22.3c6,6,15,8.9,27.7,8.9H248c21.9,0,35.4-11.9,35.4-31.1   C283.5,174.6,281.5,172.6,279,172.6z M22.1,19.1c0-5.7,4.6-10.2,10.3-10.2h218.7c5.6,0,10.2,4.6,10.2,10.2v153.5h-8.8V22.1   c0-2.5-2-4.4-4.4-4.4H35.4c-2.4,0-4.4,2-4.4,4.4v150.5h-8.9V19.1z M101.9,172.6h-62v-146h203.7v146h-62c-2.4,0-4.4,2-4.4,4.4v4.6   h-70.9v-4.6C106.3,174.6,104.3,172.6,101.9,172.6z M248,199.3H35.4c-10,0-17.2-2.1-21.4-6.3c-2.7-2.8-4.4-6.6-4.9-11.6h88.4v4.5   c0,2.5,2,4.4,4.4,4.4h79.7c2.4,0,4.4-1.9,4.4-4.4v-4.5h88.2C271.7,197.5,255.4,199.3,248,199.3z"></path>
                      <g>
                        <path fill="#CE152F" d="M200.4,98.9l-5.7-1.5c-0.3-3.7-1-7.4-2-10.9l4.8-3.5c1.7-1.2,2.3-3.4,1.5-5.3c-3.7-8.8-9.5-16.8-16.8-23.1    c-1.5-1.3-3.8-1.4-5.5-0.2l-4.8,3.5c-3.8-2.7-8-4.8-12.4-6.3v-5.9c0-2.1-1.4-3.8-3.4-4.3c-9.7-2.3-19-2.3-28.6,0    c-2,0.5-3.4,2.3-3.4,4.3v5.9c-3.5,1.2-6.9,2.8-10,4.8l-4.6-3.7c-1.6-1.3-3.9-1.3-5.5-0.1c-7.6,5.9-13.8,13.6-18,22.2    c-0.9,1.8-0.4,4.1,1.2,5.4l4.6,3.7c-1.3,3.5-2.1,7.1-2.6,10.8l-5.8,1.2c-1.9,0.4-3.4,2.7-3.5,4.6c0,0.1,0,1,0,1.1    c0,9.2,2,18.1,6,26.5c0.9,1.8,2.9,2.9,4.9,2.4l5.7-1.2c1.9,3.2,4.2,6.1,6.8,8.8l-2.7,5.3c-0.9,1.8-0.5,4.1,1.1,5.4    c7.3,6.2,16.1,10.7,25.5,13c2,0.5,4-0.5,5-2.3l2.7-5.2c3.7,0.5,7.5,0.6,11.1,0.3l2.4,5.4c0.7,1.6,2.3,2.6,4,2.6    c0.3,0,0.6,0,0.8-0.1c9.4-1.8,18.5-5.8,26.2-11.7c1.6-1.2,2.2-3.4,1.3-5.3l-2.4-5.4c2.6-2.5,5.1-5.4,7.2-8.5l5.7,1.5    c2,0.5,4.1-0.4,5-2.2c4.6-8.5,7.1-17.8,7.4-27.7C203.7,101.3,202.4,99.5,200.4,98.9z M190.1,123.7l-5.4-1.5    c-1.9-0.5-3.9,0.3-4.9,2c-2.6,4.4-5.8,8.2-9.6,11.3c-1.5,1.3-2,3.4-1.2,5.2l2.2,5c-5,3.3-10.4,5.8-16.2,7.2l-2.3-5.1    c-0.7-1.6-2.3-2.6-4.1-2.6c-0.2,0-0.4,0-0.6,0c-4.8,0.7-9.9,0.6-14.9-0.3c-1.9-0.4-3.9,0.6-4.8,2.3l-2.5,4.9    c-5.7-1.8-11-4.5-15.8-8l2.5-5c0.9-1.8,0.5-3.9-1-5.2c-3.7-3.5-6.8-7.4-9-11.8c-1-1.7-2.9-2.7-4.9-2.3l-5.4,1.1    c-2.2-5.6-3.4-11.4-3.7-17.3l5.5-1.2c1.9-0.4,3.3-2.1,3.5-4c0.3-5.1,1.5-9.9,3.4-14.5c0.8-1.8,0.3-3.9-1.2-5.2l-4.3-3.4    c3-5.2,6.8-9.8,11.2-13.8l4.3,3.5c1.5,1.3,3.7,1.3,5.3,0.2c4.1-2.9,8.6-5,13.4-6.4c1.9-0.5,3.2-2.3,3.2-4.2v-5.5    c6-1,11.7-1,17.7,0v5.5c0,2,1.3,3.7,3.2,4.2c5.5,1.6,10.7,4.2,15.2,7.8c1.5,1.2,3.7,1.3,5.4,0.1l4.5-3.2c4.2,4.2,7.8,9,10.5,14.3    l-4.5,3.3c-1.6,1.2-2.2,3.3-1.5,5.1c1.7,4.7,2.6,9.6,2.7,14.6c0,2,1.4,3.7,3.3,4.2l5.3,1.4C194.1,112.6,192.6,118.3,190.1,123.7z"></path>
                        <path fill="#CE152F" d="M141.7,74.5c-14.6,0-26.6,11.9-26.6,26.6c0,14.6,11.9,26.6,26.6,26.6c14.7,0,26.6-11.9,26.6-26.6    C168.3,86.4,156.4,74.5,141.7,74.5z M141.7,118.8c-9.8,0-17.7-7.9-17.7-17.7c0-9.8,8-17.7,17.7-17.7c9.8,0,17.7,7.9,17.7,17.7    C159.4,110.8,151.5,118.8,141.7,118.8z"></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-xxs-12 col-md-8 service-tab-margin">
              <h4 style="text-align: left;">Custom Web Development</h4>
              <div class="text-service">
                <p>
                  <span style="font-weight: 400;">
                    Web applications are getting popular faster than ever. Your frontend plays the most vital role to communicate with your users and clients. Almost everything now relies on how well your frontend interface is and how comfortable they are to use. At Syftet, we all are aware that your business will mostly depend on the visual end, and our website website developers always make a balance between backend and frontend and develop a custom website for you.
                  </span>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xxs-12 col-md-6 col-sm-6 service-tab">
          <a>
            <div class="col-xxs-12 col-md-4" style="padding: 0;">
              <div class="block-image-stage my-block-image-stage">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 283.5 256.3" style="enable-background:new 0 0 283.5 256.3;" xml:space="preserve">
                    <style type="text/css">.st0 {
                        fill: #878787;
                    }

                    .st1 {
                        fill: #0C88C4;
                    }

                    .st2 {
                        fill: #CE2030;
                    }</style>
                    <g>
                      <g>
                        <path class="st0" d="M213.6,256.3H72.8c-6.1,0-11.1-5-11.1-11.1c0-6.1,5-11.1,11.1-11.1c0.1,0,0.1,0,0.2,0    c0.2,0,24.7,1.1,36.7-10.3c4.4-4.1,6.5-9.3,6.5-15.9c0-2.8,0.3-5.6,1-8.3c0.5-2.1,2.6-3.4,4.8-2.9c2.1,0.5,3.4,2.6,2.9,4.8    c-0.5,2.1-0.8,4.3-0.8,6.5c0,8.7-3,16-8.9,21.6c-14.1,13.4-40.1,12.5-42.4,12.4c-1.7,0-3.1,1.4-3.1,3.2c0,1.7,1.4,3.2,3.2,3.2    h140.8c1.7,0,3.2-1.4,3.2-3.2c0-1.7-1.3-3.1-3-3.2c-3,0.2-29.6,2-44.3-11.4c-6.3-5.8-9.5-13.4-9.5-22.7c0-2.3-0.2-4.4-0.7-6.6    c-0.5-2.1,0.9-4.2,3-4.7c2.1-0.5,4.2,0.9,4.7,3c0.6,2.7,0.9,5.4,0.9,8.2c0,7.1,2.3,12.6,6.9,16.9c12.7,11.6,38.2,9.3,38.5,9.3    c0.1,0,0.2,0,0.4,0c6.1,0,11.1,5,11.1,11.1C224.6,251.3,219.7,256.3,213.6,256.3z"/>
                      </g>
                      <g>
                        <path class="st1" d="M265.6,204.6H160.2c-2.2,0-3.9-1.8-3.9-3.9c0-2.2,1.8-3.9,3.9-3.9h105.4c5.5,0,10-4.5,10-10V17.9    c0-5.5-4.5-10-10-10H17.9c-5.5,0-10,4.5-10,10v168.9c0,5.5,4.5,10,10,10h118.4c2.2,0,3.9,1.8,3.9,3.9c0,2.2-1.8,3.9-3.9,3.9H17.9    c-9.8,0-17.9-8-17.9-17.9V17.9C0,8,8,0,17.9,0h247.8c9.8,0,17.9,8,17.9,17.9v168.9C283.5,196.6,275.5,204.6,265.6,204.6z"/>
                      </g>
                      <g>
                        <path class="st1" d="M259,167.9H24.5c-2.2,0-3.9-1.8-3.9-3.9V23.4c0-2.2,1.8-3.9,3.9-3.9H259c2.2,0,3.9,1.8,3.9,3.9v140.5    C262.9,166.1,261.2,167.9,259,167.9z M28.4,160H255V27.4H28.4V160z"/>
                      </g>
                      <g>
                        <g>
                          <path class="st2" d="M216.5,81.1c-11.3,0-20.5-9.2-20.5-20.5c0-11.3,9.2-20.5,20.5-20.5c11.3,0,20.5,9.2,20.5,20.5     C237,71.9,227.8,81.1,216.5,81.1z M216.5,48c-7,0-12.6,5.7-12.6,12.6c0,7,5.7,12.6,12.6,12.6c7,0,12.6-5.7,12.6-12.6     C229.1,53.6,223.5,48,216.5,48z"/>
                        </g>
                        <g>
                          <path class="st2" d="M167.7,141.2c-13.6,0-24.7-10.7-24.7-23.9c0-13.2,11.1-23.9,24.7-23.9c13.6,0,24.7,10.7,24.7,23.9     C192.4,130.5,181.3,141.2,167.7,141.2z M167.7,101.3c-9.2,0-16.8,7.2-16.8,16s7.5,16,16.8,16c9.2,0,16.8-7.2,16.8-16     S177,101.3,167.7,101.3z"/>
                        </g>
                        <g>
                          <path class="st2" d="M103.4,103.3c-11.3,0-20.5-9.2-20.5-20.5s9.2-20.5,20.5-20.5c11.3,0,20.5,9.2,20.5,20.5     S114.8,103.3,103.4,103.3z M103.4,70.2c-7,0-12.6,5.7-12.6,12.6c0,7,5.7,12.6,12.6,12.6s12.6-5.7,12.6-12.6     C116.1,75.8,110.4,70.2,103.4,70.2z"/>
                        </g>
                        <g>
                          <path class="st2" d="M61.6,147.3c-8.4,0-15.2-6.8-15.2-15.2c0-8.4,6.8-15.2,15.2-15.2c8.4,0,15.2,6.8,15.2,15.2     C76.8,140.5,70,147.3,61.6,147.3z M61.6,124.8c-4,0-7.3,3.3-7.3,7.3c0,4,3.3,7.3,7.3,7.3c4,0,7.3-3.3,7.3-7.3     C68.9,128.1,65.6,124.8,61.6,124.8z"/>
                        </g>
                        <g>
                          <path class="st2" d="M182.7,107.5c-0.9,0-1.8-0.3-2.5-0.9c-1.7-1.4-1.9-3.9-0.5-5.6L204,71.7c1.4-1.7,3.9-1.9,5.6-0.5     c1.7,1.4,1.9,3.9,0.5,5.6l-24.3,29.4C185,107,183.9,107.5,182.7,107.5z"/>
                        </g>
                        <g>
                          <path class="st2" d="M149.8,111.3c-0.6,0-1.3-0.2-1.9-0.5l-29.8-16.3c-1.9-1-2.6-3.4-1.6-5.4c1-1.9,3.4-2.6,5.4-1.6l29.8,16.3     c1.9,1,2.6,3.4,1.6,5.4C152.6,110.5,151.2,111.3,149.8,111.3z"/>
                        </g>
                        <g>
                          <path class="st2" d="M69,127.6c-0.9,0-1.8-0.3-2.5-0.9c-1.7-1.4-1.9-3.9-0.6-5.6l23.3-28.6c1.4-1.7,3.9-1.9,5.6-0.6     c1.7,1.4,1.9,3.9,0.6,5.6l-23.3,28.6C71.3,127.1,70.1,127.6,69,127.6z"/>
                        </g>
                      </g>
                      <g>
                        <path class="st0" d="M167.7,186.8h-52c-2.2,0-3.9-1.8-3.9-3.9c0-2.2,1.8-3.9,3.9-3.9h52c2.2,0,3.9,1.8,3.9,3.9    C171.7,185.1,169.9,186.8,167.7,186.8z"/>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-xxs-12 col-md-8 service-tab-margin">
              <h4 style="text-align: left;">User Interface Development</h4>
              <div class="text-service">
                <p>
                  <span style="font-weight: 400;">
                    Syftet has years of experience in developing powerful backend and a frontend that will follow all the latest design and technology like FLAT Design 2.0 and Material design. We are highly experienced and can customize your frontend that would look beautiful and function well with all types of users and will distinguish you from your other competitors simultaneously.
                  </span>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xxs-12 col-md-6 col-sm-6 service-tab">
          <a>
            <div class="col-xxs-12 col-md-4" style="padding: 0;">
              <div class="block-image-stage  my-block-image-stage">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 283.5 286.4" style="enable-background:new 0 0 283.5 286.4;" xml:space="preserve">
                    <style type="text/css">.st0 {
                        fill: #878787;
                    }

                    .st1 {
                        fill: #0C88C4;
                    }

                    .st2 {
                        fill: #CE2030;
                    }</style>
                    <g>
                      <g>
                        <g>
                          <path class="st0" d="M232.7,104.2c-19.7,0-34-25.8-34-43.2c0-18.8,15.3-34,34-34c18.8,0,34,15.3,34,34     C266.7,78.4,252.4,104.2,232.7,104.2z M232.7,36.7c-13.4,0-24.3,10.9-24.3,24.3c0,14.6,11.8,33.5,24.3,33.5     c12.5,0,24.3-18.9,24.3-33.5C257,47.6,246.1,36.7,232.7,36.7z"/>
                        </g>
                        <g>
                          <path class="st0" d="M273.1,201.1h-15.3c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8h10.8l4.9-65.2c-7.9-2.8-27.9-9.5-40.9-9.5     c-16.4,0-38.9,8.3-39.1,8.4c-2.5,0.9-5.3-0.3-6.2-2.8c-0.9-2.5,0.3-5.3,2.8-6.2c1-0.4,24.3-9,42.5-9c18.2,0,46.5,11,47.7,11.4     c2,0.8,3.2,2.8,3.1,4.9l-5.6,73.3C277.7,199.1,275.6,201.1,273.1,201.1z"/>
                        </g>
                        <g>
                          <path class="st0" d="M248.6,276c-0.2,0-0.4,0-0.6,0c-2.7-0.3-4.5-2.7-4.2-5.4l9.2-74.9c0.3-2.7,2.7-4.5,5.4-4.2     c2.7,0.3,4.5,2.7,4.2,5.4l-9.2,74.9C253.1,274.2,251,276,248.6,276z"/>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path class="st1" d="M50.8,104.2c-19.7,0-34-25.8-34-43.2c0-18.8,15.3-34,34-34c18.8,0,34,15.3,34,34     C84.8,78.4,70.5,104.2,50.8,104.2z M50.8,36.7c-13.4,0-24.3,10.9-24.3,24.3c0,14.6,11.8,33.5,24.3,33.5     c12.5,0,24.3-18.9,24.3-33.5C75.1,47.6,64.2,36.7,50.8,36.7z"/>
                        </g>
                        <g>
                          <path class="st1" d="M25.7,201.1H10.4c-2.5,0-4.6-2-4.8-4.5L0,123.3c-0.2-2.1,1.1-4.1,3.1-4.9C4.3,118,32.6,107,50.8,107     c18.3,0,42.2,9.5,43.2,9.9c2.5,1,3.7,3.8,2.7,6.3c-1,2.5-3.8,3.7-6.3,2.7c-0.2-0.1-23.3-9.2-39.6-9.2c-13,0-33,6.7-40.9,9.5     l4.9,65.2h10.8c2.7,0,4.8,2.2,4.8,4.8S28.3,201.1,25.7,201.1z"/>
                        </g>
                        <g>
                          <path class="st1" d="M34.9,276c-2.4,0-4.5-1.8-4.8-4.2l-9.2-74.9c-0.3-2.7,1.6-5.1,4.2-5.4c2.7-0.3,5.1,1.6,5.4,4.2l9.2,74.9     c0.3,2.7-1.6,5.1-4.2,5.4C35.3,275.9,35.1,276,34.9,276z"/>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path class="st2" d="M142,84.5c-21.6,0-37.2-28.3-37.2-47.3C104.8,16.7,121.5,0,142,0s37.2,16.7,37.2,37.2     C179.2,56.2,163.6,84.5,142,84.5z M142,9.7c-15.2,0-27.5,12.3-27.5,27.5c0,16.4,13.3,37.6,27.5,37.6c14.2,0,27.5-21.2,27.5-37.6     C169.5,22,157.2,9.7,142,9.7z"/>
                        </g>
                        <g>
                          <path class="st2" d="M186.8,191.8h-16.9c-2.7,0-4.8-2.2-4.8-4.8c0-2.7,2.2-4.8,4.8-4.8h12.4l5.6-73.9c-5.3-3-20.3-10-45.9-10     c-25.5,0-40.6,7-45.9,10l5.6,73.9h12.4c2.7,0,4.8,2.2,4.8,4.8c0,2.7-2.2,4.8-4.8,4.8H97.2c-2.5,0-4.6-2-4.8-4.5l-6.1-81.2     c-0.1-1.6,0.6-3.2,1.9-4.2c0.7-0.5,18-13.3,53.9-13.3c35.9,0,53.1,12.7,53.9,13.3c1.3,1,2,2.6,1.9,4.2l-6.2,81.2     C191.4,189.9,189.3,191.8,186.8,191.8z"/>
                        </g>
                        <g>
                          <path class="st2" d="M159.6,286.4h-35.3c-2.5,0-4.5-1.9-4.8-4.3l-10.3-94.6c-0.3-2.7,1.6-5,4.3-5.3c2.7-0.3,5,1.6,5.3,4.3     l9.8,90.2h26.6l9.8-90.2c0.3-2.7,2.7-4.6,5.3-4.3c2.7,0.3,4.6,2.7,4.3,5.3l-10.2,94.6C164.2,284.6,162.1,286.4,159.6,286.4z"/>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-xxs-12 col-md-8 service-tab-margin">
              <h4 style="text-align: left;">Dedicated Web Developers</h4>
              <div class="text-service">
                <p>
                  <span style="font-weight: 400;">
                    At Syftet, we can guarantee you a team of highly professional web developers who can build your website from scratch with well-secured codes and customize your existing website. Our team will work on your project based on your instructions and demand, and code a responsive website. The team is dedicated to your service and will keep working until your project is done. We always deliver our project on time.
                  </span>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xxs-12 col-md-6 col-sm-6 service-tab">
          <a>
            <div class="col-xxs-12 col-md-4" style="padding: 0;">
              <div class="block-image-stage my-block-image-stage">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 283.5 321" style="enable-background:new 0 0 283.5 321;" xml:space="preserve">
                    <style type="text/css">.st0 {
                        fill: #878787;
                    }

                    .st1 {
                        fill: #0786C2;
                    }

                    .st2 {
                        fill: #CD2030;
                    }</style>
                    <g>
                      <path class="st0" d="M170.5,149.9c-0.6,0-1.2-0.1-1.8-0.4c-1.9-1-2.7-3.4-1.7-5.3l66.2-128.7c1-1.9,3.4-2.7,5.3-1.7l34.7,17.8   c0.9,0.5,1.6,1.3,1.9,2.3c0.3,1,0.2,2.1-0.2,3l-57.1,111c-1,1.9-3.4,2.7-5.3,1.7c-1.9-1-2.7-3.4-1.7-5.3L266,36.7l-27.7-14.2   L174,147.8C173.3,149.1,171.9,149.9,170.5,149.9z"/>
                      <path class="st0" d="M244.9,146.1c-0.6,0-1.2-0.1-1.8-0.4c-1.9-1-2.7-3.4-1.7-5.3l32.8-63.6L220.1,49c-1.9-1-2.7-3.4-1.7-5.3   c1-1.9,3.4-2.7,5.3-1.7l57.6,29.5c0.9,0.5,1.6,1.3,2,2.3c0.3,1,0.2,2.1-0.3,3l-34.6,67.2C247.7,145.3,246.4,146.1,244.9,146.1z"/>
                      <path class="st1" d="M94.9,149.9c-1.4,0-2.7-0.7-3.4-2L48.9,72.3L9,44.8L15.5,94l28.9,50c1.1,1.9,0.4,4.3-1.4,5.4   c-1.9,1.1-4.3,0.4-5.4-1.4L8.2,97.2c-0.3-0.4-0.4-0.9-0.5-1.5L0,37.1c-0.2-1.5,0.5-3.1,1.9-3.9c1.3-0.8,3-0.8,4.3,0.1l48,33   c0.5,0.3,0.9,0.8,1.2,1.3l43,76.4c1.1,1.9,0.4,4.3-1.5,5.4C96.3,149.7,95.6,149.9,94.9,149.9z"/>
                      <path class="st1" d="M14.1,103.4c-1.3,0-2.6-0.6-3.3-1.8c-1.2-1.8-0.7-4.3,1.2-5.5l37.2-24.1c1.8-1.2,4.3-0.7,5.5,1.2   c1.2,1.8,0.7,4.3-1.2,5.5l-37.2,24.1C15.6,103.2,14.8,103.4,14.1,103.4z"/>
                      <path class="st1" d="M67.9,149.9c-1.3,0-2.7-0.7-3.4-1.9L33,95c-1.1-1.9-0.5-4.3,1.4-5.4c1.9-1.1,4.3-0.5,5.4,1.4l31.5,52.9   c1.1,1.9,0.5,4.3-1.4,5.4C69.3,149.7,68.6,149.9,67.9,149.9z"/>
                      <path class="st0" d="M157.8,149.9C157.8,149.9,157.8,149.9,157.8,149.9c-2.2,0-4-1.8-3.9-4l0.8-80.3l-18.1-38l-16.5,39.8v78.5   c0,2.2-1.8,3.9-3.9,3.9c-2.2,0-3.9-1.8-3.9-3.9V66.6c0-0.5,0.1-1,0.3-1.5l20.2-48.7c0.6-1.4,2-2.4,3.5-2.4c1.3,0.1,3,0.8,3.7,2.2   L162.2,63c0.3,0.5,0.4,1.1,0.4,1.7l-0.9,81.2C161.7,148.1,159.9,149.9,157.8,149.9z"/>
                      <path class="st0" d="M116.1,74.9c-2.1,0-3.8-1.6-3.9-3.7c-0.1-2.2,1.6-4,3.7-4.1l39.4-2c2.3,0.1,4,1.6,4.1,3.7   c0.1,2.2-1.6,4-3.7,4.1l-39.4,2C116.3,74.9,116.2,74.9,116.1,74.9z"/>
                      <path class="st0" d="M137.5,28.6c-2.1,0-3.9-1.7-3.9-3.9L133.1,4c-0.1-2.2,1.7-4,3.9-4c0,0,0.1,0,0.1,0c2.1,0,3.9,1.7,3.9,3.9   l0.5,20.7C141.5,26.7,139.8,28.5,137.5,28.6C137.6,28.6,137.5,28.6,137.5,28.6z"/>
                      <path class="st0" d="M137.2,149.9c-2.2,0-3.9-1.7-3.9-3.9l-0.9-70.1c0-2.2,1.7-4,3.9-4c2.5,0.1,4,1.7,4,3.9l0.9,70.1   C141.1,148,139.4,149.8,137.2,149.9C137.2,149.9,137.2,149.9,137.2,149.9z"/>
                      <path class="st2" d="M43.8,286c-2,0-3.8-1.6-3.9-3.6L29.3,148.1c-0.1-1.1,0.3-2.2,1-3c0.8-0.8,1.8-1.3,2.9-1.3H221   c1.1,0,2.1,0.5,2.9,1.3c0.7,0.8,1.1,1.9,1,3l-10.5,134.3c-0.2,2.2-1.9,3.8-4.2,3.6c-2.2-0.2-3.8-2.1-3.6-4.2l10.2-130H37.5   l10.2,130c0.2,2.2-1.5,4.1-3.6,4.2C44,286,43.9,286,43.8,286z"/>
                      <path class="st2" d="M219.6,321H34.7c-2.2,0-3.9-1.8-3.9-3.9v-32.7c0-2.2,1.8-3.9,3.9-3.9h184.9c2.2,0,3.9,1.8,3.9,3.9V317   C223.5,319.2,221.8,321,219.6,321z M38.6,313.1h177v-24.8h-177V313.1z"/>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-xxs-12 col-md-8 service-tab-margin">
              <h4 style="text-align: left;">UX/UI Development & Design</h4>
              <div class="text-service">
                <p>
                <span style="font-weight: 400;">
                  There is no doubt that your Frontend architecture, design and style are of great importance for the success of software product popularity. At Syftet, you come across a team of expertise who will meet all requirements you demand and build a website from scratch to provide users with intuitive controls, excellent usability and the best possible outlook.
                </span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" bg-default">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Technologies We Use</h2>
      <div class="text-header-service content-page web-page">
        <p><span style="font-weight: 400;"></span></p>
        <p>
              <span style="font-weight: 400;">
                              Combination of HTML5, CSS, and JavaScript represented by the frameworks and libraries like AngularJS and
              React give us all the tools we need to develop sophisticated yet easy to use UI and UX. The precision of
              the controls and overall speed of the interface comes to life in every piece of software we are working on
              thanks to our rich experience in the latest front-end technologies and striving to perfection even in the
              smallest details.
            <noscript>
              <%= image_tag 'technology/Syftet-analysis.png', alt:"syftet-technology", width:"2000px", height:"300px" %>
            </noscript></span>
            <div style="text-align: -webkit-center">
              <%= image_tag 'technology/Syftet-analysis.png', style: 'width: 60%', alt:"syftet-technology", width:"2000px", height:"300px" %>
            </div>
        </p>
      </div>
    </div>
  </div>

  <div class="container custom-software-content">
    <div class="row rows-block-align-center text-center mt-3">
      <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size ">
        <a href="#">
          <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
            <div class="block-image-stage my-block-image-stage size-block-image-stage">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="422.241px" height="447.812px" viewBox="1.592 -1 422.241 447.812" enable-background="new 1.592 -1 422.241 447.812" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <g>
                      <path fill="#0087C4" d="M422.424,72.069c-11.041,92.144-13.727,183.417-25.039,275.283    c-59.402,32.359-127.689,65.063-186.445,98.064c-59.769-31.992-109.228-65.072-167.997-98.063C33.7,255.385,12.747,165.9,3,74.433    C70.996,48.698,141.392,25.366,209.756,0C280.866,23.804,351.032,48.55,422.424,72.069z M70.644,346.318    c19.604,0.699,29.524,0.508,54.168,1.107c9.483-24.387,17.876-49.861,29.537-72.068c43.642,0.715,84.942-0.91,127.597-1.184    c16.881,37.676,16.881,37.676,34.266,73.254c24.209-0.41,24.209-0.41,49.623,0C292.573,197.587,243.307,93.678,211.813,31.27    C162.686,141.778,116.656,240.26,70.644,346.318z"></path>
                      <path fill="#CE152F" d="M213.858,124.765c19.152,39.469,30.119,64.647,47.258,98.124c-30.795,0.863-57.932,0.375-88.607,1.123    C185.819,190.457,200.279,158.052,213.858,124.765z"></path>
                    </g>
                    <g>
                      <g>
                        <path fill="#CE152F" d="M211.008,446.811l-2.9-1.553c-32.883-17.602-63.131-35.871-92.383-53.539     c-22.9-13.832-46.58-28.135-71.641-42.203l-2.721-1.527l-0.312-3.105c-4.602-45.781-12.329-91.758-19.802-136.223     c-7.134-42.447-14.511-86.34-19.167-130.037l-0.491-4.607l4.333-1.64C41.927,58.75,79.198,45.608,115.242,32.9     c30.447-10.736,61.932-21.837,92.458-33.164L209.686-1l2.007,0.672c30.138,10.089,60.595,20.52,90.048,30.608     c38.367,13.14,78.041,26.728,117.428,39.703l4.664,1.537l-0.584,4.875c-5.275,44.033-8.65,88.645-11.912,131.787     c-3.387,44.781-6.889,91.09-12.523,136.836l-0.377,3.061l-2.707,1.475c-26.045,14.188-54.324,28.693-81.674,42.723     c-33.746,17.311-68.641,35.211-100.178,52.924L211.008,446.811z M52.674,340.581c24.22,13.666,47.101,27.486,69.255,40.867     c28.259,17.068,57.449,34.699,88.95,51.678c30.965-17.295,64.873-34.689,97.699-51.525c26.334-13.51,53.537-27.463,78.699-41.111     c5.381-44.475,8.791-89.57,12.092-133.213c3.154-41.684,6.41-84.732,11.387-127.432c-37.92-12.531-76.014-25.577-112.904-38.212     c-28.779-9.857-58.52-20.042-87.963-29.91c-29.995,11.104-60.823,21.974-90.657,32.494C84.702,56.392,49.044,68.965,14.516,81.96     c4.637,41.824,11.715,83.939,18.567,124.713C40.421,250.329,48.002,295.438,52.674,340.581z"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="text-center col-name">
            <h4>Angular</h4>
            <div class="text-service"></div>
          </div>
        </a></div>
      <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size ml-5">
        <a href="#">
          <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
            <div class="block-image-stage my-block-image-stage size-block-image-stage">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="497.726px" height="443.49px" viewBox="48.78 20.545 497.726 443.49" enable-background="new 48.78 20.545 497.726 443.49" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill="#0087C4" d="M441.954,158.251c19.851,7.148,40.635,14.775,58.977,25.642c17.43,10.323,34.808,23.554,42.311,42.311   c13.546,33.854-18.213,59.652-37.607,71.797c-20.008,12.524-40.832,20.877-63.25,27.777   c11.465,46.324,14.901,118.925-25.642,134.619c-24.421,9.454-51.59-3.737-68.378-13.248   c-19.316-10.941-35.266-23.314-50.002-37.606c-15.482,13.818-31.015,26.448-50.429,37.606   c-16.787,9.648-43.809,23.124-68.378,13.676c-40.775-15.681-37.547-87.369-26.497-134.618   c-34.405-12.117-68.067-24.964-90.174-50.856c-7.255-8.497-13.992-18.729-14.103-32.479c-0.212-26.389,21.671-43.995,38.89-55.131   c19.616-12.686,41.3-21.254,64.959-28.634c-10.844-46.962-14.621-119.426,26.069-135.047c24.066-9.239,51.727,3.609,68.378,13.249   c19.151,11.086,35.045,23.551,50.001,37.608c27.048-21.884,54.077-48.943,96.584-53.85c0.65-0.073,0.759-0.397,1.282-0.428   C458.088,17.246,454.17,105.641,441.954,158.251z M426.997,97.137c-0.598-26.925-4.901-56.767-32.907-53.42   c-34.491,4.122-59.292,29.595-80.344,47.438c11.398,11.864,21.725,24.095,32.052,37.608c2.938,3.841,7.378,11.376,10.687,12.821   c3.947,1.727,11.527,1.468,16.237,2.137c16.896,2.398,32.365,5.186,47.438,8.975C422.891,138.031,427.446,117.404,426.997,97.137z    M243.23,61.666c-12.66-7.982-30.146-19.557-49.574-17.949c-21.802,1.802-25.642,29.48-25.642,52.993   c0,20.859,3.011,40.683,6.838,55.983c20.15-4.922,41.591-8.553,64.104-11.11c13.459-17.598,27.27-34.84,42.309-50.856   C269.395,80.194,257.772,70.835,243.23,61.666z M297.078,106.967c-9.455,10.489-19.247,20.64-27.351,32.479   c17.719-1.159,37.385-1.083,55.13,0C317.515,128.411,306.874,116.972,297.078,106.967z M355.626,181.756   c-2.51-3.914-9.256-16.761-13.248-18.377c-2.481-1.005-7.617-0.542-12.394-0.854c-26.521-1.736-53.228-1.398-77.78,0.854   c-14.484,20.417-29.4,44.291-41.027,68.378c-1.816,3.763-4.75,8.802-4.701,11.111c0.048,2.265,3.481,6.979,5.128,10.257   c9.695,19.285,17.259,32.712,28.206,50.001c2.187,3.453,8.923,16.799,12.821,18.376c5.396,2.184,15.32,0.954,22.223,1.282   c23.564,1.12,47.026,0.729,68.378-1.282c17.271-24.467,32.363-51.114,45.729-79.489   C378.681,221.205,368.113,201.226,355.626,181.756z M180.408,174.49c4.149,13.943,8.436,27.748,14.103,40.174   c7.447-14.115,15.818-29.33,23.932-42.311c1.043-1.668,3.369-3.398,2.564-5.556C207.046,168.934,193.793,171.779,180.408,174.49z    M400.927,214.662c4.416-13.393,9.811-25.807,13.248-40.174c-13.448-2.792-26.669-5.811-41.024-7.691   C382.755,182.405,392.037,198.339,400.927,214.662z M80.405,222.781c-4.956,5.554-10.504,13.869-8.975,23.078   c2.706,16.293,22.689,28.488,36.326,36.326c16.688,9.591,32.858,16.391,51.284,21.795c5.805-21.974,13.679-41.878,22.223-61.111   c-8.879-19.612-15.829-41.153-23.505-61.97C129.508,190.852,98.446,202.568,80.405,222.781z M413.749,242.441   c8.967,19.239,16.221,40.19,23.077,61.54c16.374-5.538,33.05-11.636,48.72-20.513c14.089-7.981,30.695-18.395,36.753-32.907   c5.615-13.456-4.132-24.188-11.966-31.625c-19.351-18.367-47.466-29.813-73.935-38.036   C429.818,202.385,422.167,222.797,413.749,242.441z M373.576,318.084c13.872-2.512,27.854-4.911,41.025-8.12   c-4.109-13.98-8.542-27.644-14.104-40.172C392.502,286.582,381.615,302.76,373.576,318.084z M180.835,309.965   c12.996,3.102,28.016,6.458,41.455,7.69c-10.42-14.794-18.948-31.479-28.206-47.438   C189.567,283.368,184.39,295.855,180.835,309.965z M356.054,342.871c-13.058,17.854-27.253,34.57-41.882,50.854   c10.42,9.611,22.104,19.44,35.472,28.206c12.614,8.271,28.041,17.495,45.302,18.805c27.563,2.091,31.817-25.158,32.053-50.854   c0.194-21.388-2.616-42.818-6.838-57.694C400.925,336.174,378.687,340.86,356.054,342.871z M174.852,333.469   c-4.181,16.949-6.751,36.229-6.411,58.549c0.385,25.211,5.616,51.249,32.907,49.146c17.037-1.313,31.704-10.696,44.446-19.229   c13.506-9.044,26.457-18.287,35.471-28.633c-11.553-11.692-21.691-24.123-32.052-37.608c-2.792-3.633-7.569-11.615-10.684-12.819   c-3.96-1.53-11.258-1.477-16.24-2.139c-16.399-2.18-33.739-5.279-47.01-8.547C174.781,332.259,174.815,332.863,174.852,333.469z    M297.933,377.488c7.234-7.066,14.567-16.074,20.94-23.933c2.271-2.801,5.901-5.5,5.556-8.12   c-17.516,1.037-37.852-0.055-54.703,0.427C279.002,356.531,287.529,367.948,297.933,377.488z"></path>
                    <path fill="#CE152F" d="M294.514,196.286c25.669-1.842,46.831,16.873,49.146,40.6c2.81,28.792-17.396,49.594-41.454,51.711   c-16.122,1.418-29.428-5.068-37.608-13.249c-7.489-7.49-13.535-18.215-13.675-32.479c-0.13-13.186,5.787-24.644,12.821-32.054   C270.917,203.259,280.365,197.3,294.514,196.286z"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="text-center col-name"><h4>React</h4>
            <div class="text-service"></div>
          </div>
        </a></div>
      <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size ml-5">
        <a href="#">
          <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
            <div class="block-image-stage my-block-image-stage size-block-image-stage">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="522px" height="444.27px" viewBox="-19.359 22.628 522 444.27" enable-background="new -19.359 22.628 522 444.27" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill="#CE152F" d="M96.022,22.628c29.306,0,61.043,0,93.462,0c20.978,36.774,36.248,62.381,55.717,97.782   c21.802-34.516,22.514-37.202,58.002-97.782c30.086,0,56.422,0,92.391,0c-2.951,5.151-2.951,5.151-7.48,13.789   c-45.801,79.12-93.783,168.304-142.304,246.285C190.086,185.142,149.501,114.547,96.022,22.628z"></path>
                  </g>
                  <g>
                    <path fill="#0087C4" d="M246.186,466.898C196.004,378.696,35.411,109.242-16.359,22.628c44.372,0,58.255,0.171,106,0.171   c42.781,74.702,85.002,149.862,156.024,272.646c47.737-80.743,116.726-200.964,156.476-272.646c30.751,0,69.748,0,100.499,0"></path>
                  </g>
                  <path fill="#0087C4" d="M-19.359,190.946"></path>
                  <path fill="#0087C4" d="M-15.359,184.446"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="text-center col-name"><h4>Vue.JS</h4>
            <div class="text-service"></div>
          </div>
        </a></div>
      <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size ml-5">
        <a href="#">
          <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
            <div class="block-image-stage my-block-image-stage size-block-image-stage">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="497.726px" height="443.49px" viewBox="48.78 20.545 497.726 443.49" enable-background="new 48.78 20.545 497.726 443.49" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill="#CE152F" d="M441.954,158.251c19.851,7.148,40.635,14.775,58.977,25.642c17.43,10.323,34.808,23.554,42.311,42.311   c13.546,33.854-18.213,59.652-37.607,71.797c-20.008,12.524-40.832,20.877-63.25,27.777   c11.465,46.324,14.901,118.925-25.642,134.619c-24.421,9.454-51.59-3.737-68.378-13.248   c-19.316-10.941-35.266-23.314-50.002-37.606c-15.482,13.818-31.015,26.448-50.429,37.606   c-16.787,9.648-43.809,23.124-68.378,13.676c-40.775-15.681-37.547-87.369-26.497-134.618   c-34.405-12.117-68.067-24.964-90.174-50.856c-7.255-8.497-13.992-18.729-14.103-32.479c-0.212-26.389,21.671-43.995,38.89-55.131   c19.616-12.686,41.3-21.254,64.959-28.634c-10.844-46.962-14.621-119.426,26.069-135.047c24.066-9.239,51.727,3.609,68.378,13.249   c19.151,11.086,35.045,23.551,50.001,37.608c27.048-21.884,54.077-48.943,96.584-53.85c0.65-0.073,0.759-0.397,1.282-0.428   C458.088,17.246,454.17,105.641,441.954,158.251z M426.997,97.137c-0.598-26.925-4.901-56.767-32.907-53.42   c-34.491,4.122-59.292,29.595-80.344,47.438c11.398,11.864,21.725,24.095,32.052,37.608c2.938,3.841,7.378,11.376,10.687,12.821   c3.947,1.727,11.527,1.468,16.237,2.137c16.896,2.398,32.365,5.186,47.438,8.975C422.891,138.031,427.446,117.404,426.997,97.137z    M243.23,61.666c-12.66-7.982-30.146-19.557-49.574-17.949c-21.802,1.802-25.642,29.48-25.642,52.993   c0,20.859,3.011,40.683,6.838,55.983c20.15-4.922,41.591-8.553,64.104-11.11c13.459-17.598,27.27-34.84,42.309-50.856   C269.395,80.194,257.772,70.835,243.23,61.666z M297.078,106.967c-9.455,10.489-19.247,20.64-27.351,32.479   c17.719-1.159,37.385-1.083,55.13,0C317.515,128.411,306.874,116.972,297.078,106.967z M355.626,181.756   c-2.51-3.914-9.256-16.761-13.248-18.377c-2.481-1.005-7.617-0.542-12.394-0.854c-26.521-1.736-53.228-1.398-77.78,0.854   c-14.484,20.417-29.4,44.291-41.027,68.378c-1.816,3.763-4.75,8.802-4.701,11.111c0.048,2.265,3.481,6.979,5.128,10.257   c9.695,19.285,17.259,32.712,28.206,50.001c2.187,3.453,8.923,16.799,12.821,18.376c5.396,2.184,15.32,0.954,22.223,1.282   c23.564,1.12,47.026,0.729,68.378-1.282c17.271-24.467,32.363-51.114,45.729-79.489   C378.681,221.205,368.113,201.226,355.626,181.756z M180.408,174.49c4.149,13.943,8.436,27.748,14.103,40.174   c7.447-14.115,15.818-29.33,23.932-42.311c1.043-1.668,3.369-3.398,2.564-5.556C207.046,168.934,193.793,171.779,180.408,174.49z    M400.927,214.662c4.416-13.393,9.811-25.807,13.248-40.174c-13.448-2.792-26.669-5.811-41.024-7.691   C382.755,182.405,392.037,198.339,400.927,214.662z M80.405,222.781c-4.956,5.554-10.504,13.869-8.975,23.078   c2.706,16.293,22.689,28.488,36.326,36.326c16.688,9.591,32.858,16.391,51.284,21.795c5.805-21.974,13.679-41.878,22.223-61.111   c-8.879-19.612-15.829-41.153-23.505-61.97C129.508,190.852,98.446,202.568,80.405,222.781z M413.749,242.441   c8.967,19.239,16.221,40.19,23.077,61.54c16.374-5.538,33.05-11.636,48.72-20.513c14.089-7.981,30.695-18.395,36.753-32.907   c5.615-13.456-4.132-24.188-11.966-31.625c-19.351-18.367-47.466-29.813-73.935-38.036   C429.818,202.385,422.167,222.797,413.749,242.441z M373.576,318.084c13.872-2.512,27.854-4.911,41.025-8.12   c-4.109-13.98-8.542-27.644-14.104-40.172C392.502,286.582,381.615,302.76,373.576,318.084z M180.835,309.965   c12.996,3.102,28.016,6.458,41.455,7.69c-10.42-14.794-18.948-31.479-28.206-47.438   C189.567,283.368,184.39,295.855,180.835,309.965z M356.054,342.871c-13.058,17.854-27.253,34.57-41.882,50.854   c10.42,9.611,22.104,19.44,35.472,28.206c12.614,8.271,28.041,17.495,45.302,18.805c27.563,2.091,31.817-25.158,32.053-50.854   c0.194-21.388-2.616-42.818-6.838-57.694C400.925,336.174,378.687,340.86,356.054,342.871z M174.852,333.469   c-4.181,16.949-6.751,36.229-6.411,58.549c0.385,25.211,5.616,51.249,32.907,49.146c17.037-1.313,31.704-10.696,44.446-19.229   c13.506-9.044,26.457-18.287,35.471-28.633c-11.553-11.692-21.691-24.123-32.052-37.608c-2.792-3.633-7.569-11.615-10.684-12.819   c-3.96-1.53-11.258-1.477-16.24-2.139c-16.399-2.18-33.739-5.279-47.01-8.547C174.781,332.259,174.815,332.863,174.852,333.469z    M297.933,377.488c7.234-7.066,14.567-16.074,20.94-23.933c2.271-2.801,5.901-5.5,5.556-8.12   c-17.516,1.037-37.852-0.055-54.703,0.427C279.002,356.531,287.529,367.948,297.933,377.488z"></path>
                    <path fill="#0087C4" d="M294.514,196.286c25.669-1.842,46.831,16.873,49.146,40.6c2.81,28.792-17.396,49.594-41.454,51.711   c-16.122,1.418-29.428-5.068-37.608-13.249c-7.489-7.49-13.535-18.215-13.675-32.479c-0.13-13.186,5.787-24.644,12.821-32.054   C270.917,203.259,280.365,197.3,294.514,196.286z"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="text-center col-name"><h4>React Native</h4>
            <div class="text-service"></div>
          </div>
        </a></div>
      <div class="col-xs-6 col-md-4  col-sm-3 col-lg-2 web-develop-service-col-size service-tab service-col-size ml-5">
        <a href="#">
          <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
            <div class="block-image-stage my-block-image-stage size-block-image-stage">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="458.318px" height="439.509px" viewBox="68.251 24.055 458.318 439.509" enable-background="new 68.251 24.055 458.318 439.509" xml:space="preserve" class="svg replaced-svg">
                  <g>
                    <path fill="#0087C4" d="M68.251,214.906c0.153,0,0.306,0,0.459,0c0.697-60.126,32.15-94.995,58.723-127.08   c-11.76,24.467-17.892,50.836-17.892,83.955c0,30.134,8.852,60.153,18.81,82.58c20.667,46.545,53.468,83.09,93.131,109.648   c40.42,27.067,92.213,47.07,158.737,43.584c61.965-3.248,105.966-30.935,134.881-66.064   c-32.817,69.182-88.705,115.302-183.97,122.035c-7.952,0-15.904,0-23.854,0c-0.015-0.446-0.563-0.354-0.917-0.459   c-37.277-0.225-67.833-10.664-94.509-23.855c-26.482-13.097-49.425-29.697-68.816-49.088   c-38.85-38.852-69.99-88.853-74.781-161.031C68.251,224.388,68.251,219.647,68.251,214.906z"></path>
                    <path fill="#0087C4" d="M340.765,24.055c-19.639,37.382-0.557,82.211,19.271,105.06c22.03,25.393,55.493,44.216,100.014,41.749   c24.401-1.351,41.744-13.262,52.3-26.148c-14.935,27.106-35.872,47.906-73.402,50.466c-35.714,2.437-63.407-9.585-84.415-27.068   c-19.785-16.466-37.341-42.99-39.454-72.026C312.532,61.17,326.643,43.158,340.765,24.055z"></path>
                    <path fill="#CE152F" d="M244.88,46.077c-7.767,16.376-14.801,36.362-15.14,61.476c-0.319,23.604,5.028,42.969,13.305,61.935   c14.511,33.252,40.518,62.347,69.275,81.204c29.968,19.652,72.063,34.954,118.821,29.82c42.385-4.653,73.072-25.1,94.051-51.842   c0.313-0.397,0.121-2.292,1.377-1.376c-17.698,43.089-49.574,73.98-96.346,87.168c-25.875,7.295-56.354,7.643-83.497,3.67   c-24.953-3.652-46.512-15.563-64.229-27.068c-36.822-23.912-65.329-58.992-76.616-106.436c-6.155-25.873-4.898-57.686,3.211-80.286   C217.243,81.633,232.138,65.22,244.88,46.077z"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="text-center col-name"><h4>jQuery</h4>
            <div class="text-service"></div>
          </div>
        </a></div>
    </div>
  </div>
</section>

<section class="bg-gray-lighter section-md">
  <div class="container">
    <div class="row">
      <h2 class="text-center">OUR WEB EXPERTISE</h2>
      <div class="web-develop-over-blue-block text-header-service content-page over-blue-block ">
        <p>
          <span style="font-weight: 400;">
            Have you ever wondered how long a user takes to decide whether he will purchase your products or not . The research has shown that on average a user takes only 30 seconds before making any decision. So it is of great importance to present your web page based on customer’s demands. Our experts have always prioritised on retaining users as they build  trendy, modern and intuitive interfaces. We have learned through years of experience and now our expertise in web development will develop web applications and solutions with 100% security and guarantee.
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="web-develop min-980-padding-20">
        <div class="web-develop-my-head-purple-block">Web Applications Development</div>
        <div class="web-develop-my-text-purple-block my-text-purple-block">
          <p>
            <%= image_tag 'technology/syftet-web-application-development.png', class: "alignnone size-full wp-image-14926 lazyloaded", alt:"syftet-technology-web-application-development", width: "75%" %>
          </p>
        </div>
      </div>
      <div class="web-develop min-980-padding-20">
        <div class="web-develop-my-text-blue-block my-text-blue-block">
          <p>
            <span style="font-weight: 400;">
              Syftet will develop the next-gen  web applications, web based software and SaaS solutions that will work across all browsers and platforms. We are very serious about responsive and attractive interfaces. We believe that a modern interface will promote your business and retain your users. At Syftet, we value a website as your first step to success.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="web-develop min-980-padding-20">
        <div class="web-develop-my-head-purple-block ">Mobile Applications Development</div>
        <div class="web-develop-my-text-purple-block my-text-purple-block">
          <p>
            <%= image_tag 'technology/syftet-mobile-application-development.png',class: "alignnone size-full wp-image-14931 lazyloaded", alt:"syftet-technology-mobile-appication-development", width:"50%" %>
          </p>
        </div>
      </div>
      <div class="web-develop min-980-padding-20">
        <div class="web-develop-my-text-blue-block my-text-blue-block">
          <p>
            <span style="font-weight: 400;">
              We have a special team of developers who develop mobile applications that work on all platforms whether they are tabs, phones or other multimedia devices. Our engineers,  UX specialists, and designers are aware of the advantages and flaws of mobile devices, so they create software considering both facts.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="web-develop min-980-padding-20">
        <div class="web-develop-my-head-purple-block ">Desktop Applications Development</div>
        <div class="web-develop-my-text-purple-block my-text-purple-block">
          <p>
            <%= image_tag 'technology/syftet-desktop-application-development.png', class: "alignnone size-full wp-image-14929 lazyloaded", alt:"syftet-technology-desktop-application-development", width:"75%" %>
          </p>
        </div>
      </div>
      <div class="web-develop min-980-padding-20">
        <div class="web-develop-my-text-blue-block my-text-blue-block">
          <p>
            <span style="font-weight: 400;">
              Our desktop experts will research and analyse your requirements and then come up with the best software solution which will be stable and efficient and run well in your local machine. Our team is ready to apply their deep understanding  of desktop operating systems and experience into your ideas. At Syftet, you will find reliability and a group of talented desktop developers who will accomplish your project with  great attention.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-md bg-default">
  <div class="container">
    <div class="row">
      <h2 class="text-center">WHAT WE VALUE MOST WHEN CREATING THE FRONTEND</h2>
      <div class="web-develop-text-header-service text-header-service content-page">
        <p>
          <span style="font-weight: 400;">
            At Syftet, the things that we value most are usability, beautiful appearance, rich functionality, interactivity, responsiveness, user-friendly functions, modern web features and, of course, stability. Our team always adheres to these principles while developing a new customer site or frontend. We are assured that these features will keep your site unique from your competitors and therefore produce a high user retention rate. Our motion is to keep the frontend simple and free of complexity because modern day users like simplicity more than complexity. We believe that if your users enjoy browsing your site, they will keep coming and therefore you will get a high rate of retention.
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="container my-monitor-block">
    <div class="web-develop-row">
      <div class="row">
        <div class="web-develop-text-block col-md-6 min-980-padding-20">
          <div class="value-title">
            <h3>Usability</h3>
          </div>
          <div>
            <p>
              The very first step to make a positive impression to your user is to make the Interface usable and attractive. We all feel comfortable if the web portal is comfortable and easy to use. At Syftet, our experts make sure it is easy to navigate and functionable across all platforms and devices. We ensure your frontend has some good navigation features.
            </p>
          </div>
        </div>
        <div class="web-develop-img-block col-md-6">
          <%= image_tag 'technology/syftet-usability.png', classL: 'lazyloaded' %>
        </div>
      </div>
    </div>
    <div class="web-develop-row">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'technology/syftet-presentation.png', class: 'lazyloaded' %>
        </div>
        <div class="web-develop-text-block col-md-6 min-980-padding-20">
          <div class="value-title">
            <h3>Presentation</h3>
          </div>
          <div>
            <p>
              Remember why you left the last web application ? The probable reason can be the outdated design and functions of the web portal. So, why not change those and make your site much more modern with an eye-catching presentation which will represent your brand identity and simplicity? Our developers will exactly develop such a frontend that will appeal to hundreds of users.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="web-develop-row">
      <div class="row">
        <div class="web-develop-text-block col-md-6 min-980-padding-20">
          <div class="value-title">
            <h3>Functionality</h3>
          </div>
          <div>
            <p>
              In modern day, it is important to have rich functionality in your website. Users desire much more functions in their applications . Our team of experts know how to build a website with functions that will retain your users. Your website should function well across all devices and our team will ensure that while making your application.
            </p>
          </div>
        </div>
        <div class="web-develop-img-block col-md-6">
          <%= image_tag 'technology/syftet-functionality.png', class: 'lazyloaded' %>
        </div>
      </div>
    </div>
    <div class="web-develop-row">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'technology/syftet-performance.png', class: 'lazyloaded' %>
        </div>
        <div class="web-develop-text-block col-md-6 min-980-padding-20">
          <div class="value-title">
            <h3>Performance</h3>
          </div>
          <div>
            <p>
              No users prefer to browse a website which takes unlimited to to be loaded and performs very poorly. Our team will make sure your application is light and easily performs better in terms of speed, smoothness, usability and functionality. Choosing Syftet as your partner can be one of your best decisions as we will optimize the performance of your website and ensure  a high-performance application.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-md bg-default">
  <div class="container custom-software-content we-development-top">
    <h2 class="text-center">CONSISTENCY ACROSS ALL DEVICES AND BROWSERS</h2>
    <div class="text-header-service content-page">
      <p><span style="font-weight: 400;"></span></p>
      <p>
        <span style="font-weight: 400;">
          A dedicated team at Syftet will make sure your website works across all browsers and devices. Our team will check all cross platforms before handing the project to you. Our full-fledged teams of software engineers will assist you to increase the performance of your site and will develop the project in such a manner that it will look fine to all devices. We emphasize the efficiency of your web portal.
        </span>
      </p>
      <p></p>
      <p></p>
      <%= image_tag 'browsers.png', width: '2000', height: '664' %>
    </div>
  </div>
</section>

<section class="section-md bg-default">
  <div class="container" style="padding-top: 40px;">
    <div class="row"><h2 class="text-center">Dedicated Web Development Team By SYFTET</h2>
      <div class="text-header-service content-page">
        <p>
          A dedicated team at Syftet will make sure your website works across all browsers and devices. Our team will check all cross platforms before handing the project to you. Our full-fledged teams of software engineers will assist you to increase the performance of your site and will develop the project in such a manner that it will look fine to all devices. We emphasize the efficiency of your web portal.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="web-develop-approach-list net-development-approach-list">
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li>
                <strong>Lower expenses</strong>: We make sure you have your project with the minimal cost. IT firms in Bangladesh can be highly expensive sometimes, but we always guarantee the same flat rate . Our all clients get a significant advantage of our fees with the maximum quality.
              </li>
              <li>
                <strong>Quick and easy setup</strong>: SYFTET has access to the best web developers and IT specialists in Bangladesh who will set up your web site in no time. We prioritize quick responses. We make sure you have your project ready on time.
              </li>
              <li>
                <strong>High engagement level</strong>: Syftet will make sure you have a long contractual agreement with the team who will keep supporting you on a regular basis. With our support and guide, you can always remain confident about the performance of your site.

              </li>
              <li>
                <strong>Niche technology and domain expertise</strong>: Syftet always makes sure you have the best domain experts besides you whether you need support for software setting up or you have problems with cross functional problems. Our dedicated team will ensure you enjoy the best service available in the field.
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul>
              <li>
                <strong>Flexibility</strong>: Let’s say you are in a rush and you need a quick turnaround of your project or you have time and you want to slowly progress your application. In this case, we can assure you that we are very flexible and we can increase or decrease based on the urgency of the project
              </li>
              <li>
                <strong>Excellency in development process</strong>: Our team will always work smoothly and very carefully  based on your requirements. They will ensure you have what you demand . Our dedicated team has experience and knowledge to run your project well.
              </li>
              <li>
                <strong>Full control</strong>: We use such methodologies that will ensure you have full control over your software or web-based application or your frontend. We will always make sure smooth communication and a system to monitor the performance continuously.
              </li>
              <li>
                <strong>Transparent hiring</strong>: We maintain an absolute unique style which means you will be able to pick up your desired software engineer of a team to develop your project. They can even work with your in-house team!
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
