<footer>
  <div class="ftr-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 links">
          <div class="new-footer-nav">
            <div id="footer-nav-col" class="footer-nav-column">
              <div id="footer-company" class="footer-column-name">
                <a href="<%= root_path %>">Company</a>
                <span></span></div>
              <ul id="footer-company-list">
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="<%= how_we_work_path %>">How We Work</a></li>
                <li><a href="<%= career_path %>">Career</a></li>
                <li><a href="<%= blogs_path %>">Blog</a></li>
                <li><a href="<%= portfolios_path %>">Portfolio</a></li>
                <li><a href="<%= contact_us_path %>">Contact Us</a></li>
                <li><a href="<%= privacy_and_policy_path %>">Privacy Policy</a></li>
              </ul>
            </div>
            <div id="footer-nav-col" class="footer-nav-column">
              <div id="footer-expertise" class="footer-column-name">
                <a href="<%= software_development_services_path %>">Services</a>
                <span></span>
              </div>
              <ul id="footer-expertise-list">
                <li>
                  <a href="<%= desktop_application_development_company_path %>">Desktop Development</a>
                </li>

                <li>
                  <a href="<%= mobile_app_development_company_path %>">Mobile Development</a>
                </li>
                <li>
                  <a href="<%= custom_software_development_company_path %>">Custom Software</a>
                </li>
                <li>
                  <a href="<%= web_development_company_path %>">Web Applications</a>
                </li>
                <li>
                  <a href="<%= website_maintenance_services_company_path %>">Maintenance</a>
                </li>
              </ul>
            </div>

            <div id="footer-nav-col" class="footer-nav-column">
              <div id="footer-techno" class="footer-column-name">
                <a href="<%= technologies_path %>">Technologies</a>
                <span></span>
              </div>
              <ul id="footer-techno-list">
                <li><a href="<%= dot_net_development_path %>">.NET</a></li>
                <li><a href="<%= ruby_on_rails_development_company_path %>">Ruby on Rails</a></li>
                <li><a href="<%= java_application_development_services_path %>">Java</a></li>
                <li><a href="<%= web_development_company_path %>">Web Development</a></li>
              </ul>
            </div>
            <div id="footer-nav-col" class="footer-nav-column">
              <div id="footer-about-us" class="footer-column-name">
                <a href="<%= about_us_path %>">About Us</a>
                <span></span>
              </div>
              <ul id="footer-about-us-list">
                <li><a href="<%= company_profile_path %>">Company Profile</a></li>
                <li><a href="<%= best_teams_path %>">Best Team</a></li>
                <li><a href="<%= photo_gallery_path  %>">Gallery</a></li>
              </ul>
            </div>
            <div class="footer-nav-column">
              <div class="footer-column-name address">
                <a href="<%= contact_us_path %>"> Location </a>
              </div>
              <ul class="list-xs footer-address-list">
                <li>
                  <dl class="list-terms-minimal">
                    <strong class="">Office</strong><br><br>
                    <ul>
                      <li>House #37, Road #12<br> Uttara, Dhaka 1220</li>
                    </ul>
                  </dl>
                </li>
                <br>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 follow follow-new">
          <ul>
            <li class="email"><a href="mailto:contact@zerodevs.com">zerodevs@gmail.com</a></li>
            <li class="phone phone-new display-block">
              <div class="usa-number">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 473.68 473.68" style="enable-background:new 0 0 473.68 473.68;" xml:space="preserve">
                  <g>
                    <circle style="fill:#FFFFFF;" cx="236.85" cy="236.85" r="236.83"/>
                    <circle style="fill:#FFFFFF;" cx="236.85" cy="236.85" r="236.83"/>
                  </g>
                  <path style="fill:#258F44;" d="M460.144,157.874c-0.026-0.075-0.049-0.138-0.075-0.206C429.756,72.2,351.79,9.319,258.109,0.972
	c36.248,19.872,46.834,82.832,56.109,156.901c6.335,50.593,6.376,106.339,0.12,156.999c-9.196,74.47-19.827,137.874-56.228,157.829
	c93.848-8.362,171.927-71.46,202.12-157.156c0.079-0.228,0.146-0.452,0.228-0.673c8.526-24.438,13.219-50.682,13.219-78.03
	C473.678,209.139,468.88,182.577,460.144,157.874z"/>
                  <path style="fill:#359846;" d="M326.413,157.874c-9.27-74.07-32.052-137.029-68.303-156.901C251.098,0.352,244.007,0,236.835,0
	C133.807,0,46.188,65.802,13.608,157.668c-0.026,0.067-0.049,0.131-0.075,0.206c-8.735,24.703-13.533,51.265-13.533,78.968
	c0,27.348,4.693,53.592,13.219,78.03c0.079,0.221,0.15,0.445,0.228,0.673C45.9,407.647,133.637,473.68,236.835,473.68
	c7.173,0,14.263-0.352,21.274-0.98c36.401-19.954,59.227-83.359,68.423-157.829C332.789,264.212,332.747,208.47,326.413,157.874z"/>
                  <circle style="fill:#EC1C24;" cx="236.85" cy="236.85" r="87.25"/>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>
                <a href="tel:+8801722647240">+88 (017) 80290571</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-sm-12 social">
          <ul>
            <li class="facebook-new">
              <a href="https://www.facebook.com/zerodevs">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve">
                  <g id="Flat_copy">
                    <g>
                      <g>
                        <path d="M16,31.625c-8.616,0-15.625-7.01-15.625-15.625C0.375,7.384,7.384,0.375,16,0.375     c8.615,0,15.625,7.009,15.625,15.625C31.625,24.615,24.615,31.625,16,31.625z" fill="#FFFFFF"/>
                        <path d="M16,0.75c8.409,0,15.25,6.841,15.25,15.25S24.409,31.25,16,31.25S0.75,24.409,0.75,16S7.591,0.75,16,0.75      M16,0C7.163,0,0,7.163,0,16c0,8.836,7.163,16,16,16s16-7.164,16-16C32,7.163,24.837,0,16,0L16,0z" fill="#E5E5E5"/>
                      </g>
                    </g>
                    <path d="M13.69,24.903h3.679v-8.904h2.454l0.325-3.068h-2.779l0.004-1.536c0-0.8,0.076-1.229,1.224-1.229h1.534   V7.097h-2.455c-2.949,0-3.986,1.489-3.986,3.992v1.842h-1.838v3.069h1.838V24.903z" fill="#333333"/>
                  </g>
                </svg>
              </a>
            </li>
            <li class="twitter-new">
              <a href="https://twitter.com/zerodevs">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve">
                  <g id="Flat_copy">
                    <g>
                      <g>
                        <path d="M16,31.625c-8.616,0-15.625-7.01-15.625-15.625S7.384,0.375,16,0.375c8.615,0,15.625,7.01,15.625,15.625     S24.615,31.625,16,31.625z" fill="#FFFFFF"/>
                        <path d="M16,0.75c8.409,0,15.25,6.841,15.25,15.25S24.409,31.25,16,31.25S0.75,24.409,0.75,16S7.591,0.75,16,0.75      M16,0C7.163,0,0,7.163,0,16c0,8.836,7.163,16,16,16s16-7.164,16-16C32,7.163,24.837,0,16,0L16,0z" fill="#E5E5E5"/>
                      </g>
                    </g>
                    <path d="M18.226,8.886c-1.59,0.579-2.595,2.071-2.481,3.704l0.038,0.63l-0.636-0.077   c-2.315-0.296-4.338-1.299-6.056-2.984l-0.84-0.836L8.036,9.94c-0.458,1.376-0.165,2.83,0.789,3.808   c0.509,0.54,0.394,0.617-0.483,0.296c-0.305-0.103-0.573-0.18-0.598-0.141c-0.089,0.09,0.216,1.26,0.458,1.724   c0.331,0.644,1.005,1.273,1.743,1.647l0.624,0.296L9.83,17.581c-0.712,0-0.738,0.013-0.661,0.284   c0.254,0.836,1.259,1.724,2.379,2.11l0.789,0.27l-0.687,0.412c-1.018,0.593-2.214,0.927-3.41,0.951   c-0.573,0.013-1.044,0.064-1.044,0.103c0,0.128,1.553,0.848,2.455,1.132c2.71,0.836,5.929,0.475,8.346-0.952   c1.718-1.016,3.435-3.036,4.237-4.992c0.433-1.041,0.865-2.945,0.865-3.858c0-0.592,0.038-0.669,0.75-1.376   c0.42-0.412,0.814-0.862,0.891-0.99c0.128-0.245,0.114-0.245-0.534-0.026c-1.081,0.386-1.234,0.335-0.699-0.244   c0.394-0.412,0.865-1.158,0.865-1.376c0-0.038-0.191,0.026-0.407,0.141c-0.229,0.129-0.738,0.322-1.12,0.437l-0.687,0.219   L21.535,9.4c-0.344-0.231-0.826-0.489-1.081-0.566C19.804,8.654,18.812,8.68,18.226,8.886z" fill="#333333"/>
                  </g>
                </svg>
              </a>
            </li>
            <li class="instagram-new">
              <a href="https://www.linkedin.com/company/zerodevs/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve">
                  <g id="Flat_copy">
                    <g>
                      <g>
                        <path d="M16.005,31.614c-8.615,0-15.625-7.01-15.625-15.625S7.39,0.364,16.005,0.364S31.63,7.374,31.63,15.989     S24.62,31.614,16.005,31.614z" fill="#FFFFFF"/>
                        <path d="M16.005,0.739c8.409,0,15.25,6.841,15.25,15.25s-6.841,15.25-15.25,15.25s-15.25-6.841-15.25-15.25     S7.596,0.739,16.005,0.739 M16.005-0.011c-8.837,0-16,7.163-16,16c0,8.836,7.163,16,16,16s16-7.164,16-16     C32.005,7.153,24.842-0.011,16.005-0.011L16.005-0.011z" fill="#E5E5E5"/>
                      </g>
                    </g>
                    <path d="M24.299,22.932v-6.137c0-3.288-1.755-4.818-4.096-4.818c-1.889,0-2.735,1.039-3.206,1.768v-1.517h-3.558   c0.047,1.005,0,10.704,0,10.704h3.558v-5.978c0-0.319,0.023-0.639,0.117-0.867c0.257-0.639,0.842-1.301,1.825-1.301   c1.288,0,1.803,0.981,1.803,2.42v5.727L24.299,22.932L24.299,22.932z M9.69,10.767c1.24,0,2.013-0.823,2.013-1.85   c-0.023-1.05-0.773-1.849-1.99-1.849S7.701,7.866,7.701,8.916c0,1.028,0.772,1.85,1.967,1.85H9.69z M11.469,22.932V12.228H7.912   v10.704H11.469z" fill="#333333"/>
                  </g>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="ftr-btm text-center">
    <div class="container">Copyright © ZeroDevs 2019 - 2022</div>
  </div>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        $('#footer-company').click(function () {
            if ($('#footer-company-list').hasClass('open')) {
                $('#footer-company-list').removeClass('open');
            } else {
                $('#footer-company-list').addClass('open');
            }
        });
        $('#footer-expertise').click(function () {
            if ($('#footer-expertise-list').hasClass('open')) {
                $('#footer-expertise-list').removeClass('open');
            } else {
                $('#footer-expertise-list').addClass('open');
            }
        });
        $('#footer-techno').click(function () {
            if ($('#footer-techno-list').hasClass('open')) {
                $('#footer-techno-list').removeClass('open');
            } else {
                $('#footer-techno-list').addClass('open');
            }
        });
        $('#footer-about-us').click(function () {
            if ($('#footer-about-us-list').hasClass('open')) {
                $('#footer-about-us-list').removeClass('open');
            } else {
                $('#footer-about-us-list').addClass('open');
            }
        });


    });
</script>
